.rcn-header {
    width: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  &__productBanner {
      order: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: $rcn-semantic-gap-horizontal-600;
      background-color: $rcn-semantic-color-static-background-standard;
      align-items: center;
  }
  &__logo {
      order: 0;
  }
  &__menu {
    &--portailDeServices {
        color: $rcn-semantic-color-interaction-text_and_icon-default-primary;
        order: 1;
    }
      order: 0;
      flex-grow: 1;
  }
  &__mainNavBanner {
      order: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: $rcn-semantic-gap-horizontal-600;
      background-color: $rcn-semantic-color-static-background-primary;
      align-items: center;
  }
  &__toolsButtonsZone {
      order: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: $rcn-semantic-gap-horizontal-400;
      font-size: $rcn-semantic-typography-fontsize-h3;
    .rcn-iconButton {
        color: $rcn-semantic-color-interaction-text_and_icon-default-onprimary;
    }
  }
  &__searchbar {
      order: 2;
  }
}

.rcn-connexionModule {
  &__icon {
    &::before {
        content: $rcn-semantic-typography-content-icon-user;
    }
      order: -1;
  }
}

