.rcn-gridMargins {
  padding-right: var(--rcn-semantic-padding-horizontal-900);
  padding-left: var(--rcn-semantic-padding-horizontal-900);
}

.rcn-gridMargins--menu {
  padding-right: var(--rcn-semantic-padding-horizontal-900);
  padding-left: var(--rcn-semantic-padding-horizontal-800);
}

.rcn-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--rcn-semantic-gap-horizontal-500);
  grid-template-rows: auto;
}

.rcn-LgridMargins {
  padding-right: var(--rcn-semantic-padding-horizontal-700);
  padding-left: var(--rcn-semantic-padding-horizontal-700);
}

.rcn-LgridMargins--menu {
  padding-right: var(--rcn-semantic-padding-horizontal-700);
  padding-left: var(--rcn-semantic-padding-horizontal-600);
}

.rcn-Lgrid {
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: var(--rcn-semantic-gap-horizontal-500);
}

.rcn-MgridMargins {
  padding-right: var(--rcn-semantic-padding-horizontal-600);
  padding-left: var(--rcn-semantic-padding-horizontal-600);
}

.rcn-MgridMargins--menu {
  padding-right: var(--rcn-semantic-padding-horizontal-600);
  padding-left: var(--rcn-semantic-padding-horizontal-400);
}

.rcn-Mgrid {
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: var(--rcn-semantic-gap-horizontal-500);
}

.rcn-SgridMargins {
  padding-right: var(--rcn-semantic-padding-horizontal-500);
  padding-left: var(--rcn-semantic-padding-horizontal-500);
}

.rcn-SgridMargins--menu {
  padding-right: var(--rcn-semantic-padding-horizontal-500);
  padding-left: var(--rcn-semantic-padding-horizontal-200);
}

.rcn-Sgrid {
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: var(--rcn-semantic-gap-horizontal-500);
}

.rcn-XSgridMargins {
  padding-right: var(--rcn-semantic-padding-horizontal-500);
  padding-left: var(--rcn-semantic-padding-horizontal-500);
}

.rcn-XSgridMargins--menu {
  padding-right: var(--rcn-semantic-padding-horizontal-500);
  padding-left: var(--rcn-semantic-padding-horizontal-500);
}

.rcn-XSgrid {
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--rcn-semantic-gap-horizontal-400);
}

