.rcn-gridMargins {
    padding-right: $rcn-semantic-padding-horizontal-900;
    padding-left: $rcn-semantic-padding-horizontal-900;
    &--menu {
        padding-right: $rcn-semantic-padding-horizontal-900;
        padding-left: $rcn-semantic-padding-horizontal-800;
    }
}

.rcn-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: $rcn-semantic-gap-horizontal-500;
    grid-template-rows: auto;
}
@media (max-width: 992px) {
    .rcn-gridMargins {
        padding-right: $rcn-semantic-padding-horizontal-700;
        padding-left: $rcn-semantic-padding-horizontal-700;
        &--menu {
            padding-right: $rcn-semantic-padding-horizontal-700;
            padding-left: $rcn-semantic-padding-horizontal-600;
        }
    }

    .rcn-grid {
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: $rcn-semantic-gap-horizontal-500;
    }
}
@media (max-width: 768px) {
    .rcn-gridMargins {
        padding-right: $rcn-semantic-padding-horizontal-600;
        padding-left: $rcn-semantic-padding-horizontal-600;
        &--menu {
            padding-right: $rcn-semantic-padding-horizontal-600;
            padding-left: $rcn-semantic-padding-horizontal-400;
        }
    }

    .rcn-grid {
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: $rcn-semantic-gap-horizontal-500;
    }
}
@media (max-width: 576px) {
    .rcn-gridMargins {
        padding-right: $rcn-semantic-padding-horizontal-500;
        padding-left: $rcn-semantic-padding-horizontal-500;
        &--menu {
            padding-right: $rcn-semantic-padding-horizontal-500;
            padding-left: $rcn-semantic-padding-horizontal-200;
        }
    }

    .rcn-grid {
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: $rcn-semantic-gap-horizontal-500;
    }
}
@media (max-width: 320px) {
    .rcn-gridMargins {
        padding-right: $rcn-semantic-padding-horizontal-500;
        padding-left: $rcn-semantic-padding-horizontal-500;
        &--menu {
            padding-right: $rcn-semantic-padding-horizontal-500;
            padding-left: $rcn-semantic-padding-horizontal-500;
        }
    }

    .rcn-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: $rcn-semantic-gap-horizontal-400;
    }
}