/* Correction spécifique input */
.rcn-inputFieldBloc--inline {
    flex-direction: row;
}
/* Correction Background bouton */
.rcn-iconButton {
    background-color: transparent;
}

/* Ligne Cellule Titre */
.rcn-tableRow__head {
    /* border-bottom:var(--rcn-semantic-borderwidth-200) solid var(--rcn-semantic-color-static-border-standard); */
    border-style: solid;
    border-width: 0 0 var(--rcn-semantic-borderwidth-200) 0;
    border-color: var(--rcn-semantic-color-static-border-standard);
    box-sizing: border-box;
    background-color: var(--rcn-semantic-color-interaction-background-default-standard);
}

/* Ligne de Cellule Data */
.rcn-tableRow__cell {
    box-sizing: border-box;
}
.rcn-tableRow__cell:nth-of-type(even) {
    background-color: var(--rcn-semantic-color-interaction-background-default-standard);
}
.rcn-tableRow__cell:nth-of-type(odd) {
    background-color: var(--rcn-semantic-color-static-background-table_alternate_line);
}

/* Cellules de titre */
.rcn-tableHead {
    border-left:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-standard);
    border-right:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-standard);
    padding: var(--rcn-semantic-padding-vertical-400) var(--rcn-semantic-padding-horizontal-200);
}
.rcn-tableHead:last-child {
    border-left:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-standard);
    border-right:none;
}
.rcn-tableHead:first-child {
    border-right:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-standard);
    border-left:none;
}
.rcn-tableHead__container {
    display: flex;
    justify-content: space-between;
}

/* Cellules de données */
.rcn-tableCell {
    box-sizing: border-box;
    max-height: 1.5rem;
    padding:    var(--rcn-semantic-padding-vertical-300) 
                var(--rcn-semantic-padding-vertical-200);
    border-style: solid;
    border-width: 0 var(--rcn-semantic-borderwidth-100);
    border-color: var(--rcn-semantic-color-static-border-standard);
    overflow: hidden;
}

.rcn-tableRow__cell .rcn-tableCell:first-child {
    border-left:none;
}
.rcn-tableRow__cell .rcn-tableCell:last-child {
    border-right:none;
}
.rcn-tableCell__texte {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
}
.rcn-tableCell__number {
    justify-content: flex-end;
    display: flex;
}
.rcn-tableCell__link {
    display: flex;
}
.rcn-tableCell__icon {
    display: flex;
}

.rcn-tableCell__action, 
.rcn-tableCell__unfold, 
.rcn-tableCell__select {
    display: flex;
    justify-content: center;
    align-items: center;
}