@import url('../../RCN-DesignSystem/assets/styles-ChorusPro.css');


@font-face {
    font-family: 'RCNicon';
    src: url(../../Asset/Font_icon/RCNicon.ttf);
}

@font-face {
    font-family: 'Marianne';
    src: url('./Assets/Font_Marianne/Marianne/fontes desktop/Marianne-Regular.otf');
}


@font-face {
    font-family: 'RCNicon';
    src: url(../../Asset/Font_icon/RCNicon.ttf);
}

@font-face {
    font-family: 'Marianne';
    src: url('./Assets/Font_Marianne/Marianne/fontes desktop/Marianne-Regular.otf');
}


body, legend {
    font-family:'Marianne',Arial;
    font-size:var(--rcn-semantic-typography-text-component-default-body-fontsize);
}
i {
    font-style:normal;
}
ul {
    list-style-type: none;
    padding-left:0px;
    margin:0px;
}
body{
    margin:unset;
    padding-top:100px;
}
a{
    color: none;
    text-decoration:none;
}
ol{
    list-style: none;
    text-decoration: none;
}

li{
    /*padding:0px;*/
}

button{
  border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: 1rem;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

body, legend {
    font-family:'Marianne',Arial;
    font-size:var(--rcn-semantic-typography-text-component-default-body-fontsize);
}

.pageAvecPagination{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

input::placeholder{
    font-family: Marianne;
    font-size: 36px;
}


.sr-only /* pour que certains labels n'apparaissent pas, mais soit lisible au lecteur d'écran -> à intégrer dans un fichier reset*/
{   position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); border: 0;
}

/* --------Déjà ajouté à l'Excel Formulaire : à retirer quand sera transformé en CSS--------*/

.rcn-inputFieldBloc--horizontal{
    flex-direction: row;
    gap: var(--rcn-semantic-gap-horizontal-200);
    align-items: center;
    flex-grow:0;
}

.rcn-inputField__input--select {
    font-family: var(--rcn-semantic-typography-text-component-default-body-fontfamily);
    padding: calc(var(--rcn-semantic-padding-vertical-200) - 1px) var(--rcn-semantic-padding-horizontal-200);
    font-size: var(--rcn-semantic-typography-text-component-default-body-fontsize);
    line-height: var(--rcn-semantic-typography-text-component-default-body-lineheight);
}

/*=============== PAGINATION ================*/

.rcn-pagination__sortLine {
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
    flex-wrap: wrap;
    gap: var(--rcn-semantic-margin-vertical-inputfieldblock);
}
.rcn-pagination__sortLine .rcn-inputFieldBloc{
    margin:unset;
}

.rcn-pagination__navLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: var(--rcn-semantic-margin-vertical-inputfieldblock);
}
.rcn-pagination__navLine .rcn-inputFieldBloc{
    margin:unset;
}

.rcn-pagination__navList{
	display: flex;
    align-items: center;
    gap:var(--rcn-semantic-gap-vertical-400);
    flex-direction: row;
    flex-wrap: wrap;
}


.rcn-pagination__label{
    font-weight :var(--rcn-semantic-typography-text-component-default-body-fontweight);
    flex-wrap : wrap;
    align-items: center;
}


.rcn-pagination__navLinks{
    display:flex;
    flex-direction: row;
	padding: var(--rcn-semantic-padding-vertical-200) var(--rcn-semantic-padding-horizontal-200);
	color: var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
	text-decoration: var(--rcn-semantic-typography-text-component-default-body-textdecoration);
    border-radius : var(--rcn-semantic-borderradius-100);
    border-bottom: var(--rcn-semantic-borderwidth-300) solid var(--rcn-semantic-color-interaction-border-transparent); 
    border-top: var(--rcn-semantic-borderwidth-300) solid var(--rcn-semantic-color-interaction-border-transparent); 
}
.rcn-pagination__navLinks:visited{
    color: var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
}
.rcn-pagination__navLinks:hover{
    background-color: var(--rcn-semantic-color-interaction-background-hover-standard);
}
.rcn-pagination__navLinks[aria-current="page"]{
    color: var(--rcn-semantic-color-interaction-text_and_icon-default-selected);
    font-weight: var(--rcn-semantic-typography-text-component-default-selected-fontweight);
    border-bottom:  var(--rcn-semantic-borderwidth-300) solid var(--rcn-semantic-color-static-text_and_icon-primary);
}


.rcn-pagination__previousIcon{
    order:-1;
}
.rcn-pagination__previousIcon::before{
    content: var(--rcn-semantic-typography-icon-rcn_icon-previous-content);
    content:"\e92e"; /* LIGNE A NE PAS AJOUTER A L'EXCEL : temporaire le temps d'ajouter le semantic token*/
}

.rcn-pagination_nextIcon{
    order:2;
}
.rcn-pagination_nextIcon::before{
    content: var(--rcn-semantic-typography-icon-rcn_icon-next-content);
    content:"\e92d" /* LIGNE A NE PAS AJOUTER A L'EXCEL : temporaire le temps d'ajouter le semantic token*/
}


.rcn-pagination__goToPageButton{
    align-self: stretch;
    padding-left: var(--rcn-semantic-padding-horizontal-200);
    padding-right: var(--rcn-semantic-padding-horizontal-200);
    border-left: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-standard);
    color: var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard); 
}
.rcn-pagination__goToPageButton:hover{
    background-color: var(--rcn-semantic-color-interaction-background-hover-standard);
}
.rcn-pagination__goToPageButton::before{
    content:"\e92d"; /*A REMPLACER PAR ICONE FLECHE VERS LA DROITE (->) qui est à ajouter aux icônes avec pour nom "goto" */
}









