.rcn-verticalStepperForm {
    grid-template-areas: ". . . . formHeading formHeading formHeading formHeading formHeading formHeading formHeading formHeading" "stepper stepper stepper . form form form form form form form form";
  &__heading {
      display: flex;
      justify-content: center;
      grid-area: heading;
      text-align: center;
  }
  &__instructions {
      display: flex;
      flex-direction: row;
      width: auto;
      justify-content: center;
      margin: 0;
      gap: $rcn-semantic-gap-horizontal-200;
      align-items: center;
      margin-bottom: $rcn-semantic-margin-vertical-paragraph;
  }
  &__stepper {
      grid-area: stepper;
  }
  &__form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      grid-area: form;
  }
}

.rcn-horizontalStepperForm {
    grid-template-areas: ". . heading heading heading heading heading heading heading heading . ." ". . stepper stepper stepper stepper stepper stepper stepper stepper . ." ". . form form form form form form form form . .";
  &__heading {
      display: flex;
      justify-content: center;
      grid-area: heading;
      text-align: center;
  }
  &__instructions {
      display: flex;
      flex-direction: row;
      width: auto;
      justify-content: center;
      margin: 0;
      gap: $rcn-semantic-gap-horizontal-200;
      align-items: center;
      margin-bottom: $rcn-semantic-margin-vertical-paragraph;
  }
  &__stepper {
      grid-area: stepper;
      align-self: center;
  }
  &__form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      grid-area: form;
  }
}

