.rcn-card {
  border-radius: var(--rcn-semantic-borderradius-200);
  border-width: var(--rcn-semantic-borderwidth-100);
  display: flex;
  border-color: var(--rcn-semantic-color-static-border-standard);
  background-color: var(--rcn-semantic-color-static-background-standard);
}

.rcn-card--vertical {
  flex-direction: row;
}

.rcn-card--horizontal {
  flex-direction: column;
}

.rcn-card__image {
  background-color: var(--rcn-semantic-color-static-background-standard);
}

.rcn-card--vertical .rcn-card__image {
  min-height: 25%;
}

.rcn-card--horizontal .rcn-card__image {
  min-width: 25%;
}

.rcn-card__contentZone {
  padding: var(--rcn-semantic-padding-vertical-500) var(--rcn-semantic-padding-horizontal-500);
  display: flex;
  flex-direction: column;
  gap: var(--rcn-semantic-gap-vertical-200);
  justify-content: flex-start;
}

.rcn-card__chipsZone {
  display: flex;
  flex-direction: row;
  gap: var(--rcn-semantic-gap-horizontal-200);
}

.rcn-card__subTitle {
  color: var(--rcn-semantic-color-static-text_and_icon-card_subTitle);
}

.rcn-card__actionsZone {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--rcn-semantic-gap-vertical-200);
}

.rcn-card__link {
  order: 1;
}

.rcn-card__button {
  order: 2;
}

.rcn-card--interactive {
  border-color: var(--rcn-semantic-color-interaction-border-default-standard);
  background-color: var(--rcn-semantic-color-interaction-background-default-standard);
  box-shadow: var(--rcn-semantic-dropshadow-interaction-elevated);
}

.rcn-card--interactive .rcn-title {
  text-decoration: var(--rcn-semantic-typography-lien-component-default-body-textdecoration-default);
}

.rcn-card--interactive:hover {
  box-shadow: var(--rcn-semantic-dropshadow-interaction-overlayed);
}

.rcn-card--interactive:hover .rcn-title {
  text-decoration: var(--rcn-semantic-typography-lien-component-default-body-textdecoration-hover);
}

.rcn-card__selectionButton {
  font-size: var(--rcn-semantic-typography-icon-rcn_icon-h4-fontsize);
}

.rcn-card--selected {
  border-color: var(--rcn-semantic-color-interaction-border-default-selected);
  border-width: var(--rcn-semantic-borderwidth-300);
}

.rcn-card--selected .rcn-card__title {
  color: var(--rcn-semantic-color-interaction-text_and_icon-default-primary);
}

