.rcn-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-width: var(--rcn-semantic-borderwidth-100);
  border-color: var(--rcn-semantic-color-static-border-standard);
  border-radius: var(--rcn-semantic-borderradius-200);
  background-color: var(--rcn-semantic-color-static-background-standard);
  max-height: 90vh;
  box-shadow: var(--rcn-semantic-dropshadow-static-detached);
  grid-area: modal;
  height: fit-content;
}

.rcn-modal__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_regular);
  padding: var(--rcn-semantic-padding-vertical-600) var(--rcn-semantic-padding-horizontal-700);
  max-width: 1;
  gap: var(--rcn-semantic-gap-vertical-200);
}

.rcn-modal__title {
  width: 100%;
}

.rcn-modal__closeButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--rcn-semantic-gap-horizontal-200);
  align-self: flex-end;
  background: none;
  border: none;
}

.rcn-modal__closeIcon::before {
  content: var(--rcn-semantic-typography-content-icon-close);
}

.rcn-modal__topOverlay {
  height: 0px;
}

.rcn-modal__bottomOverlay {
  height: 0px;
}

.rcn-modal__content {
  padding: var(--rcn-semantic-padding-vertical-600) var(--rcn-semantic-padding-horizontal-700);
  overflow: auto;
}

.rcn-modal__content--with-topOverlay {
  margin-top: -16px;
}

.rcn-modal__content--with-bottomOverlay {
  margin-bottom: -16px;
}

.rcn-modal__content--with-topOverlay .rcn-modal__topOverlay {
  height: 16px;
  display: block;
  background-image: var(--rcn-semantic-gradient-static-backgroundimage-to_bottom);
  border-top: var(--rcn-semantic-borderwidth-100) solid;
  border-top-color: var(--rcn-semantic-color-static-border-divider_regular);
}

.rcn-modal__content--with-bottomOverlay .rcn-modal__bottomOverlay {
  height: 16px;
  display: block;
  background-image: var(--rcn-semantic-gradient-static-backgroundimage-to_top);
  border-bottom: var(--rcn-semantic-borderwidth-100) solid;
  border-bottom-color: var(--rcn-semantic-color-static-border-divider_regular);
}

.rcn-modal__footer {
  padding: var(--rcn-semantic-padding-vertical-400) var(--rcn-semantic-padding-horizontal-700);
  border-top: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_regular);
}

.rcn-modal__footer .rcn-bottomActionsBanner {
  border: unset;
}

.rcn-modal__footer-primaryActions {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: var(--rcn-semantic-gap-horizontal-200);
}

.rcn-modal__footer-secondaryActions {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: var(--rcn-semantic-gap-horizontal-200);
}

.rcn-gridOverlayModal {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-areas: ". . modal modal modal modal modal modal modal modal . .";
  overflow: hidden;
  height: auto;
  align-items: center;
  margin: 0;
  background-color: var(--rcn-semantic-color-static-background-modal_behind_background);
}

