.rcn-modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-width: $rcn-semantic-borderwidth-100;
    border-color: $rcn-semantic-color-static-border-standard;
    border-radius: $rcn-semantic-borderradius-200;
    background-color: $rcn-semantic-color-static-background-standard;
    max-height: 90vh;
    box-shadow: $rcn-semantic-dropshadow-static-detached;
    grid-area: modal;
    height: fit-content;
    overflow: auto;
  &__header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-bottom: $rcn-semantic-borderwidth-100 solid $rcn-semantic-color-static-border-divider_regular;
      padding: $rcn-semantic-padding-vertical-600 $rcn-semantic-padding-horizontal-700;
      max-width: 100%;
      gap: $rcn-semantic-gap-vertical-200;
  }
  &__title {
      width: 100%;
  }
  &__closeButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $rcn-semantic-gap-horizontal-200;
      align-self: flex-end;
      background: none;
      border: none;
  }
  &__closeIcon {
    &::before {
        content: $rcn-semantic-typography-content-icon-close;
    }
  }
  &__content {
      padding: $rcn-semantic-padding-vertical-600 $rcn-semantic-padding-horizontal-700;
      overflow: auto;
      margin-top: $rcn-semantic-margin-vertical-modal;
      margin-bottom: $rcn-semantic-margin-vertical-modal;
  }
  &__topOverlay {
      min-height: $rcn-semantic-height-overlay_modale;
      height: $rcn-semantic-height-overlay_modale;
      display: block;
    &--onOverflow {
        background-image: $rcn-semantic-gradient-static-backgroundimage-topOverlay;
    }
  }
  &__bottomOverlay {
      min-height: $rcn-semantic-height-overlay_modale;
      height: $rcn-semantic-height-overlay_modale;
      display: block;
    &--onOverflow {
        background-image: $rcn-semantic-gradient-static-backgroundimage-bottomOverlay;
    }
  }
  &__actionBanner {
      padding-left: $rcn-semantic-padding-horizontal-700;
      padding-right: $rcn-semantic-padding-horizontal-700;
      margin-top: 0px;
  }
}

.rcn-modalOverlayedContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-areas: ". . modal modal modal modal modal modal modal modal . .";
    overflow: hidden;
    height: 100%;
    align-items: center;
    margin: 0;
    background-color: $rcn-semantic-color-static-background-modal_behind_background;
  &--medium {
      grid-template-areas: ". . . modal modal modal modal modal modal . . .";
  }
  &--small {
      grid-template-areas: ". . . . modal modal modal modal . . . .";
  }
}

