@import url('C:/Users/mathilde.vidal/Documents/GitHub/rcn-Tokens/TokensCSS/Core/CoreTokens-ChorusPRO.min.css');
@import url('C:/Users/mathilde.vidal/Documents/GitHub/rcn-Tokens/TokensCSS/Semantic/SemanticTokensColor.min.css');
@import url('C:/Users/mathilde.vidal/Documents/GitHub/rcn-Tokens/TokensCSS/Semantic/SemanticTokensShadow.min.css');
@import url('C:/Users/mathilde.vidal/Documents/GitHub/rcn-Tokens/TokensCSS/Semantic/SemanticTokensLayout.min.css');
@import url('C:/Users/mathilde.vidal/Documents/GitHub/rcn-Tokens/TokensCSS/Semantic/SemanticTokensTypography.min.css');
@import url('/ComponentTokensButtonPrimary.min.css');
@import url('C:/Users/mathilde.vidal/Documents/GitHub/UXQW-Sandbox/Composants/Lot1/bouton.css'); 
@import url('C:/Users/mathilde.vidal/Documents/GitHub/UXQW-Sandbox/Assets/Font_Marianne/Marianne/fontes desktop/Marianne-Regular.otf');



@font-face {
    font-family: 'rcnicon';
    src: url(../Assets/rcnicon.ttf);
}

@font-face {
    font-family: 'Marianne';
    src: url('./Assets/Font_Marianne/Marianne/fontes desktop/Marianne-Regular.otf');
}


body, legend {
    font-family:'Marianne',Arial;
    font-size:var(--rcn-semantic-typography-text-component-default-body-fontsize);
}


i {
    font-style:normal;
}

.containerGlobal {
padding-right:80px;
padding-left:80px;
}

.rcn-header__mainNavBanner {
order:1;
display:flex;
flex-direction:row;
justify-content:space-between;
gap:var(--rcn-semantic-gap-horizontal-600);
padding-top:var(--rcn-semantic-padding-vertical-300);
padding-bottom:var(--rcn-semantic-padding-vertical-300);
background-color:var(--rcn-semantic-color-static-background-primary);
align-items:center;
}

.rcn-menu {
	display:flex;
	flex-direction:row;
	gap:var(--rcn-semantic-gap-horizontal-600);
	list-style-type: none;
}
	
.rcn-menu__entry {
	color:var(--rcn-semantic-color-interaction-text_and_icon-default-onprimary);
	display:box;
	border-bottom:var(--rcn-semantic-borderwidth-300) solid var(--rcn-semantic-color-interaction-border-default-primary);
	text-decoration:none;
	font-weight:bold;
}

.rcn-menu__entry:hover {
	border-bottom: var(--rcn-semantic-borderwidth-300) solid var(--rcn-semantic-color-interaction-border-default-onprimary);
}


