@import url('../../Asset/Cores et semantiques/Core/CoreTokens-ChorusPRO.min.css');
@import url('../../Asset/Cores et semantiques/Core/CoreTokensShadow.min.css');
@import url('../../Asset/Cores et semantiques/Semantic/SemanticTokensColor.min.css');
@import url('../../Asset/Cores et semantiques/Semantic/SemanticTokensShadow.min.css');
@import url('../../Asset/Cores et semantiques/Semantic/SemanticTokensLayout.min.css');
@import url('../../Asset/Cores et semantiques/Semantic/SemanticTokensTypography.min.css');
@import url('/ComponentTokensButtonPrimary.min.css');
@import url('C:/Users/clara.lecume/Documents/GitHub/UXQW-Sandbox/Composants/Lot1/bouton.css'); 
@import url('C:/Users/clara.lecume/Documents/GitHub/UXQW-Sandbox/Assets/Font_Marianne/Marianne/fontes desktop/Marianne-Regular.otf');



@font-face {
    font-family: 'rcnicon';
    src: url(../Assets/rcnicon.ttf);
}

@font-face {
    font-family: 'Marianne';
    src: url('./Assets/Font_Marianne/Marianne/fontes desktop/Marianne-Regular.otf');
}

/* A mettre au sein du fichier de reset*/

p {
  margin:0;
}

body, legend {
    font-family:'Marianne',Arial;
    font-size:var(--rcn-semantic-typography-text-component-default-body-fontsize);
}

/* Stepper*/

.rcn-stepperVertical::before{
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--rcn-semantic-color-static-border-divider_strong);
  position: absolute;
  left: calc((2rem / 2) - var(--rcn-semantic-borderwidth-100));
  z-index: -1;
}

.rcn-stepperVertical{
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap:var(--rcn-semantic-gap-vertical-500);
  position: relative;
  margin: 0px;

}

.rcn-stepperHorizontal {
  display: flex;
  flex-direction:row;
  gap:var(--rcn-semantic-gap-horizontal-500);
  position: relative;
  justify-content: space-between;
  padding-left: 0px;
  margin: 0px;
  padding-inline-start: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
}

.rcn-stepperVertical__substepZone{
  display: flex;
  flex-direction:column;
  padding-left: 0px;
  margin: 0px;
  gap:var(--rcn-semantic-gap-horizontal-500);
  position: relative;
  justify-content: space-between;

}

.rcn-stepperHorizontal::before{
  content: "";
  width: calc(100% - 72px);
  left: 36px;
  height: 1px;
  background-color: gray;
  position: absolute;
  top:19px;
  z-index: -1;
  display: flex;
  align-self: center;
}


.rcn-stepperVertical__step {
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:var(--rcn-semantic-gap-horizontal-400);
  box-sizing: border-box;


}

.rcn-stepperHorizontal__step {
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:var(--rcn-semantic-gap-vertical-300);
  box-sizing: border-box;
  flex-grow: 1;
  max-width:400px;

}

.rcn-stepperHorizontal__subStep {
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:var(--rcn-semantic-gap-vertical-300);
  box-sizing: border-box;
  flex-grow: 1;
  max-width:min-content;
}

.rcn-stepper__number {
  width: 2rem;
  height: 2rem;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  border: 1px solid
}

.rcn-stepper__number--substep{
  width: 1rem;
  height: 1rem;
  margin-left:calc((1rem / 2) - var(--rcn-semantic-borderwidth-100));
  border:1px solid transparent;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;  

}

.rcn-stepper__number--uncompletedNavigable {
background-color:var(--rcn-semantic-color-interaction-background-default-standard);
border:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-standard);
color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);

}


.rcn-stepper__number--uncompletedNonNavigable {
background-color:var(--rcn-semantic-color-static-background-standard);
border:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-standard);
color:var(--rcn-semantic-color-static-text_and_icon-onstandard);
}


.rcn-stepper__number--disabled {
background-color:var(--rcn-semantic-color-static-background-stepper_step_unreachable);
border:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-stepper_step_unreachable);
color:var(--rcn-semantic-color-static-text_and_icon-stepper_step_unreachable);
}


.rcn-stepper__number--currentNavigable {
background-color:var(--rcn-semantic-color-interaction-background-default-standard);
color:var(--rcn-semantic-color-interaction-text_and_icon-default-primary);
font-weight:var(--rcn-semantic-typography-text-component-default-label-fontweight);
width: calc(2rem - calc((var(--rcn-semantic-borderwidth-300) * 2) - ((var(--rcn-semantic-borderwidth-100)) * 2)));
height:  calc(2rem - calc((var(--rcn-semantic-borderwidth-300) * 2) - ((var(--rcn-semantic-borderwidth-100)) * 2)));
border:var(--rcn-semantic-borderwidth-300)  solid var(--rcn-semantic-color-interaction-border-default-primary);
}

.rcn-stepper__number--subStepCurrentNavigable{
background-color:var(--rcn-semantic-color-interaction-background-default-standard);
color:var(--rcn-semantic-color-interaction-text_and_icon-default-primary);
font-weight:var(--rcn-semantic-typography-text-component-default-label-fontweight);
width: calc((2rem / 2) - calc((var(--rcn-semantic-borderwidth-300) * 2) - ((var(--rcn-semantic-borderwidth-100)) * 2)));
height:  calc((2rem / 2) - calc((var(--rcn-semantic-borderwidth-300) * 2) - ((var(--rcn-semantic-borderwidth-100)) * 2)));
border:var(--rcn-semantic-borderwidth-300)  solid var(--rcn-semantic-color-interaction-border-default-primary);

}

.rcn-stepper__number--currentNonNavigable {
background-color:var(--rcn-semantic-color-static-background-standard);
border:var(--rcn-semantic-borderwidth-300)  solid var(--rcn-semantic-color-static-border-primary);
color:var(--rcn-semantic-color-static-text_and_icon-primary);
width: calc(2rem - calc((var(--rcn-semantic-borderwidth-300) * 2) - ((var(--rcn-semantic-borderwidth-100)) * 2)));
height:  calc(2rem - calc((var(--rcn-semantic-borderwidth-300) * 2) - ((var(--rcn-semantic-borderwidth-100)) * 2)));
font-weight:var(--rcn-semantic-typography-text-component-default-label-fontweight);
}

.rcn-stepper__number--subStepCurrentNonNavigable{
  background-color:var(--rcn-semantic-color-static-background-default-standard);
  color:var(--rcn-semantic-color-static-text_and_icon-default-primary);
  font-weight:var(--rcn-semantic-typography-text-component-default-label-fontweight);
  width: calc((2rem / 2) - calc((var(--rcn-semantic-borderwidth-300) * 2) - ((var(--rcn-semantic-borderwidth-100)) * 2)));
  height:  calc((2rem / 2) - calc((var(--rcn-semantic-borderwidth-300) * 2) - ((var(--rcn-semantic-borderwidth-100)) * 2)));
  border:var(--rcn-semantic-borderwidth-300)  solid var(--rcn-semantic-color-interaction-border-default-primary);
  
  }

.rcn-stepper__number--completedNavigable {
background-color:var(--rcn-semantic-color-interaction-background-default-primary);
border:var(--rcn-semantic-borderwidth-100) solid transparent;
color:var(--rcn-semantic-color-interaction-text_and_icon-default-onprimary);
}


.rcn-stepper__number--completedNonNavigable {
background-color:var(--rcn-semantic-color-static-background-primary);
border:var(--rcn-semantic-borderwidth-100) solid transparent;
color:var(--rcn-semantic-color-static-text_and_icon-onprimary);
}

.rcn-stepper__sectionTitle {
color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
display: block;
text-align: center;
}


.rcn-stepper__sectionTitle--uncompletedNonNavigable {
color:var(--rcn-semantic-color-static-text_and_icon-onstandard);
text-decoration:none;
}

.rcn-stepper__sectionTitle--uncompletedNavigable {
color:var(--rcn-semantic-color-interaction-text_and_icon-onstandard);
}


.rcn-stepper__sectionTitle--disabled {
color:var(--rcn-semantic-color-static-text_and_icon-stepper_step_unreachable);
}

.rcn-stepper__sectionTitle--currentNavigable {
color:var(--rcn-semantic-color-interaction-text_and_icon-default-primary);
font-weight:var(--rcn-semantic-typography-text-component-default-label-fontweight);
text-decoration:none;
}

.rcn-stepper__sectionTitle--currentNonNavigable {
color:var(--rcn-semantic-color-static-text_and_icon-primary);
font-weight:var(--rcn-semantic-typography-text-component-default-label-fontweight);
text-decoration:none;
}

.rcn-stepper__sectionTitle--completedNavigable {
color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
}

.rcn-stepper__sectionTitle--completedNonNavigable {
color:var(--rcn-semantic-color-static-text_and_icon-onstandard);
}





