.rcn-bottomActionsBanner{
    display: flex;
    flex-direction: row;
    gap: var(--rcn-semantic-gap-horizontal-300);
    border-top: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-standard);
    padding: var(--rcn-semantic-padding-vertical-400) var(--rcn-semantic-padding-horizontal-0);
    flex-wrap: wrap;
    }
    
    .rcn-bottomActionsBanner__primaryActions {
    order: 2;
    flex-grow: 1;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--rcn-semantic-gap-horizontal-200);
    width:auto;
    }
    
    .rcn-bottomActionsBanner__secondaryActions {
    order: 1;
    justify-content: flex-start;
    display:flex;
    flex-direction: row;
    gap: var(--rcn-semantic-gap-horizontal-200);
    width:auto;
    flex-wrap: wrap;
    }
    
    .rcn-bottomActionsBanner .rcn-button--primary{
        order:2;
    }
