
.rcn-button{
  height: fit-content; /*ajouté au Excel ==> OK*/
}
  
  .rcn-iconButton {
	color: var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard); /*ajouté au Excel ==> OK*/
	background-color: var(--rcn-semantic-color-interaction-background-transparent); /*ajouté au Excel ==> OK*/
  }
  
  .rcn-iconButton:hover {
	color: var(--rcn-semantic-color-interaction-text_and_icon-hover-onstandard); /*ajouté au Excel ==> OK*/
  }
  
  
  .rcn-iconButton[disabled]  {
	color: var(--rcn-semantic-color-interaction-text_and_icon-disabled); /*ajouté au Excel ==> OK*/
  }
  
 
  .rcn-toggle__text {
	padding-right: var(--rcn-semantic-padding-horizontal-150);
	padding-left: var(--rcn-semantic-padding-horizontal-150);
	order:1;
  } /*ajouté au Excel ==> OK*/
  


.rcn-toggle[selected] {
  border-color: var(--rcn-semantic-color-interaction-border-default-onprimary); /*ajouter à l'excel ==> OK*/
}

.rcn-toggle[selected]:hover {
  border-color: var(--rcn-semantic-color-interaction-border-default-onprimary); /*ajouter à l'excel ==> OK*/
}

.rcn-toggle[disabled] {
border-color:#CECECE; /*var(--rcn-semantic-color-interaction-border-disabled-standard); ajouter à l'excel ==> OK*/
}

.rcn-toggle--on[disabled] {
  border-color:#CECECE; /*
var(--rcn-semantic-color-interaction-border-disabled-standard); /*ajouter à l'excel ==> OK*/
}

.rcn-toggle--on[disabled]:hover {
  background-color: var(--rcn-semantic-color-interaction-background-disabled-button_toggle_on); /*ajouter à l'excel ==> OK*/
 border-color:#CECECE; /* var(--rcn-semantic-color-interaction-border-disabled-standard); /*ajouter à l'excel ==> OK*/
}


.rcn-buttonGroup__button[selected]:hover {
  color:var(--rcn-semantic-color-interaction-text_and_icon-hover-onprimary); /*ajouter à l'excel ==> OK */
}

