/* Cards */

.rcn-card--cardsTable{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: var(--rcn-semantic-gap-horizontal-500);
	padding: var(--rcn-semantic-padding-vertical-500)
	var(--rcn-semantic-padding-horizontal-500);
	padding-right: var(--rcn-semantic-padding-vertical-700);
	width: 90%;
}

.rcn-card--expanded{
	flex-direction: column;
}

.rcn-card__contentContainerForExpandableCard{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: var(--rcn-semantic-gap-horizontal-500);
}

.rcn-card__dragAndDropZone{
	display: flex;
	gap: var(--rcn-semantic-padding-horizontal-500);
	width: 1.5rem;
}

.rcn-card__dragAndDropButton::before{ /* icon not found */
	content: var(--rcn-semantic-typography-content-icon-drag_and_drop);
	font-size: var(--rcn-semantic-typography-fontsize-h2);
}

.rcn-card__contentZone--cardsTable{
	padding: unset;
	align-items: flex-start;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 65%;
}

.rcn-card__imageHolder--cardsTable{
	max-width: 20rem;
	margin: calc(var(--rcn-semantic-padding-vertical-500) * -1) 0 calc(var(--rcn-semantic-padding-vertical-500) * -1) calc(var(--rcn-semantic-padding-horizontal-500) * -1);
}

.rcn-card__image{
	width: 100%;
	object-fit: cover;
}

.rcn-card__titleFieldBlock{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--rcn-semantic-gap-vertical-200);
}

.rcn-card__content{
	max-width: 100%;
}
.rcn-card__textDescription{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rcn-card__textDescription--expanded {
	white-space: unset;
}

.rcn-card__showMoreButton{
	border: none;
	margin-top: var(--rcn-semantic-gap-vertical-200);
}

.rcn-card__showMoreButton:hover{
	background-color: var(--rcn-semantic-color-interaction-background-hover-standard);
}

.rcn-card__dateInfo{
	display: flex;
	flex-direction: row;
	gap: var(--rcn-semantic-gap-horizontal-200);
}

.rcn-card__dateInfo span{
	font-weight: 700;
}

.rcn-card__chipsAndActionsZone{
	display: flex;
	flex-direction: row;
	gap: var(--rcn-semantic-gap-horizontal-600);
	justify-content: space-between;
}

.rcn-card__chipsZone--inline{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	width: max-content;
}

.rcn-chips--success {
	background-color: var(--rcn-semantic-color-feedback-background-success);
}

.rcn-card__actionsZone--cardsTable{
	gap: var(--rcn-semantic-gap-horizontal-600);
	align-items: center;
}

.rcn-card__sidebarIcon::before{ /* icon not found */
	content: var(--rcn-semantic-typography-content-icon-expand_left);
	font-size: var(--rcn-semantic-typography-fontsize-h4);
}

.rcn-card__dropDownContent{
	padding-top: var(--rcn-semantic-padding-vertical-400);
	padding-bottom: var(--rcn-semantic-padding-vertical-200);
	border-top: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-standard);
	display: none;
}

.rcn-card__dropDownContent--expanded{
	display: block;
}


@media (max-width: 991px) {
	.rcn-card--cardsTable, 
	.rcn-card__contentContainerForExpandableCard {
		flex-direction: column;
	}
	
}
@media (max-width: 575px) {
	.rcn-card__chipsAndActionsZone{
		flex-direction: column;
		align-items: flex-start;
		gap: var(--rcn-semantic-gap-horizontal-400);
	}
}
