
   .rcn-gridTestCollectionCardForm {
    grid-template-areas: 
      "cc cc cc cc cc cc cc cc cc cc cc cc"
      "main main main main main main form form form form form form";
  }

  /* A ne pas prendre en compte dans le excel > permet de tester l'élément au sein d'une grille avec d'autres composants */
  
  /*Composants de la grille - TEST*/
  
.item-test {
    grid-area: main ;
    background-color: hotpink;
    max-width: 100%;
    height: 400px;
}
    
.rcn-cardCollection {
    grid-area: cc;
}

/* A ne pas prendre en compte dans le excel  */

.rcn-verticalStepperForm__form {
    grid-area: form;
}

/* A ne pas prendre en compte dans le excel  */