.rcn-cardCollection {
    display: grid;
    gap : var(--rcn-semantic-gap-vertical-400) var(--rcn-semantic-gap-horizontal-400);
    grid-template-rows: auto;
    background-color: transparent;
    justify-items:center; 
  }

  /* A ajouter à l'excel : TODO */
  
  .rcn-cardCollection--vertical {
  grid-template-columns: repeat(3, 1fr);
  } 
  
/* A ajouter à l'excel : TODO */

  
  .rcn-cardCollection .rcn-card--vertical{
    width: 100%;
    max-width: unset;
    
  } 

  /* A ajouter au excel : TODO */

