/* Card */ ==> Presqe tout à reprendre sur l'excel 

.rcn-card{
border-radius:var(--rcn-semantic-borderradius-200);
border-width:var(--rcn-semantic-borderwidth-100);
display:flex;
border-color:var(--rcn-semantic-color-static-border-standard);
border-style:solid;
background-color:var(--rcn-semantic-color-static-background-standard);

}

.rcn-card--vertical{
    flex-direction: column;
    max-width: 400px;
    
}

.rcn-card--horizontal{
    flex-direction: row;   
}

.rcn-card__imgHolder{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    display:flex;
    overflow:hidden;

}

.rcn-card--vertical .rcn-card__imgHolder {
    padding-bottom: calc( 0.66 * 100% );
    border-top-left-radius: var(--rcn-semantic-borderradius-200);
    border-top-right-radius: var(--rcn-semantic-borderradius-200);
}
.rcn-card--vertical .rcn-card__image{
    height: auto;
    position: absolute;
    top: calc(48%);
    left: calc(50%);
    transform: scale(1) translate(-50%,-50%);
    min-height: 25%;
    width: 100%;

}
.rcn-card--horizontal .rcn-card__imgHolder {
    padding-right: calc( 0.33 * 100% );
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: var(--rcn-semantic-borderradius-200);
    border-bottom-left-radius: var(--rcn-semantic-borderradius-200);
}

.rcn-card--horizontal .rcn-card__image{
    height: auto;
    position: absolute;
    top: calc(50%);
    left: calc(48%);
    transform: scale(1) translate(-50%,-50%);
    min-width: 25%;
    width:100%;
}

.rcn-card__contentZone{
padding:var(--rcn-semantic-padding-vertical-500) var(--rcn-semantic-padding-horizontal-500);
display:flex;
flex-direction:column;
align-items: stretch; /*ajouter dans l'excel*/
flex-grow: 1; /* à ajouter dans l'excel */
gap: var(--rcn-semantic-gap-vertical-200);
justify-content:flex-start; ==> Pas besoin, supprimer
/* Valeur à modifier ensuite */
padding-right: var(--rcn-semantic-padding-horizontal-700);
position: relative;
}


.rcn-card--vertical .rcn-card__content {
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
  -webkit-line-clamp: 6; /* Limite le contenu à 6 lignes */
  -webkit-box-orient: vertical;
flex-grow:100;
} /*class à ajouter dans l'excel*/

.rcn-card--horizontal .rcn-card__content {
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
  -webkit-line-clamp: 3; /* Limite le contenu à 3 lignes */
  -webkit-box-orient: vertical;
 flex-grow:100
} /*class à ajouter dans l'excel*/

.rcn-card__input{
    position : absolute;
    top : var(--rcn-semantic-padding-vertical-500);
    right: var(--rcn-semantic-padding-horizontal-500);
}

.rcn-card__chipsZone{
    display: flex;
    flex-direction: row;
    gap:var(--rcn-semantic-gap-horizontal-200)
}

.rcn-card__subTitle{
    color:var(--rcn-semantic-color-static-text_and_icon-card_subTitle)
}

.rcn-card__actionsZone{
display: flex;
flex-direction:row;
justify-content: flex-end;
gap: var(--rcn-semantic-gap-vertical-200);
flex-grow:1;
}

.rcn-card__link{
    order: 1;

}

.rcn-card__button{
    order: 2;
}

.rcn-card--interactive{
border-color: var(--rcn-semantic-color-interaction-border-default-standard);
background-color: var(--rcn-semantic-color-interaction-background-default-standard);
box-shadow: var(--rcn-semantic-dropshadow-interaction-elevated);
box-sizing:border-box;
}

.rcn-card--interactive .rcn-title{
text-decoration: var(--rcn-semantic-typography-lien-component-default-body-textdecoration-default);
}

.rcn-card--interactive:hover{
    box-shadow: var(--rcn-semantic-dropshadow-interaction-overlayed);

}

.rcn-card--interactive:hover .rcn-title{
    text-decoration: var(--rcn-semantic-typography-lien-component-default-body-textdecoration-hover);
}

.rcn-card__selectionButton{
    font-size: var(--rcn-semantic-typography-icon-rcn_icon-h4-fontsize);
}

.rcn-card--selected{
border-color:var(--rcn-semantic-color-interaction-border-default-selected);
border-width:var(--rcn-semantic-borderwidth-300);

}

.rcn-card--interactive .rcn-card__title{
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard)
}

.rcn-card--selected .rcn-card__title {
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-primary)
}


.rcn-iconButton{
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
    background-color: transparent;
}

.rcn-inputField__input--checkbox{
    appearance: unset;
}

.rcn-inputField__input--radio{
    appearance: unset;
}





/*Grille pour la collection de cards*/
.rcn-cardCollection {
    display: grid;
    gap: var(--rcn-semantic-gap-vertical-400) var(--rcn-semantic-gap-horizontal-400);
    grid-template-rows: auto;
    background-color: transparent;
}

.rcn-cardCollection--vertical {
    grid-template-columns: repeat(3, 1fr);
}

/*Grille pour la collection de cards horizontales*/
.rcn-cardCollection--horizontal {
grid-template-columns: repeat(2, 1fr);
}