.rcn-paddingTest {
    padding-left: 50px;
}

.demo-marginbottom{
  margin-bottom: 200px;
}

/* ==== NON CONNECTE ==== */

.rcn-connexionModule {
display:flex;
flex-direction:row;
align-items:center;
gap:var(--rcn-semantic-gap-horizontal-400);
/* position: relative; */
}

.rcn-connexionModule__separator {
border: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_regular);
padding-top:var(--rcn-semantic-padding-horizontal-500);
padding-bottom:var(--rcn-semantic-padding-horizontal-500);
}

.rcn-connexionModule__iconConnect{
    order: -1;
}

.rcn-connexionModule__iconConnect::before{
   content: var(--rcn-semantic-typography-content-icon-user);
}

/* ==== CONNECTE ==== */

.rcn-connexionModule--on {
    padding: var(--rcn-semantic-padding-vertical-200)  var(--rcn-semantic-padding-horizontal-300);
    border-radius: var(--rcn-semantic-borderradius-200);
    width: fit-content;
}
.rcn-connexionModule--on:hover {
background-color: var(--rcn-semantic-color-interaction-background-hover-standard);
}

.rcn-connexionModule__container{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    position:relative;
}

.rcn-connexionModule__iconExpand {
    order : 2;
}

.rcn-connexionModule__iconExpand::before {
    content: var(--rcn-semantic-typography-content-icon-expand_vertical);
}

.rcn-connexionModule__profile{
    display: flex;
    width: var(--rcn-semantic-width-stepper_stepcircle);
    height: var(--rcn-semantic-height-stepper_stepcircle);
    border-radius: var(--rcn-semantic-borderradius-300);
    background-color: rosybrown;
    order: -1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--rcn-semantic-color-static-text_and_icon-onprimary);
    
}

/* > Modifier les semantics width et height une fois les semantics mis à jours par 
 width: var(--rcn-semantic-width-profile);
  height: var(--rcn-semantic-height-profile);
*/

.rcn-connexionModule__submenu{
    display: flex;
    flex-direction: column;
    background-color: var(--rcn-semantic-color-interaction-background-default-standard);
    box-shadow: var(--rcn-semantic-dropshadow-static-overlayed);
    cursor: pointer;   
    position:absolute;
    top: calc(var(--rcn-semantic-height-stepper_stepcircle) + (var(--rcn-semantic-padding-vertical-200) * 2 ) + 1px);
    left: var(--rcn-semantic-padding-horizontal-300);
  }
  
  .rcn-connexionModule__submenu[aria-hidden="true"] {
    display: none;
  }
  
  .rcn-connexionModule__submenu--hidden {
    display: none;
  }
 
  .rcn-connexionModule__subentry {
    display: block;
    color: var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
    padding: var(--rcn-semantic-padding-vertical-200) var(--rcn-semantic-padding-vertical-400);
    width: auto;
  }
  
  .rcn-connexionModule__subentry:hover {
    background-color: var(--rcn-semantic-color-interaction-background-hover-standard);
    color: var(--rcn-semantic-color-interaction-text_and_icon-hover-onstandard);
  }

  /* Modification du tokens de backgroud color par un token spécifique ? */

  .rcn-connexionModule__subentry--action:hover {
    background-color: var(--rcn-semantic-color-interaction-background-default-standard);
  }

  .rcn-connexionModule__separator{
    padding-top: 0px;
    padding-bottom: 0px;
    border : none;
    width: var(--rcn-semantic-borderwidth-100) ;
    background-color: var(--rcn-semantic-color-static-border-divider_regular);
    height: var(--rcn-semantic-typography-fontsize-body);
  }


  