.rcn-paddingTest {
    padding-left: 50px;
}


.rcn-connexionModule {
display:flex;
flex-direction:row;
align-items:center;
gap:var(--rcn-semantic-gap-horizontal-500);
/* position: relative; */
}

.rcn-connexionModule__separator {
border: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_regular);
padding-top:var(--rcn-semantic-padding-horizontal-500);
padding-bottom:var(--rcn-semantic-padding-horizontal-500);
}

.rcn-connexionModule__iconConnect{
    order: -1;
}

.rcn-connexionModule__iconConnect::before{
   content: var(--rcn-semantic-typography-content-icon-user);
}

.rcn-connexionModule--on {
    gap:var(--rcn-semantic-gap-horizontal-400);
    /* > a supp pour le remettre dans connexionModule */
    padding: 16px;
    border-radius: 6px;
    background-color: var(--rcn-semantic-color-interaction-background-hover-standard);
    width: fit-content;
}

.rcn-connexionModule__container{
  position: relative;
  display: flex;
}

.rcn-connexionModule__iconExpand {
    order : 2;
}

.rcn-connexionModule__iconExpand::before {
    content: var(--rcn-semantic-typography-content-icon-expand_vertical);
}

.rcn-connexionModule__profile{
    display: flex;
    /* width: var(--rcn-semantic-width-stepper_stepcircle);
    height: var(--rcn-semantic-height-stepper_stepcircle); */
    width: calc((40px / 2) * 2);
    height: calc((40px / 2) * 2);
    /* width: 24px;
    height: 24px; */
    /* Définir la taille souhaitée pour la pastille */
    border-radius: var(--rcn-semantic-borderradius-300);
    background-color: rosybrown;
    order: -1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--rcn-semantic-color-static-text_and_icon-onprimary);
    /* Mettre le bon token color */
}

.rcn-connexionModule__submenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1;
    background-color: var(--rcn-semantic-color-interaction-background-default-standard);
    box-shadow: var(--rcn-semantic-dropshadow-static-overlayed);
    cursor: pointer;   
    width: 100%; 
  }
  
  .rcn-connexionModule__submenu[aria-hidden="true"] {
    display: none;
  }
  
  .rcn-connexionModule__submenu--hidden {
    display: none;
  }
 
  .rcn-connexionModule__subentry {
    display: block;
    color: var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
    /* border-left: var(--rcn-semantic-borderwidth-300) solid var(--rcn-semantic-color-interaction-border-transparent); */
    padding: var(--rcn-semantic-padding-vertical-200) var(--rcn-semantic-padding-vertical-400);
    width: auto;
  }
  
  .rcn-connexionModule__subentry:hover {
    background-color: var(--rcn-semantic-color-interaction-background-hover-standard);
    color: var(--rcn-semantic-color-interaction-text_and_icon-hover-onstandard);
  }
  
  /* .rcn-connexionModule__subentry[aria-current="page"] {
    border-left: var(--rcn-semantic-borderwidth-300) solid var(--rcn-semantic-color-interaction-border-default-primary);
    color: var(--rcn-semantic-color-interaction-text_and_icon-default-selected);
    font-weight: var(--rcn-semantic-typography-fontweight-body-component-selected);
  } */

  .rcn-connexionModule__subentry--action:hover {
    background-color: white;
  }
  