


.espacement_test{
    display: flex;
    flex-direction: column;
    gap:48px;
}

.rcn-cookiePanel{
    display: flex;
    flex-direction: column;
    padding-top: var(--rcn-semantic-padding-vertical-700);
    padding-bottom: var(--rcn-semantic-padding-vertical-700);
    gap: var(--rcn-semantic-gap-vertical-600);
    box-shadow: var(--rcn-semantic-dropshadow-static-detached);
    background-color: var(--rcn-semantic-color-static-background-standard);
    flex-wrap: wrap;
    /* z-index: 9999;
    position: fixed; > à toujours ajouter , juste pour la relecture de ce composant si on met ces propriétées ce n'est plus visible */
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
}


.rcn-cookiePanel--banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: stretch;   
    gap:var(--rcn-semantic-gap-horizontal-400);

}


.rcn-cookiePanel__actionZone{
    display: flex;
    flex-direction: row;
    gap:var(--rcn-semantic-gap-horizontal-400);
    flex-grow: 1;
    justify-content: flex-end;
    
}


.rcn-cookiePanel__textZone{
    display: flex;
    flex-grow:2;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--rcn-semantic-gap-vertical-400);
   
}

.rcn-cookiePanel__section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:  var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_regular);
    padding-bottom: var(--rcn-semantic-padding-vertical-600);
    flex-wrap: wrap;
    gap: var(--rcn-semantic-gap-horizontal-400);

}

.rcn-cookiePanel__subSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--rcn-semantic-gap-horizontal-400);
    flex-wrap: wrap;  

}

.rcn-cookiePanel__section--cookieGroup{
    flex-direction: column;

}

.rcn-cookiePanel__section--title {
    border-bottom:  var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_strong);
    flex-direction: column;
    align-items: flex-start;

}

.rcn-cookiePanel__section--banner{

    border-bottom: none;
    flex-wrap: wrap;

}

.rcn-cookierPanel__section--last {
    
    border-bottom: none;
    align-items: baseline;

}

.rcn-cookiePanel__button{
   
    align-self: center;

}


.rcn-cookiePanel__linkZone {
    display: flex;
    flex-direction: row;
    gap: var(--rcn-semantic-gap-horizontal-400);
    flex-wrap: wrap;
}

