/*----------- Module de filtre--------- */


.rcn-filter{
    display: flex;
    flex-direction: column;
    gap:var(--rcn-semantic-gap-vertical-500);
    padding : var(--rcn-semantic-padding-vertical-400) var(--rcn-semantic-padding-horizontal-600);
    border-left: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_strong);
    border-right: var(--rcn-semantic-borderwidth-100) solid transparent;
    background-color: var(--rcn-semantic-color-interaction-background-default-standard);
    /* grid-area : filter;  > si mise au sein d'une grille sans overlay */
  }

   .rcn-filter--leftZone{
    border-left:none;
    border-right : var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_strong);
   
   }
   /* Le module de filtre peut être présent à droite ou à gauche de la page. La droite est sa position "par défaut" et la gauche le modifer à ajouter dans certains cas.  */
   
   
   .rcn-filter--partiel{
     /* Lié à la déclinaison module de filtre partiel */    
    flex-direction: row;
    justify-content: space-between;
    border-top: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_regular);
    border-right: none;
    border-left : none;
    border-bottom : var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_regular);
    padding : var(--rcn-semantic-padding-vertical-400) var(--rcn-semantic-padding-horizontal-0);
    align-items: baseline;
    flex-wrap: wrap;  
   } 

   .rcn-filter__separator{
    height: var(--rcn-semantic-borderwidth-100);
    background-color: var(--rcn-semantic-color-static-border-divider_regular);
    width : auto;
   }

   .rcn-filter_criteriaZone{
    display: flex;
    flex-direction: column;
    gap: var(--rcn-semantic-gap-vertical-500);
   }

   .rcn-filter__activeItems{
    display: flex;
    flex-direction: column;
    gap:var(--rcn-semantic-gap-vertical-400);
}

  .rcn-filter__activeItems--partiel{
    
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
   
   }

   .rcn-filter__chipsZone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--rcn-semantic-gap-vertical-200) var(--rcn-semantic-gap-horizontal-200);
}

   .rcn-filter__closeButton{
    display:flex;
    flex-direction: row;
    align-items: baseline;
    gap: var(--rcn-semantic-gap-horizontal-200);
    align-self : flex-end;
    background: none;
    border:none;

   }

    .rcn-filter__iconClose{
   order:2;

  }

  .rcn-filter_actionZone{
    border-left: solid var(--rcn-semantic-borderwidth-100) var(--rcn-semantic-color-static-border-divider_regular);
    padding-left: var(--rcn-semantic-padding-horizontal-400);

  }

  .rcn-filter__icon{
    order:-1;
   }
    
   .rcn-filter__icon::before{
    content:var(--rcn-semantic-typography-icon-rcn_icon-filter-content);

   }

   .rcn-filter_link{
    display: flex;
    align-self:flex-end;
   }

   /*------Cas pratique [disponible au sein de la page : SearchResultTemplate] : le module de filtre se supperpose au contenu de la page------------*/

   .rcn-grid--mainContentOverlayed{
    position : relative;
  }

  .rcn-filter--overlay{
    grid-area: filter;
    overflow-y: scroll;
    border-right:var(--rcn-semantic-borderwidth-100) solid transparent;
    border-left : var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_strong);
    max-height: 100%;
    height: 100%;
   }

   .rcn-filter--overlayLeft{
    border-left:var(--rcn-semantic-borderwidth-100) solid transparent;
    border-right:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_strong);
   }

  .rcn-grid--sideOverlayFilterTemplate {
    position:absolute;
    top:0;
    left:0;
    display: grid;
    grid-template-areas: "filter filter filter fiter . . . . . . . .";
    margin: 0;
    height: 100%; 
  }