

/*.rcn-footer__socialMediasTextZone {
	padding-left:var(--rcn-semantic-padding-horizontal-900); 
} ==> A supprimer dans l'excel >> OK

.rcn-footer__socialMediasIconsZone {
	padding-right:var(--rcn-semantic-padding-horizontal-900); 
} ==> A supprimer dans l'excel >> OK

.rcn-footer__mainBanners {
	padding-left:var(--rcn-semantic-padding-horizontal-900);
	padding-right:var(--rcn-semantic-padding-horizontal-900);/
} ==> A supprimer dans l'excel >> OK */


.rcn-footer__institutionalEcosystemLinks {
  /*text-decoration: none; /*supprimer la property dans excel*/
  font-weight: bold; 
  order: 2;
  display: flex;
  flex-direction: row;
  gap: var(--rcn-semantic-gap-horizontal-200);
  justify-content: flex-start;
  flex-wrap: wrap;
}/*ajouté dans l'excel ==> OK*/

.rcn-footer__institutionalEcosystemLink {
text-decoration: none;
font-weight:bold;
color: var(--rcn-semantic-color-static-text_and_icon-dsfr_medium); /* créer class dans l'excel ==> OK */
}  /*ajouté dans l'excel ==> OK*/

.rcn-footer__institutionalEcosystemLink:hover {
text-decoration: underline;
font-weight:bold;
color: var(--rcn-semantic-color-static-text_and_icon-dsfr_medium);
} /* créer class dans l'excel ==> OK */

.rcn-footer__socialMediasIcons {
  color:var(--rcn-semantic-color-interaction-text_and_icon-default-link); /*modifié dans l'excel ==> OK*/
  text-decoration: none; /*ajouté dans l'excel ==> OK*/
}

.rcn-footer__logoZone{
  grid-area: logo;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--rcn-semantic-gap-vertical-200);
} 
/* Remplace la class : rcn-footer__productBanner-leftZone  */
/*ajouté dans l'excel ==> OK*/


.rcn-footer__descriptionZone{
  grid-area: description;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--rcn-semantic-gap-vertical-400);
}
/* Remplace la class : rcn-footer__productBanner-rightZone  */
/*ajouté dans l'excel ==> OK*/

.rcn-inputFieldBloc--language{
  flex-wrap: wrap;
}
/*a prendre au sein de formulaire  ==> TODO, demander à max pk ca marche pa sur form*/

.rcn-footer__productBanner{
  display: flex; /*ajouté dans l'excel ==> OK*/
  grid-template-columns: none; /*ajouté dans l'excel ==> OK*/
  flex-wrap: wrap; /*ajouté dans l'excel ==> TODO SI BON POUR MAX*/
}
/* Le flex-wrap ne fonctionne pas voir les raison avec Max */

.rcn-gridTemplateFooter{
  grid-template-areas: 
    "logo logo logo logo logo logo description description description description description description";
}
/*ajouté dans l'excel ==> TODO VOIR SI AJOUT AU NIVEAU DE GRID OU DE FOOTER (je préconise footer >> ajouté OK)*/


