.footer-bannerTest{
    background-color: white;
    border-bottom: 1px solid var(--rcn-semantic-color-static-border-footer_element_divider);
    height: 66px;
    justify-content: flex-end;

}



.rcn-footer__socialMediasBanner{
    border-bottom: var(--rcn-semantic-borderwidth-200) solid var(--rcn-semantic-color-static-border-footer_banner_divider);
}

.rcn-footer__mainBanners{
    border-top: 0px white;
}

.number-color-test{
    color: #F0F0F0;
}

.rcn-inputField__unit--test{
    width: 90px;
    padding-top: 16px;
    padding-left: 16px;
}