

/*.rcn-footer__socialMediasTextZone {
	padding-left:var(--rcn-semantic-padding-horizontal-900); 
} ==> A supprimer dans l'excel

.rcn-footer__socialMediasIconsZone {
	padding-right:var(--rcn-semantic-padding-horizontal-900); 
} ==> A supprimer dans l'excel

.rcn-footer__mainBanners {
	padding-left:var(--rcn-semantic-padding-horizontal-900);
	padding-right:var(--rcn-semantic-padding-horizontal-900);/
} ==> A supprimer dans l'excel */


.rcn-footer__institutionalEcosystemLinks {
  /*text-decoration: none; /*supprimer la property dans excel*/
  font-weight: bold; 
  order: 2;
  display: flex;
  flex-direction: row;
  gap: var(--rcn-semantic-gap-horizontal-200);
  justify-content: flex-start;
  flex-wrap: wrap;
}

.rcn-footer__institutionalEcosystemLink {
text-decoration: none;
font-weight:bold;
color: var(--rcn-semantic-color-static-text_and_icon-dsfr_medium); /* créer class dans l'excel ==> OK */
}

.rcn-footer__institutionalEcosystemLink:hover {
text-decoration: underline;
font-weight:bold;
color: var(--rcn-semantic-color-static-text_and_icon-dsfr_medium);
} /* créer class dans l'excel ==> OK */

.rcn-footer__socialMediasIcons {
  color:var(--rcn-semantic-color-interaction-text_and_icon-default-link); /*modifié dans l'excel ==> OK*/
  text-decoration: none; /*ajouté dans l'excel ==> OK*/
}

.rcn-footer__logoZone{
  grid-area: logo;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--rcn-semantic-gap-vertical-200);


}
/* Remplace la class : rcn-footer__productBanner-leftZone  */
/* créer class dans l'excel ==> TODO */

.rcn-footer__descriptionZone{
  grid-area: description;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--rcn-semantic-gap-vertical-400);

}

/* Remplace la class : rcn-footer__productBanner-rightZone  */
/* créer class dans l'excel ==> TODO */

.rcn-inputFieldBloc--language{
  flex-wrap: wrap;
}

.rcn-footer__productBanner{
  display: flex;
  grid-template-columns: none;
  flex-wrap: wrap;
}

/* Le flex-wrap ne fonctionne pas voir les raison avec Max */

.rcn-gridTemplateFooter{
  grid-template-areas: 
    "logo logo logo logo logo logo description description description description description description";


}


