

.body{
    display:flex;
    flex-direction:column;
    align-items:stretch;
    padding:64px;
    background-color: white;  
    margin-bottom :200px;
} /*checker avec max l'intérêt de cette classe*/



/*============= FORMULAIRE - Champs simples =================*/



.rcn-inputFieldBloc__errorIcon::before{
    content: var(--rcn-semantic-typography-icon-rcn_icon-alert-content);
 } /*modifier dans l'excel ==> OK*/


.rcn-inputFieldBloc__successZone{
    color:var(--rcn-semantic-color-feedback-text_and_icon-success);
}/*modifier dans l'excel ==> OK*/


.rcn-inputFieldBloc__successIcon::before{ 
    content: var(--rcn-semantic-typography-icon-rcn_icon-success-content);
} /*modifier dans l'excel ==> OK*/



.rcn-inputField__button {
    font-size: var(--rcn-semantic-typography-icon-rcn_icon-body-fontsize);
} /*ajouter dans l'excel ==> OK*/


/* CHECKBOX */


.rcn-inputField__input--checkbox::before{
    font-family:'rcnicon'; /*voir ce qu'on fait pour la font-family*/
/*  content: "\e939";
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);*/
}

.rcn-inputField__input--checkbox:checked::before{
    font-family:'rcnicon'; /*voir ce qu'on fait pour la font-family*/
/*    content: "\e938";
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-selected); */
}


/* RADIO BUTTON */

.rcn-inputField__input--radio::before{
    font-family:'rcnicon'; /*voir ce qu'on fait pour la font-family*/
    /*content: "\e93b";
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);*/
}

.rcn-inputField__input--radio:checked::before{
    font-family:'rcnicon'; /*voir ce qu'on fait pour la font-family*/
    /*content: "\e93a";
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-selected);*/
}


/* ----------------module de LANGUE--------------------*/

.rcn-inputFieldBloc--horizontal {
    display:flex;
    flex-direction: row;
    gap:var(--rcn-semantic-gap-horizontal-200);
    align-items: center;
    flex-grow:0;
} /*ajouté à l'excel ==> OK */



/*----------------COMBOBOX SELECT MULTIPLE------------------*/

.rcn-combobox .rcn-fieldset--as-inputFieldBloc{
    margin-bottom: unset;
} /*ajouté dans l'excel ==> Ok */


/*.rcn-inputField__button--largeSearch::before {
    content:var(--rcn-semantic-typography-icon-rcn_icon-search-content);
}*/ ==> Supprimer dans l'excel 


.rcn-inputField__iconButton--largeSearch::before{
    content:var(--rcn-semantic-typography-icon-rcn_icon-search-content);
}  /*ajouter dans l'excel : OK */


.rcn-inputField__button--largeSearch {
    background-color: white;
}