  /*Template du formulaire */
  
  .rcn-grid--formStepperVerticalTemplate {
    grid-template-areas:
     ". . . . formHeading formHeading formHeading formHeading formHeading formHeading formHeading formHeading"
    "stepper stepper stepper . form form form form form form form form";
  }
  
  .rcn-grid--formStepperHorizontalTemplate {

    grid-template-areas:
    "formHeading formHeading formHeading formHeading formHeading formHeading formHeading formHeading formHeading formHeading formHeading formHeading"
    "stepper stepper stepper stepper stepper stepper stepper stepper stepper stepper stepper stepper"
    "form form form form form form form form form form form form";

  }

/* 
.rcn-verticalStepperForm

.rcn-horizontalStepperForm */






<div class="rcn-grid rcn-form__grid--verticalStepper">

  <div class="rcn-form__headingZone">

  <div class="rcn-form__instructionZone">


<div class="rcn-grid rcn-grid--verticalStepperForm">

  <div class="rcn-form__headingZone">

  <div class="rcn-form__instructionZone">


<div class="rcn-grid rcn-form--verticalStepper">

  <div class="rcn-form__headingZone">

  <div class="rcn-form__instructionZone">


<div class="rcn-grid rcn-verticalStepperForm">

  <div class="rcn-verticalStepperForm__headingZone">

  <div class="rcn-verticalStepperForm__instructionZone">








<div class="rcn-form"> /*ici */

  <div class="rcn-grid rcn-form__grid--verticalStepper">

    <div class="rcn-form__headingZone">

    <div class="rcn-form__instructionZone">




<div class="rcn-form"> /*ici */

  <div class="rcn-grid rcn-grid--verticalStepperForm">

    <div class="rcn-form__headingZone">

    <div class="rcn-form__instructionZone">



  <div class="rcn-grid rcn-form rcn-form--verticalStepper"> /*ici */

    <div class="rcn-form__headingZone">

    <div class="rcn-form__instructionZone">



.rcn-T-sideAndCentralTitle{
  grid-template-areas:
  ". . . . formHeading formHeading formHeading formHeading formHeading formHeading formHeading formHeading"
 "stepper stepper stepper . form form form form form form form form";
}
.rcn-T-sideAndCentralTitle__side{
  grid-area: side;
}
.rcn-T-sideAndCentralTitle__title{
  grid-area: title;
}
.rcn-T-sideAndCentralTitle__mainContent{
  grid-area:mainContent;
}





.rcn-T-verticalStepperForm{
  grid-template-areas:
  ". . . . formHeading formHeading formHeading formHeading formHeading formHeading formHeading formHeading"
 "stepper stepper stepper . form form form form form form form form";
}
.rcn-T-verticalStepperForm__stepperZone{
  grid-area: side;
}
.rcn-T-verticalStepperForm__instructionZone{
  grid-area: headingZone;
}
.rcn-T-verticalStepperForm__headingZone{
  grid-area: headingZone;
}
.rcn-T-verticalStepperForm__formZone{
  grid-area:mainContent;
}




.rcn-form--verticalStepper{
  grid-template-areas:
  ". . . . formHeading formHeading formHeading formHeading formHeading formHeading formHeading formHeading"
 "stepper stepper stepper . form form form form form form form form";
}

.rcn-form--horizontalStepper{
  grid-template-areas:
    "formHeading formHeading formHeading formHeading formHeading formHeading formHeading formHeading formHeading formHeading formHeading formHeading"
    "stepper stepper stepper stepper stepper stepper stepper stepper stepper stepper stepper stepper"
    "form form form form form form form form form form form form";
}

.rcn-form__headingZone{
  display: flex;
  justify-content: center;
  grid-area: formHeading;
  text-align: center;
  }

.rcn-form__instructionZone{
    display: flex;
    flex-direction: row;
    width:auto;
    justify-content: center;
    margin:0;
    gap: var(--rcn-semantic-gap-horizontal-200);
    align-items: center;
    margin-bottom: var(--rcn-semantic-margin-vertical-paragraph);
}
    
.rcn-form__formZone{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  grid-area: form;

}

.rcn-form__horizontalStepper{
  align-self:center;
}
  




  

  
  
  
  
  
  
  
  