 
/* ===== Form avec stepper VERTICAL ===== */
/* 
.rcn-verticalStepperForm{
  grid-template-areas:
    '. . . . heading heading heading heading heading heading heading heading' 'stepper stepper stepper . form form form form form form form form';
}

.rcn-verticalStepperForm__heading{
  display: flex;
  justify-content: center;
  grid-area: heading;
  text-align: center;
}

.rcn-verticalStepperForm__instructions{
    display: flex;
    flex-direction: row;
    width:auto;
    justify-content: center;
    margin:0;
    gap: var(--rcn-semantic-gap-horizontal-200);
    align-items: center;
    margin-bottom: var(--rcn-semantic-margin-vertical-paragraph);
}

.rcn-verticalStepperForm__stepper{
  grid-area: stepper;
}

.rcn-verticalStepperForm__form{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  grid-area: form;
} */

/* ===== Form avec stepper HORIZONTAL ===== */
/*   
.rcn-horizontalStepperForm {
  grid-template-areas:
  '. . heading heading heading heading heading heading heading heading . .'
  '. . stepper stepper stepper stepper stepper stepper stepper stepper . .'
  '. . form form form form form form form form . .';
}

.rcn-horizontalStepperForm__heading{
  display: flex;
  justify-content: center;
  grid-area: heading;
  text-align: center;
  }

.rcn-horizontalStepperForm__instructions{
    display: flex;
    flex-direction: row;
    width:auto;
    justify-content: center;
    margin:0;
    gap: var(--rcn-semantic-gap-horizontal-200);
    align-items: center;
    margin-bottom: var(--rcn-semantic-margin-vertical-paragraph);
}

.rcn-horizontalStepperForm__stepper{
  align-self:center;
  grid-area: stepper;
}
    
.rcn-horizontalStepperForm__form{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  grid-area: form;
} */

/* .rcn-horizontalStepperForm__heading{
  grid-area: heading;
} */

/* Ajouter au excel > OK  */

.rcn-verticalStepperForm{
  grid-template-areas:
    '. . . . heading heading heading heading heading heading heading heading' 'stepper stepper stepper . form form form form form form form form';
}

/* Ajouter au excel > OK  */
/* Classes de démonstration */

.demo-header__productBanner{
  width:100%;
  background-color: white;
  height:148px;
  border-top: 3px solid black;
}
.demo-header__menu{
  width:100%;
  background-color:#5770BE;
  height:48px;
}
.demo-footer{
  background-color: rgb(245, 245, 254);
  width:100%;
  height : 200px;
}