
.demoHeaderMargin{/* Class pour démonstration uniquement */
  margin-bottom:32px;
}
.demoFooterMargin{/* Class pour démonstration uniquement */
  margin-top:64px;
}


/* Composants de démonstration */

.rcn-fakeComponent-a {/* Class pour démonstration uniquement */
  display:flex;
  grid-area: title;
  background-color: black;
  height: 60px;
  color:white;
}
.rcn-fakeComponent-b {/* Class pour démonstration uniquement */
  display: flex;
  grid-area: side;
  background-color: #00FF00;
  height: 200px;
}
.rcn-fakeComponent-c {/* Class pour démonstration uniquement */
  display: flex;
  grid-area: section1;
  background-color: #00BFFF;
  height: 100px;
}
.rcn-fakeComponent-d {/* Class pour démonstration uniquement */
  display:flex;
  grid-area: section2;
  background-color: blueviolet;
  height: 100px;
  color:white;
}

/*=============== GRID ===============*/


.rcn-fakeComponent-b::after{/* Class pour démonstration uniquement */
  content:"Top j'ai plein de place ici"
}

.rcn-gridTemplate--example{/* Class pour démonstration uniquement */
  grid-template-areas: 
    "title title title title title title title title title title title title"
    "side side side side section1 section1 section1 section1 section2 section2 section2 section2";
}


/*-----Breakpoints-------*/


/*--- Large Grid---*/

@media (max-width: 1247px) {

  .rcn-gridTemplate--example{/* Class pour démonstration uniquement */
    grid-template-areas: 
    "title title title title title title title title title title title title"
    "side side side side section1 section1 section1 section1 section1 section1 section1 section1"
    "side side side side section2 section2 section2 section2 section2 section2 section2 section2";
  } 

  .rcn-fakeComponent-b::after{/* Class pour démonstration uniquement */
    content:"Oulah ça se rétrécit, qu'est-ce qu'il se passe avec les deux sections d'à côté ?"
  }
}


/*--- Medium Grid---*/

@media (max-width: 991px) {

  .rcn-gridTemplate--example {/* Class pour démonstration uniquement */
    grid-template-areas: 
    "title title title title title title title title"
    "side side section1 section1 section1 section1 section1 section1"
    "side side section2 section2 section2 section2 section2 section2";
  }

  .rcn-fakeComponent-b::after{/* Class pour démonstration uniquement */
    content:"Je commence à vraiment manquer de place, il va falloir me faire passer au dessus !"
  }
}

/*--- Small Grid---*/

@media (max-width: 767px) {

  .rcn-gridTemplate--example {/* Class pour démonstration uniquement */
    grid-template-areas: 
    "title title title title title title title title"
    "section1 section1 section1 section1 section1 section1 section1 section1"
    "side side side side side side side side"
    "section2 section2 section2 section2 section2 section2 section2 section2";
  }

  .rcn-fakeComponent-b::after{/* Class pour démonstration uniquement */
    content:"Mais qu'est-ce que je fais au milieu ? C'est pas normal, je veux être au dessus !"
  }
}

/*--- xSmall Grid---*/

@media (max-width: 575px) {
 
  .rcn-gridTemplate--example {/* Class pour démonstration uniquement */
    grid-template-areas: 
    "title title title title"
    "side side side side"
    "section1 section1 section1 section1"
    "section2 section2 section2 section2";
  }

  .rcn-fakeComponent-b::after{/* Class pour démonstration uniquement */
    content:" Ah c'est mieux ici, parfait ! Tiens, le Menu s'est planqué lui"
  }
}



