

/*------------- Grid ---------------*/
  .rcn-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap : var(--rcn-semantic-gap-horizontal-500);
  background-color: transparent;
  grid-template-rows: auto;
  height:100%;
}

.rcn-gridMargins {
  padding-right:var(--rcn-semantic-padding-horizontal-900);
  padding-left:var(--rcn-semantic-padding-horizontal-900);
}

.rcn-gridTemplateExample {
  grid-template-areas: 
    "title title title . . . . . . . . . "
    "main main main main main main sidebar sidebar sidebar sidebar sidebar sidebar";
}

.rcn-gridMargins--menu {
    padding-right:var(--rcn-semantic-padding-horizontal-900);
    padding-left:var(--rcn-semantic-padding-horizontal-800);
}

/*-----Breakpoints-------*/
/*--- Large Grid---*/

@media (max-width: 1247px) /*semantic token à intégrer : var(--rcn-core-breakpoint-large)*/
 {
.rcn-grid {
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap : var(--rcn-semantic-gap-horizontal-500);
}

.rcn-gridMargins {
  padding-right:var(--rcn-semantic-padding-horizontal-700);
  padding-left:var(--rcn-semantic-padding-horizontal-700);
}

.rcn-gridTemplateExample {
  grid-template-areas: 
    "title title title . . . . . . . . . "
    "main main main main main main sidebar sidebar sidebar sidebar sidebar sidebar";
}

.rcn-gridMargins--menu {
    padding-right:var(--rcn-semantic-padding-horizontal-700);
    padding-left:var(--rcn-semantic-padding-horizontal-600);
}
}



/*--- Medium Grid---*/
@media (max-width: 991px) /*semantic token à intégrer : var(--rcn-core-breakpoint-medium)*/ {
  .rcn-grid {
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap:var(--rcn-semantic-gap-horizontal-500);

}

.rcn-gridMargins {
  padding-right:var(--rcn-semantic-padding-horizontal-600);
  padding-left:var(--rcn-semantic-padding-horizontal-600);

}

.rcn-gridTemplateExample {
  grid-template-areas: 
    "title title title . . . . . "
    "main main main main sidebar sidebar sidebar sidebar";
}

.rcn-gridMargins--menu {
    padding-right:var(--rcn-semantic-padding-horizontal-600);
    padding-left:var(--rcn-semantic-padding-horizontal-400);
}
}

/*--- Small Grid---*/

@media (max-width: 767px) /*semantic token à intégrer : var(--rcn-core-breakpoint-small)*/ {

.rcn-grid {
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap : var(--rcn-semantic-gap-horizontal-500);
}

.rcn-gridMargins {
  padding-right:var(--rcn-semantic-padding-horizontal-500);
  padding-left:var(--rcn-semantic-padding-horizontal-500);

}

.rcn-gridTemplateExample {
  grid-template-areas: 
    "title title title . . . . . "
    "main main main main sidebar sidebar sidebar sidebar";
}

.rcn-gridMargins--menu {
    padding-right:var(--rcn-semantic-padding-horizontal-500);
    padding-left:var(--rcn-semantic-padding-horizontal-200);
}
}

/*--- xSmall Grid---*/
@media (max-width: 575px) /*semantic token à intégrer : var(--rcn-core-breakpoint-xsmall)*/ {

.rcn-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap : var(--rcn-semantic-gap-horizontal-400);
}

.rcn-gridMargins {
  padding-right:var(--rcn-semantic-padding-horizontal-500);
  padding-left:var(--rcn-semantic-padding-horizontal-500);
}

.rcn-gridTemplateExample {
  grid-template-areas: 
    "title title. . "
    "main main sidebar sidebar";
}
}




/*Composants de la grille - TEST ==> Ne pas prendre en compte dans l'excel*/


.item-b {
  display: flex;
  grid-area: main;
  background-color: #00FF00;
  height: 400px;
}

.item-c {
  display: flex;
  grid-area: sidebar;
  background-color: #00BFFF;
  height: 550px;
}


.item-e {
  display:flex;
  grid-area: title;
  background-color: black;
  height: 60px;
  color:white;

}
