
.rcn-header__productBanner {
  padding: var(--rcn-semantic-padding-vertical-400) var(--rcn-semantic-padding-horizontal-900); /*Ajout de paddings horizontaux*/
}


.rcn-header__mainNavBanner {
  padding: var(--rcn-semantic-padding-vertical-400) var(--rcn-semantic-padding-horizontal-900); /*Ajout de paddings horizontaux ==> OK*/
}


.rcn-header__iconButton {
	color:var(--rcn-semantic-color-interaction-text_and_icon-default-onprimary); 
} /*ajouter au excel ? ==> OK*/


