/* .rcn-connexionModule__icon::before{
  content: var(--rcn-semantic-typography-content-icon-user);
} */
/* Ajouté au excel Header mais à terme devra être dans module de connection > OK */

/* .rcn-connexionModule__icon{
  order: -1;
} */
 /* Ajouté au excel Header mais à terme devra être dans module de connection > OK */

/* .rcn-header__toolsButtonsZone .rcn-iconButton{
  color:var(--rcn-semantic-color-interaction-text_and_icon-default-onprimary);
} */
 /* Ajouté au excel >> OK */

/* .rcn-header__iconButton > A supprimer du excel */

/*.rcn-header__productBanner {
  padding: var(--rcn-semantic-padding-vertical-400) var(--rcn-semantic-padding-horizontal-900); ==> A supprimer dans l'excel, porté par grid__margin
}
*/ /*supprimé du Excel ==> OK*/

/* .rcn-header__mainNavBanner { */
  /*padding: var(--rcn-semantic-padding-vertical-400) var(--rcn-semantic-padding-horizontal-900); ==> à supprimer dans l'excel car porté par grids*/ /*supprimé du Excel ==> OK*/
  /* padding-top : 0px;  */
  /* => Temporaire : ne pas mettre dans l'excel, à supprimer quand les padding auront été supprimés*/
  /* padding-bottom : 0px;   */
  /* => Temporaire : ne pas mettre dans l'excel, à supprimer quand les padding auront été supprimés */
/* } */


/* .rcn-header__iconButton { */
	/* color:var(--rcn-semantic-color-interaction-text_and_icon-default-onprimary);  
} */
/*ajouter au excel ==> OK*/

.rcn-header__productBanner {
  padding-top: var(--rcn-semantic-padding-vertical-500); 
  padding-bottom : var(--rcn-semantic-padding-vertical-500);
}