
.rcn-header__productBanner {
  order: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--rcn-semantic-gap-horizontal-600);
  padding: var(--rcn-semantic-padding-vertical-400) var(--rcn-semantic-padding-horizontal-900); /*Ajout de paddings horizontaux*/
  background-color: var(--rcn-semantic-color-static-background-standard);
  align-items: center;
}

.rcn-header__connexionModule {
	display:flex;
	flex-direction:row;
	align-items:center;
	gap:var(--rcn-semantic-gap-horizontal-500);
}

.rcn-header__mainNavBanner {
  order: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--rcn-semantic-gap-horizontal-600);
  padding: var(--rcn-semantic-padding-vertical-400) var(--rcn-semantic-padding-horizontal-900); /*Ajout de paddings horizontaux*/
  background-color: var(--rcn-semantic-color-static-background-primary);
  align-items: center;
}

.rcn-iconButton {
	background: none; /*intégré au excel*/
}

.rcn-header__toolsButtonsZone {
	text-decoration-color:var(--rcn-semantic-color-interaction-text_and_icon-default-onprimary);
}

.rcn-header__iconButton {
	color:var(--rcn-semantic-color-interaction-text_and_icon-default-onprimary); 
} /*ajouter au excel ? ==> OK*/