.rcn-modal__header {
	flex-direction:row; /*remplacer column par row dans excel -> OK*/
	border-bottom:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_regular); /*remplacer les deux properties par celle là pour la border -> OK*/
}

.rcn-modal__footer {
	border-top:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_regular); /*remplacer les deux properties par celle là pour la border -> OK*/
}
.rcn-modal__content {
	padding:var(--rcn-semantic-padding-vertical-600) var(--rcn-semantic-padding-horizontal-700);
} /*class à ajouter dans l'excel pour que ça fonctionne -> OK*/

.rcn-modal__closeButton {
	background: none; /*property à ajouter dans l'excel -> OK*/
}


.rcn-modal__footer {
  /*flex-direction: row;*/
  /*display: flex;*/
  /*justify-content: space-between;*/
  padding:var(--rcn-semantic-padding-vertical-400) var(--rcn-semantic-padding-horizontal-700);
  /*border-top-width: var(--rcn-semantic-borderwidth-100);
  border-top-color: var(--rcn-semantic-color-static-border-divider_regular);
  max-width: 100%;*/
} 
/*supprimer classes en commentaire dans l'exel + ajouter les paddins ==> OK*/

.rcn-modal__footer .rcn-bottomActionsBanner {
	border: unset; /*ajouter à l'excel ==> OK*/
}