
.rcn-searchResultModule{
  display: flex;
  flex-direction: column;
  gap: var(--rcn-semantic-gap-vertical-700);
}

.rcn-searchResult__title{
    grid-area: searchHeading;
    height: auto;
  }

/*------------- Test pagination ---------------*/

.rectangle-1{
    background-color: aquamarine;
    width:200px;
    height : 25px;
}

.rectangle-2{
    background-color: rgb(229, 127, 255);
    width:100px;
    height : 25px;
}

.rectangle-3{
    background-color: rgb(255, 127, 202);
    width:100px;
    height : 25px;
}

.rectangle-4{
    background-color: rgb(255, 161, 127);
    width:300px;
    height : 25px;
}

.rectangle-5{
    background-color: rgb(255, 242, 127);
    width:100px;
    height : 25px;
}

.rcn-pagination__topZone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rcn-pagination__bottomZone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rcn-pagination__actionZone{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : var(--rcn-semantic-gap-horizontal-400);
}

/*------------- Module de collection de cards  ---------------*/

/*.rcn-cardCollection{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap : var(--rcn-semantic-gap-vertical-400) var(--rcn-semantic-gap-horizontal-400);
  grid-template-rows: auto;
  background-color: transparent;
}
 ==> Porté par cardsCollection*/

/*------------- Module de résultat de recherche ---------------*/


