  .rcn-grid--searchResultTemplate {
    grid-template-areas:
     "searchHeading searchHeading searchHeading searchHeading searchHeading searchHeading searchHeading searchHeading . . . ."
    "searchResultModule searchResultModule searchResultModule searchResultModule searchResultModule searchResultModule searchResultModule searchResultModule searchResultModule searchResultModule searchResultModule searchResultModule";
  }

  .rcn-searchResultModule{
    grid-area: searchResultModule;
  /* Pour que le module de résultat de recherche s'inclu dans la grille */
  }

/* ---------------------Ajout du bandeau de cookies pour tester ------------- */

.rcn-cookiePanel{ 
  z-index: 9999;
  position: fixed; 
}

/* ---------------------Module de filtres ------------- */

.rcn-grid--mainContentOverlayed{
  position : relative;

}
.rcn-filter--overlay{
  grid-area: filter;
  overflow: auto;
  /* background-color: aliceblue; */
  border-right:var(--rcn-semantic-borderwidth-100) solid transparent;
  border-left : var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_strong);
 }

 .rcn-filter--overlayLeft{
  border-left:var(--rcn-semantic-borderwidth-100) solid transparent;
  border-right:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_strong);
 }

.rcn-grid--sideOverlayFilterTemplate {
  position:absolute;
  top:0;
  left:0;
  display: grid;
  grid-template-areas: "filter filter filter fiter . . . . . . . .";
  overflow: auto;
  margin: 0;    
}


