/* Styles pour les onglets */
.rcn-tab {
    
    display:flex;
    flex-direction:column;
    align-items:stretch;
} /* à mettre dans le excel ==> OK */



.rcn-tabs__label:[aria-selected='true']:hover{

border-top-color: var(--rcn-semantic-color-interaction-border-hover-selected);
border-bottom-color: var(--rcn-semantic-color-interaction-border-default-onprimary);
color:var(--rcn-semantic-color-interaction-text_and_icon-hover-selected);

}/* à mettre dans le excel ==> OK */
