/* /!\ Renommer toutes les classes editoriales et remplacer le mot "edito" par "editorial" : */


/* .rcn-h1--editorial {
    line-height: var(--rcn-semantic-typography-text-editorialrial-default-title-lineheight);
    margin-bottom: var(--rcn-semantic-margin-vertical-title);
  }  */
  
  /*ajouté au Excel ==> OK*/
/* .rcn-h1bis--editorial {
    line-height: var(--rcn-semantic-typography-text-editorialrial-default-title-lineheight);
    margin-bottom: var(--rcn-semantic-margin-vertical-title);
  } */
  
  /*ajouté au Excel ==> OK*/
/* .rcn-h2--editorial {
    line-height: var(--rcn-semantic-typography-text-editorialrial-default-title-lineheight);
    margin-bottom: var(--rcn-semantic-margin-vertical-title);
  }  */
  
  /*ajouté au Excel ==> OK*/
/* .rcn-h3--editorial {
    line-height: var(--rcn-semantic-typography-text-editorialrial-default-title-lineheight);
    margin-bottom: var(--rcn-semantic-margin-vertical-title);
  } */
   /*ajouté au Excel ==> OK*/
/* .rcn-h4--editorial {
    line-height: var(--rcn-semantic-typography-text-editorialrial-default-title-lineheight);
    margin-bottom: var(--rcn-semantic-margin-vertical-title);
  }  */
  /*ajouté au Excel ==> OK*/
/* .rcn-h5--editorial {
    line-height: var(--rcn-semantic-typography-text-editorialrial-default-title-lineheight);
    margin-bottom: var(--rcn-semantic-margin-vertical-title);
  }  */
  /*ajouté au Excel ==> OK*/
/* .rcn-h6--editorial {
    line-height: var(--rcn-semantic-typography-text-editorialrial-default-title-lineheight);
    margin-bottom: var(--rcn-semantic-margin-vertical-title);
  }  */
  /*ajouté au Excel ==> OK*/