/* /!\ Renommer toutes les classes editoriales et remplacer le mot "edito" par "editorialrial" : */


.rcn-h1--editorial {
    line-height: var(--rcn-semantic-typography-text-editorialrial-default-title-lineheight);
    margin-bottom: var(--rcn-semantic-margin-vertical-title);
  }
.rcn-h1bis--editorial {
    line-height: var(--rcn-semantic-typography-text-editorialrial-default-title-lineheight);
    margin-bottom: var(--rcn-semantic-margin-vertical-title);
  }
.rcn-h2--editorial {
    line-height: var(--rcn-semantic-typography-text-editorialrial-default-title-lineheight);
    margin-bottom: var(--rcn-semantic-margin-vertical-title);
  }
.rcn-h3--editorial {
    line-height: var(--rcn-semantic-typography-text-editorialrial-default-title-lineheight);
    margin-bottom: var(--rcn-semantic-margin-vertical-title);
  }
.rcn-h4--editorial {
    line-height: var(--rcn-semantic-typography-text-editorialrial-default-title-lineheight);
    margin-bottom: var(--rcn-semantic-margin-vertical-title);
  }
.rcn-h5--editorial {
    line-height: var(--rcn-semantic-typography-text-editorialrial-default-title-lineheight);
    margin-bottom: var(--rcn-semantic-margin-vertical-title);
  }
.rcn-h6--editorial {
    line-height: var(--rcn-semantic-typography-text-editorialrial-default-title-lineheight);
    margin-bottom: var(--rcn-semantic-margin-vertical-title);
  }