a {
	color: #000091;
}
.container-table {
	max-width: 1366px;
	margin:0 auto;
	display: block;
}

/* Gestion du tableau en grille */
table {
	display:grid;
	border-spacing:0;
	grid-template-rows: auto ;
	gap:0 0;
	margin: 1rem 0;
	table-layout: fixed;
	line-height: 1rem;
	font-size: 1rem;
}
thead, tbody, tfoot {
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(16px, 1fr);
	height:fit-content;
}
tr {
	display: grid;
	grid-template-columns:3fr repeat(5, 1fr) 6rem;
}
td, th {
	border-style: solid ;
	border-color:#e6e6e6;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1rem;
	font-size: 1rem;

}

/* Gestion du Pre table */
div.preTable {
	display:grid;
	grid-template-columns: 1fr 1fr;
	border:0;
	align-items: baseline;
	overflow: hidden;
	width: 100%;
	max-width: 1366px;
	
}
div.preTable .details {
	display: grid;
	grid-template-columns: 1fr 1fr;
	line-height: 2rem;
	margin-bottom: 1rem;
	width: 100%;
}
div.preTable h1 {
	text-align: left;
	margin:0;
}
div.preTable a {
	text-align: right;
}


/* gestion du Thead */
thead {
	border-top:1px solid #e6e6e6;
}

th {
	display:flex;
	text-align: left;
	min-width: fit-content;
	padding:1rem 0.5rem;
}
thead th button {
	border: none;
	background: none;
	margin-left: auto;
	justify-content: flex-end;
	display: flex;
	cursor: pointer;
}
/* Gestion du Tbody */
tbody {
	border-bottom:1px solid #e6e6e6;
}
tbody tr:nth-of-type(odd) {
	background:#f8f8f8f8;
}

td {
	display: block;
	padding:0.75rem 0.5rem;
	font-weight: normal;
	white-space: nowrap;
	line-height: 1rem;
}
td.showTitle {
	cursor: help;
}
td.cell-nbr {
	text-align: right;
}
td.cell-chips {

	height: 1rem;
	overflow: hidden;
}
td .chips-contain {
	margin: -0.25rem auto;
	display: block;
	justify-content: center;
	border-radius: 10rem;
	width: fit-content;
	min-width: 4rem;
	padding: 0.25rem 0.5rem;
	max-height: 1.5rem;
	text-align: center;
}
td .chips-succes {background: #8ACCB0;}
td .chips-information {background: #ABB8DF;}
td .chips-attention {background: #FFDF66;}
td .chips-danger {background: #FFB7A5;}

/*Gestion des bordures des cellules */
th {
	border-width: 0 0 2px 1px;
}
td {
	border-width: 0 0 0 1px;	
}
td:first-child  {
	border-width: 0 0 0 1px;
}
th:first-child  {
	border-width: 0 0 2px 1px;
}
td:last-child {
	border-width:0 1px 0 1px;
}
th:last-child {
	border-width:0 1px 2px 1px;
}
/* Button d'action */
td.cell-action {
	text-align: center;
}
td.cell-action button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

/* Pied du tableau */
#RetourBTable {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}


/* class Supérieur */

.sr-only {
	display: none;
	visibility: hidden;
	width: 0px;
	height: 0px;
}
