.rcn-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.rcn-header__productBanner {
  order: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--rcn-semantic-gap-horizontal-600);
  background-color: var(--rcn-semantic-color-static-background-standard);
  align-items: center;
  padding-top: var(--rcn-semantic-padding-vertical-500);
  padding-bottom: var(--rcn-semantic-padding-vertical-500);
}

.rcn-header__logo {
  order: 0;
}

.rcn-header__menu--portailDeServices {
  color: var(--rcn-semantic-color-interaction-text_and_icon-default-primary);
  order: 1;
}

.rcn-header__mainNavBanner {
  order: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--rcn-semantic-gap-horizontal-600);
  background-color: var(--rcn-semantic-color-static-background-primary);
  align-items: center;
}

.rcn-header__menu {
  order: 0;
  flex-grow: 1;
}

.rcn-header__toolsButtonsZone {
  order: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--rcn-semantic-gap-horizontal-400);
  font-size: var(--rcn-semantic-typography-fontsize-h3);
}

.rcn-header__toolsButtonsZone .rcn-iconButton {
  color: var(--rcn-semantic-color-interaction-text_and_icon-default-onprimary);
}

.rcn-header__searchbar {
  order: 2;
}

.rcn-connexionModule__icon::before {
  content: var(--rcn-semantic-typography-content-icon-user);
}

.rcn-connexionModule__icon {
  order: -1;
}

