:root {--rcn-semantic-color-feedback-background-success: $rcn-core-color-mint-200;
--rcn-semantic-color-feedback-background-information: $rcn-core-color-sky-200;
--rcn-semantic-color-feedback-background-warning: $rcn-core-color-sun-200;
--rcn-semantic-color-feedback-background-error: $rcn-core-color-sunset-200;
--rcn-semantic-color-feedback-text_and_icon-onerror: $rcn-core-color-black;
--rcn-semantic-color-feedback-text_and_icon-onsuccess: $rcn-core-color-black;
--rcn-semantic-color-feedback-text_and_icon-onwarning: $rcn-core-color-black;
--rcn-semantic-color-feedback-text_and_icon-oninformation: $rcn-core-color-black;
--rcn-semantic-color-feedback-text_and_icon-error: $rcn-core-color-crimson-600;
--rcn-semantic-color-feedback-text_and_icon-success: $rcn-core-color-grass-400;
--rcn-semantic-color-interaction-background-default-standard: $rcn-core-color-white;
--rcn-semantic-color-interaction-background-default-primary: $rcn-core-color-product-400;
--rcn-semantic-color-interaction-background-default-chips: $rcn-core-color-product-100;
--rcn-semantic-color-interaction-background-default-scroll_bar_light: $rcn-core-color-grey-200;
--rcn-semantic-color-interaction-background-default-scroll_bar_dark: $rcn-core-color-grey-400;
--rcn-semantic-color-interaction-background-default-button_toggle_off: $rcn-core-color-grey-400;
--rcn-semantic-color-interaction-background-default-buttongroup_button_selected: $rcn-core-color-product-400;
--rcn-semantic-color-interaction-background-hover-standard: $rcn-core-color-product-100;
--rcn-semantic-color-interaction-background-hover-primary: $rcn-core-color-product-600;
--rcn-semantic-color-interaction-background-hover-card: $rcn-core-color-white;
--rcn-semantic-color-interaction-background-hover-chips: $rcn-core-color-product-200;
--rcn-semantic-color-interaction-background-hover-button_toggle_off: $rcn-core-color-product-600;
--rcn-semantic-color-interaction-background-hover-buttongroup_button_selected: $rcn-core-color-grey-600;
--rcn-semantic-color-interaction-background-disabled-standard: $rcn-core-color-grey-100;
--rcn-semantic-color-interaction-background-disabled-primary: $rcn-core-color-grey-100;
--rcn-semantic-color-interaction-background-disabled-button_secondary: $rcn-core-color-white;
--rcn-semantic-color-interaction-background-disabled-button_toggle_on: $rcn-core-color-grey-200;
--rcn-semantic-color-interaction-background-disabled-button_toggle_off: $rcn-core-color-grey-100;
--rcn-semantic-color-interaction-background-transparent: $rcn-core-color-transparent;
--rcn-semantic-color-interaction-border-default-standard: $rcn-core-color-grey-400;
--rcn-semantic-color-interaction-border-default-primary: $rcn-core-color-product-400;
--rcn-semantic-color-interaction-border-default-selected: $rcn-core-color-product-400;
--rcn-semantic-color-interaction-border-default-onprimary: $rcn-core-color-white;
--rcn-semantic-color-interaction-border-default-error: $rcn-core-color-crimson-600;
--rcn-semantic-color-interaction-border-hover-primary: $rcn-core-color-product-600;
--rcn-semantic-color-interaction-border-hover-selected: $rcn-core-color-product-600;
--rcn-semantic-color-interaction-border-disabled: $rcn-core-color-grey-200;
--rcn-semantic-color-interaction-border-focus-standard: $rcn-core-color-grey-600;
--rcn-semantic-color-interaction-border-default-button_toggle_off: $rcn-core-color-white;
--rcn-semantic-color-interaction-border-transparent: $rcn-core-color-transparent;
--rcn-semantic-color-interaction-text_and_icon-default-primary: $rcn-core-color-product-400;
--rcn-semantic-color-interaction-text_and_icon-default-onstandard: $rcn-core-color-black;
--rcn-semantic-color-interaction-text_and_icon-default-selected: $rcn-core-color-product-400;
--rcn-semantic-color-interaction-text_and_icon-default-link: $rcn-core-color-dsfr_france-500;
--rcn-semantic-color-interaction-text_and_icon-default-onprimary : $rcn-core-color-white;
--rcn-semantic-color-interaction-text_and_icon-hover-primary: $rcn-core-color-product-600;
--rcn-semantic-color-interaction-text_and_icon-hover-onstandard: $rcn-core-color-black;
--rcn-semantic-color-interaction-text_and_icon-hover-onprimary : $rcn-core-color-white;
--rcn-semantic-color-interaction-text_and_icon-hover-selected: $rcn-core-color-product-600;
--rcn-semantic-color-interaction-text_and_icon-disabled: $rcn-core-color-grey-600;
--rcn-semantic-color-interaction-text_and_icon-visited-link: $rcn-core-color-pine-600;
--rcn-semantic-color-interaction-text_and_icon-footer_legal_links: $rcn-core-color-dsfr_grey-500;
--rcn-semantic-color-interaction-border-back_to_top: $rcn-core-color-white;
--rcn-semantic-color-static-background-standard: $rcn-core-color-white;
--rcn-semantic-color-static-background-primary: $rcn-core-color-product-400;
--rcn-semantic-color-static-background-table_alternate_line : $rcn-core-color-grey-100;
--rcn-semantic-color-static-background-table_line_selected: $rcn-core-color-product-100;
--rcn-semantic-color-static-background-tooltip: $rcn-core-color-black;
--rcn-semantic-color-static-background-chips: $rcn-core-color-grey-100;
--rcn-semantic-color-static-background-metaheader: $rcn-core-color-grey-100;
--rcn-semantic-color-static-background-footer_banner: $rcn-core-color-dsfr_france-975;
--rcn-semantic-color-static-background-stepper_step_unreachable: $rcn-core-color-grey-100;
--rcn-semantic-color-static-background-transparent: $rcn-core-color-transparent;
--rcn-semantic-color-static-border-standard: $rcn-core-color-grey-200;
--rcn-semantic-color-static-border-primary: $rcn-core-color-product-400;
--rcn-semantic-color-static-border-stepper_step_unreachable: $rcn-core-color-grey-200;
--rcn-semantic-color-static-border-footer_element_divider: $rcn-core-color-dsfr_grey-925;
--rcn-semantic-color-static-border-footer_banner_divider: $rcn-core-color-dsfr_france-500;
--rcn-semantic-color-static-border-table_child_row: $rcn-core-color-grey-400;
--rcn-semantic-color-static-border-divider_regular: $rcn-core-color-grey-200;
--rcn-semantic-color-static-border-divider_strong: $rcn-core-color-grey-400;
--rcn-semantic-color-static-border-transparent: $rcn-core-color-transparent;
--rcn-semantic-color-static-text_and_icon-onstandard: $rcn-core-color-black;
--rcn-semantic-color-static-text_and_icon-onprimary: $rcn-core-color-white;
--rcn-semantic-color-static-text_and_icon-ontooltip: $rcn-core-color-white;
--rcn-semantic-color-static-text_and_icon-stepper_step_unreachable: $rcn-core-color-grey-600;
--rcn-semantic-color-static-text_and_icon-card_subTitle: $rcn-core-color-grey-600;
--rcn-semantic-color-static-text_and_icon-primary: $rcn-core-color-product-400;
--rcn-semantic-color-static-text_and_icon-dsfr_strong: $rcn-core-color-dsfr_grey-50;
--rcn-semantic-color-static-text_and_icon-dsfr_medium: $rcn-core-color-dsfr_grey-200;
--rcn-semantic-color-static-text_and_icon-dsfr_light: $rcn-core-color-dsfr_grey-425;
--rcn-semantic-color-static-text_and_icon-dsfr_primary: $rcn-core-color-dsfr_france-500;
--rcn-semantic-gradient-static-backgroundimage-to_top: $rcn-core-gradient-to_top;
--rcn-semantic-gradient-static-backgroundimage-to_bottom: $rcn-core-gradient-to_bottom;
--rcn-semantic-color-static-background-modal_behind_background: $rcn-core-color-grey-600-transparent;
}