/*--------------------------------------------------------------------*/
/*----------------------- CSS for Display purposes  ------------------*/
/*--------------------------------------------------------------------*/
body{
	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: 100vh;
}
.container{
	width: 50%;
	height: 50%;
	text-align: center;
}

h2{
	margin: 2rem 0;
	text-decoration: underline;
}
input{
	outline: solid 1px black;
}
p{
	line-height: 1.3rem;
}

/*--------------------------------------------------------------------*/
/*-------------------------- Tooltip CSS button ----------------------*/
/*--------------------------------------------------------------------*/
.rcn-tooltip__button{
	position: relative;	
}

.rcn-tooltip__button::before{
	content: "\e922";
	padding: 1rem;
	border-radius: var(--rcn-semantic-borderradius-100);
	border: var(--rcn-semantic-borderwidth-100);
	font-family: var(--rcn-semantic-typography-fontfamily-icon);
	color: var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
	line-height: var(--rcn-semantic-typography-lineheight-body-component);
	font-weight: var(--rcn-semantic-typography-fontweight-body-component);
	font-size: var(--rcn-semantic-typography-fontsize-body);

	/* 
	text-decoration: var(--rcn-semantic-typography-icon-rcn_icon-body-textdecoration); 
	*/
}

.rcn-tooltip__textbox{
	display: none;
	/* width: 35.2rem; */
	width: 300%;
	max-width: 35.2rem;
	position: absolute;
	bottom: 150%;
	left: 50%;
	transform: translateX(-50%);
	color: var(--rcn-semantic-color-static-text_and_icon-ontooltip);
	border-radius: var(--rcn-semantic-borderradius-200);
	background-color: var(--rcn-semantic-color-static-background-tooltip);
	padding: var(--rcn-semantic-padding-horizontal-200) var(--rcn-semantic-padding-horizontal-300);
	line-height: var(--rcn-semantic-typography-lineheight-body-editorial);
}

.rcn-tooltip__textbox::after{ /*arrow*/
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--rcn-semantic-color-static-background-tooltip) var(--rcn-core-color-transparent) var(--rcn-core-color-transparent) var(--rcn-core-color-transparent); 
}

.rcn-tooltip__button:hover .rcn-tooltip__textbox,
.rcn-tooltip__button:focus .rcn-tooltip__textbox {
	display: block;
}

/*--------------------------------------------------------------------*/
/*--------------------------- Tooltip CSS form------------------------*/
/*--------------------------------------------------------------------*/
.rcn-tooltip__label{
	position: relative;
}

.rcn-tooltip__label:hover .rcn-tooltip__textbox,
.rcn-tooltip__label:focus .rcn-tooltip__textbox 
{
	display: block;
}


/*--------------------------------------------------------------------*/
/*---------------------- Tooltip CSS definition-----------------------*/
/*--------------------------------------------------------------------*/
/* p{
	position: relative;
} */

.rcn-tooltip__definition{
	position: relative;
	text-decoration: var(--rcn-core-textdecoration-underline);
	color: var(--rcn-core-color-dsfr_france-500);
}

.rcn-tooltip__definition:hover{
	font-weight: var(--rcn-core-fontweight-600);
}

.rcn-tooltip__definition:hover .rcn-tooltip__textbox,
.rcn-tooltip__definition:focus .rcn-tooltip__textbox{
	display: block;
}