@import url('./Core/Core_vars.css');
@import url('./Semantic/SemanticTokensColor.min.css');
@import url('./Semantic/SemanticTokensShadow.min.css');
@import url('./Semantic/SemanticTokensLayout.min.css');
@import url('./Semantic/SemanticTokensTypography.min.css');
@import url('./Assets/Marianne-Regular.otf');


.containerGlobal {
padding-right:80px;
padding-left:80px;
}


.footer {
display:flex;
flex-direction:column;
align-items:stretch;
background-color:white;
}



.footer__socialMediaBanner {
order:0;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
padding-top:16px;
padding-bottom:16px;
background-color:pink;
color:black;
flex-wrap: wrap;
gap:32px;
}

.footer__socialMediaTextZone {
display:flex;
flex-direction:column;
order:0;
}

.footer__socialMediaText {
font-weight:bold;
}

.footer__socialMediaIconZone {
order:1;
gap:32px;
flex-direction:row;
display:flex;
flex-wrap: wrap;
}



.footer__mainBanners{
border-top:2px solid blue;
border-bottom:1px solid grey;
display: flex;
flex-direction: column;
align-items: stretch;
}


.footer__productBanner {
order:0;
display:grid;
grid-template-columns:1fr 1fr;
padding-top:16px;
padding-bottom:16px;
gap:1rem;
} 


.footer__productBannerleftZone {
display:flex;
flex-direction:column;
gap:16px;
align-items: flex-start;
}

.footer__versionLanguageZone {
display:flex;
flex-direction:column;
justify-content:flex-start;
gap:8px;
}

.image {
background-color:yellow;
}


.footer__rightZone {
display:flex;
flex-direction:column;
gap:16px;
grid-column-start:2;
}

.footer__descriptionZone {
order:1;
}
.footer__governmentLinksZone {
display:flex;
flex-direction:row;
justify-content: flex-start;
flex-wrap: wrap;
gap:8px;
order:2;
color:blue;
}

.footer__siteInfoBanner {
order : 2;
display:flex;
flex-direction:column;
justify-content:flex-start;
border-top:1px solid grey;
padding-top:16px;
padding-bottom:16px;
gap:12px;
}

.footer__siteInfoBannerLinkZone {
display:flex;
flex-direction:row;
justify-content:flex-start;
gap:12px;
}

.footer__siteInfoLink {
padding-right:12px;
border-right:1px solid grey;
}


.footer__partnersBanner {
order:1;
display:flex;
flex-direction:column;
padding-top:16px;
padding-bottom:16px;
border-top:1px solid grey;
gap:16px;
}

.footer__partnersBannerImagesZone {
display:flex;
flex-direction:row;
justify-content:space-between;
gap:3rem;
}


.footer__secondaryPartnersZone {
display:flex;
flex-direction:row;
align-items: flex-end;
flex-wrap:wrap;
gap:2rem;
}

.partnerImage {
width:100%;
height:auto;
max-height:90px;
max-width:160px;
}
