:root{
--rcn-modal-display: flex;
--rcn-modal-flex-direction: column;
--rcn-modal-justify-content: flex-start;
--rcn-modal-align-items: stretch;
--rcn-modal-border-width: var(--rcn-semantic-borderwidth-100);
--rcn-modal-border-color: var(--rcn-semantic-color-static-border-standard);
--rcn-modal-border-radius: var(--rcn-semantic-borderradius-200);
--rcn-modal-background-color: var(--rcn-semantic-color-static-background-standard);
--rcn-modal-max-height: 90vh;
--rcn-modal-box-shadow: var(--rcn-semantic-dropshadow-static-detached);
--rcn-modal-grid-area: modal;
--rcn-modal-height: fit-content;
--rcn-modal-overflow: auto;
--rcn-modal__header-display: flex;
--rcn-modal__header-flex-direction: column;
--rcn-modal__header-align-items: flex-start;
--rcn-modal__header-border-bottom: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_regular);
--rcn-modal__header-padding: var(--rcn-semantic-padding-vertical-600) var(--rcn-semantic-padding-horizontal-700);
--rcn-modal__header-max-width: 100%;
--rcn-modal__header-gap: var(--rcn-semantic-gap-vertical-200);
--rcn-modal__title-width: 100%;
--rcn-modal__closeButton-display: flex;
--rcn-modal__closeButton-flex-direction: row;
--rcn-modal__closeButton-align-items: center;
--rcn-modal__closeButton-gap: var(--rcn-semantic-gap-horizontal-200);
--rcn-modal__closeButton-align-self: flex-end;
--rcn-modal__closeButton-background: none;
--rcn-modal__closeButton-border: none;
--rcn-modal__closeIcon-in_before-content: var(--rcn-semantic-typography-content-icon-close);
--rcn-modal__content-padding: var(--rcn-semantic-padding-vertical-600) var(--rcn-semantic-padding-horizontal-700);
--rcn-modal__content-overflow: auto;
--rcn-modal__content-margin-top: var(--rcn-semantic-margin-vertical-modal);
--rcn-modal__content-margin-bottom: var(--rcn-semantic-margin-vertical-modal);
--rcn-modal__topOverlay-min-height: var(--rcn-semantic-height-overlay_modale);
--rcn-modal__topOverlay-height: var(--rcn-semantic-height-overlay_modale);
--rcn-modal__topOverlay-display: block;
--rcn-modal__topOverlay--onOverflow-background-image: var(--rcn-semantic-gradient-static-backgroundimage-topOverlay);
--rcn-modal__bottomOverlay-min-height: var(--rcn-semantic-height-overlay_modale);
--rcn-modal__bottomOverlay-height: var(--rcn-semantic-height-overlay_modale);
--rcn-modal__bottomOverlay-display: block;
--rcn-modal__bottomOverlay--onOverflow-background-image: var(--rcn-semantic-gradient-static-backgroundimage-bottomOverlay);
--rcn-modal__actionBanner-padding-left: var(--rcn-semantic-padding-horizontal-700);
--rcn-modal__actionBanner-padding-right: var(--rcn-semantic-padding-horizontal-700);
--rcn-modal__actionBanner-margin-top: 0px;
--rcn-modalOverlayedContainer-position: fixed;
--rcn-modalOverlayedContainer-top: 0;
--rcn-modalOverlayedContainer-left: 0;
--rcn-modalOverlayedContainer-display: grid;
--rcn-modalOverlayedContainer-grid-template-areas: ". . modal modal modal modal modal modal modal modal . .";
--rcn-modalOverlayedContainer-overflow: hidden;
--rcn-modalOverlayedContainer-height: 100%;
--rcn-modalOverlayedContainer-align-items: center;
--rcn-modalOverlayedContainer-margin: 0;
--rcn-modalOverlayedContainer-background-color: var(--rcn-semantic-color-static-background-modal_behind_background);
--rcn-modalOverlayedContainer--medium-grid-template-areas: ". . . modal modal modal modal modal modal . . .";
--rcn-modalOverlayedContainer--small-grid-template-areas: ". . . . modal modal modal modal . . . .";

}
