:root{
--rcn-inputFieldBloc-display: flex;
--rcn-inputFieldBloc-flex-direction: column;
--rcn-inputFieldBloc-align-items: stretch;
--rcn-inputFieldBloc-gap: var(--rcn-semantic-gap-horizontal-200);
--rcn-inputFieldBloc-background-color: var(--rcn-semantic-color-interaction-background-default-standard);
--rcn-inputFieldBloc-flex-grow: 1;
--rcn-inputFieldBloc-margin-bottom: var(--rcn-semantic-margin-vertical-inputfieldblock);
--rcn-inputFieldBloc__label-display: flex;
--rcn-inputFieldBloc__label-flex-direction: row;
--rcn-inputFieldBloc__label-gap: var(--rcn-semantic-gap-horizontal-100);
--rcn-inputFieldBloc__label-justify-content: flex-start;
--rcn-inputFieldBloc__label-font-weight: var(--rcn-semantic-typography-fontweight-label);
--rcn-inputFieldBloc__mandatoryAsterisk-in_before-content: "*";
--rcn-inputFieldBloc__mandatoryAsterisk-in_before-font-size: var(--rcn-semantic-typography-fontsize-h6);
--rcn-inputFieldBloc__mandatoryAsterisk-in_before-color: var(--rcn-semantic-color-feedback-text_and_icon-error);
--rcn-inputFieldBloc__errorZone-display: flex;
--rcn-inputFieldBloc__errorZone-flex-direction: row;
--rcn-inputFieldBloc__errorZone-gap: var(--rcn-semantic-gap-horizontal-200);
--rcn-inputFieldBloc__errorZone-color: var(--rcn-semantic-color-feedback-text_and_icon-error);
--rcn-inputFieldBloc__errorIcon-in_before-content: var(--rcn-semantic-typography-content-icon-alert);
--rcn-inputFieldBloc__errorZone-if_hidden-height: 0px;
--rcn-inputFieldBloc__errorZone-if_hidden-display: none;
--rcn-inputFieldBloc__errorZone-if_hidden-width: 0px;
--rcn-inputFieldBloc__successZone-display: flex;
--rcn-inputFieldBloc__successZone-flex-direction: row;
--rcn-inputFieldBloc__successZone-gap: var(--rcn-semantic-gap-horizontal-200);
--rcn-inputFieldBloc__successZone-color: var(--rcn-semantic-color-feedback-text_and_icon-success);
--rcn-inputFieldBloc__successIcon-in_before-content: var(--rcn-semantic-typography-content-icon-success);
--rcn-inputFieldBloc__successZone-if_hidden-height: 0px;
--rcn-inputFieldBloc__successZone-if_hidden-display: none;
--rcn-inputFieldBloc__successZone-if_hidden-width: 0px;
--rcn-inputField-display: flex;
--rcn-inputField-flex-direction: row;
--rcn-inputField-border: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-standard);
--rcn-inputField-border-radius: var(--rcn-semantic-borderradius-100);
--rcn-inputField-background-color: var(--rcn-semantic-color-interaction-background-default-standard);
--rcn-inputField-align-items: center;
--rcn-inputField--error-border-color: var(--rcn-semantic-color-interaction-border-default-error);
--rcn-inputField--disabled-border-color: var(--rcn-semantic-color-interaction-border-disabled);
--rcn-inputField--disabled-background-color: var(--rcn-semantic-color-interaction-background-disabled-standard);
--rcn-inputField--disabled-color: var(--rcn-semantic-color-interaction-text_and_icon-disabled);
--rcn-inputField__input-if_disabled-cursor: not-allowed;
--rcn-inputField__input-padding: var(--rcn-semantic-padding-vertical-200) var(--rcn-semantic-padding-horizontal-200);
--rcn-inputField__input-background: none;
--rcn-inputField__input-border: none;
--rcn-inputField__input-border-radius: var(--rcn-semantic-borderradius-100);
--rcn-inputField__input-flex-grow: 1;
--rcn-inputField__input-in_placeholder-color: var(--rcn-semantic-color-interaction-text_and_icon-disabled);
--rcn-inputField__input--select-padding: calc(var(--rcn-semantic-padding-vertical-200) - 1px) var(--rcn-semantic-padding-horizontal-200);
--rcn-inputField__input--datepicker-padding: calc(var(--rcn-semantic-padding-vertical-200) + 1px) var(--rcn-semantic-padding-horizontal-200);
--rcn-inputField__input--textarea-resize: vertical;
--rcn-inputField__input--number-text-align: right;
--rcn-inputField__unit-display: flex;
--rcn-inputField__unit-flex-direction: row;
--rcn-inputField__unit-align-self: stretch;
--rcn-inputField__unit-align-items: center;
--rcn-inputField__unit-order: 0;
--rcn-inputField__unit-background-color: var(--rcn-semantic-color-interaction-background-disabled-standard);
--rcn-inputField__unit-color: var(--rcn-semantic-color-interaction-text_and_icon-disabled);
--rcn-inputField__unit-border-top-left-radius: var(--rcn-semantic-borderradius-50);
--rcn-inputField__unit-border-bottom-left-radius: var(--rcn-semantic-borderradius-50);
--rcn-inputField__unit-border-top-right-radius: 0px;
--rcn-inputField__unit-border-bottom-right-radius: 0px;
--rcn-inputField__unit-padding: var(--rcn-semantic-padding-vertical-200) var(--rcn-semantic-padding-horizontal-200);
--rcn-inputField__option-if_checked-color: var(--rcn-semantic-color-interaction-text_and_icon-default-selected);
--rcn-inputField__option-if_checked-font-weight: var(--rcn-semantic-typography-fontweight-body-component-selected);
--rcn-inputField__button-display: flex;
--rcn-inputField__button-align-items: center;
--rcn-inputField__button-order: 5;
--rcn-inputField__button-padding: var(--rcn-semantic-padding-vertical-50) var(--rcn-semantic-padding-horizontal-200);
--rcn-inputField__button-cursor: pointer;
--rcn-inputField__button-align-self: stretch;
--rcn-inputField__button-if_disabled-cursor: not-allowed;
--rcn-inputField__button-if_disabled-color: var(--rcn-semantic-color-interaction-text_and_icon-disabled);
--rcn-inputField__button--secondary-order: 3;
--rcn-inputField__buttonSeparator-width: 1px;
--rcn-inputField__buttonSeparator-height: var(--rcn-semantic-typography-fontsize-body);
--rcn-inputField__buttonSeparator-background-color: var(--rcn-semantic-color-static-border-divider_regular);
--rcn-inputField__buttonSeparator-order: 4;
--rcn-inputField__button--hidePassword-in_before-content: var(--rcn-semantic-typography-content-icon-hide);
--rcn-inputField__button--showPassword-in_before-content: var(--rcn-semantic-typography-content-icon-show);
--rcn-inputFieldBloc--as-Search-margin-bottom: 0px;
--rcn-inputField__button--search-in_before-content: var(--rcn-semantic-typography-content-icon-search);
--rcn-inputField__button--largeSearch-display: flex;
--rcn-inputField__button--largeSearch-flex-direction: row;
--rcn-inputField__button--largeSearch-gap: var(--rcn-semantic-gap-horizontal-200);
--rcn-inputField__button--largeSearch-padding-right: var(--rcn-semantic-padding-horizontal-400);
--rcn-inputField__button--largeSearch-background-color: var(--rcn-semantic-color-interaction-background-default-standard);
--rcn-inputField__input--largeSearch-padding: var(--rcn-semantic-padding-vertical-400) var(--rcn-semantic-padding-horizontal-400);
--rcn-inputField__iconButton--largeSearch-in_before-content: var(--rcn-semantic-typography-content-icon-search);
--rcn-inputField__button--reset-in_before-content: var(--rcn-semantic-typography-content-icon-reset);
--rcn-inputField__button--delete-in_before-content: var(--rcn-semantic-typography-content-icon-close);
--rcn-inputField__button--combobox-in_before-content: var(--rcn-semantic-typography-content-icon-expand_vertical);
--rcn-fieldset__checkboxOrRadioList-display: flex;
--rcn-fieldset__checkboxOrRadioList-flex-direction: column;
--rcn-fieldset__checkboxOrRadioList-gap: var(--rcn-semantic-gap-vertical-200);
--rcn-fieldset__checkboxOrRadioList-padding-top: var(--rcn-semantic-padding-vertical-100);
--rcn-inputFieldBloc--checkboxOrRadio-flex-direction: row;
--rcn-inputFieldBloc--checkboxOrRadio-align-items: center;
--rcn-inputFieldBloc--checkboxOrRadio-margin-bottom: unset;
--rcn-inputFieldBloc__label--checkboxOrRadio-font-weight: var(--rcn-semantic-typography-fontweight-body-component);
--rcn-inputFieldBloc__label--checkboxOrRadio-align-items: flex-start;
--rcn-inputFieldBloc__label--checkboxOrRadio-checked-color: var(--rcn-semantic-color-interaction-text_and_icon-default-selected);
--rcn-inputFieldBloc__label--checkboxOrRadio-checked-font-weight: var(--rcn-semantic-typography-fontweight-label);
--rcn-inputField__input--checkbox-padding: unset;
--rcn-inputField__input--checkbox-order: -1;
--rcn-inputField__input--checkbox-font-size: calc(1.25 * var(--rcn-semantic-typography-fontsize-body));
--rcn-inputField__input--checkbox-line-height: calc(1.125 * var(--rcn-semantic-typography-fontsize-body));
--rcn-inputField__input--checkbox-in_before-content: var(--rcn-semantic-typography-content-icon-checkbox_blank);
--rcn-inputField__input--checkbox-in_before-color: var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
--rcn-inputField__input--checkbox-if_checked-in_before-content: var(--rcn-semantic-typography-content-icon-checkbox_checked);
--rcn-inputField__input--checkbox-if_checked-in_before-color: var(--rcn-semantic-color-interaction-text_and_icon-default-selected);
--rcn-inputField__input--radio-padding: unset;
--rcn-inputField__input--radio-order: -1;
--rcn-inputField__input--radio-font-size: calc(1.25 * var(--rcn-semantic-typography-fontsize-body));
--rcn-inputField__input--radio-line-height: calc(1.125 * var(--rcn-semantic-typography-fontsize-body));
--rcn-inputField__input--radio-in_before-content: var(--rcn-semantic-typography-content-icon-radiobox_blank);
--rcn-inputField__input--radio-in_before-color: var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
--rcn-inputField__input--radio-if_checked-in_before-content: var(--rcn-semantic-typography-content-icon-radiobox_checked);
--rcn-inputField__input--radio-if_checked-in_before-color: var(--rcn-semantic-color-interaction-text_and_icon-default-selected);
--rcn-fieldset-border: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_regular);
--rcn-fieldset-padding: var(--rcn-semantic-padding-vertical-600);
--rcn-fieldset-margin-bottom: var(--rcn-semantic-margin-vertical-fieldset);
--rcn-fieldset-display: flex;
--rcn-fieldset-flex-direction: column;
--rcn-fieldset-align-items: stretch;
--rcn-fieldset__legend-margin-bottom: unset;
--rcn-fieldset__legend-font-weight: var(--rcn-semantic-typography-fontweight-label);
--rcn-fieldset--as-inputFieldBloc-display: flex;
--rcn-fieldset--as-inputFieldBloc-flex-direction: column;
--rcn-fieldset--as-inputFieldBloc-align-items: stretch;
--rcn-fieldset--as-inputFieldBloc-border: none;
--rcn-fieldset--as-inputFieldBloc-flex-grow: 1;
--rcn-fieldset--as-inputFieldBloc-background-color: var(--rcn-semantic-color-static-background-standard);
--rcn-fieldset--as-inputFieldBloc-padding: var(--rcn-semantic-padding-vertical-200) var(--rcn-semantic-padding-horizontal-0) var(--rcn-semantic-padding-vertical-0) var(--rcn-semantic-padding-horizontal-0);
--rcn-fieldset--as-inputFieldBloc-margin-bottom: var(--rcn-semantic-margin-vertical-inputfieldblock);
--rcn-fieldset--as-inputFieldBloc-has-horizontalInputs-gap: var(--rcn-semantic-gap-vertical-400);
--rcn-fieldset__horizontalInputs___rcn-inputFieldBloc-margin-bottom: unset;
--rcn-fieldset__horizontalInputs-display: flex;
--rcn-fieldset__horizontalInputs-flex-wrap: wrap;
--rcn-fieldset__horizontalInputs-flex-direction: row;
--rcn-fieldset__horizontalInputs-gap: var(--rcn-semantic-gap-horizontal-400);
--rcn-inputField--file-display: flex;
--rcn-inputField--file-flex-direction: column;
--rcn-inputField--file-background-position: 0 0, 0 0, 100% 0, 0 100%;
--rcn-inputField--file-background-size: 1px 100%, 100% 1px, 1px 100% , 100% 1px;
--rcn-inputField--file-background-repeat: no-repeat;
--rcn-inputField--file-background-image: repeating-linear-gradient(0deg, #949494, #949494 10px, transparent 10px, transparent 20px),repeating-linear-gradient(90deg, #949494, #949494 10px, transparent 10px, transparent 20px),repeating-linear-gradient(180deg, #949494, #949494 10px, transparent 10px, transparent 20px),repeating-linear-gradient(270deg, #949494, #949494 10px, transparent 10px, transparent 20px);
--rcn-inputField--file-border-radius: var(--rcn-semantic-borderradius-200);
--rcn-inputField--file-border: none;
--rcn-inputField--file-background-color: var(--rcn-semantic-color-interaction-background-default-standard);
--rcn-inputField--file-gap: var(--rcn-semantic-gap-horizontal-200);
--rcn-inputField--file-align-items: stretch;
--rcn-inputField--file-text-align: center;
--rcn-inputField--file-padding: var(--rcn-semantic-padding-horizontal-400) var(--rcn-semantic-padding-vertical-400);
--rcn-inputField--file-position : relative;
--rcn-inputField--file-cursor: pointer;
--rcn-inputField__uploadIcon-line-height: var(--rcn-semantic-typography-lineheight-heading);
--rcn-inputField__uploadIcon-font-size: var(--rcn-semantic-typography-fontsize-h1);
--rcn-inputField__input--file-position : absolute;
--rcn-inputField__input--file-clip-path: content-box;
--rcn-inputField__input--file-bottom: var(--rcn-semantic-padding-horizontal-400);
--rcn-inputField__input--file-left: var(--rcn-semantic-padding-horizontal-400);
--rcn-inputField__input--file-width: calc(100% - (3 * var(--rcn-semantic-padding-horizontal-400)));
--rcn-inputField__input--file-height: var(--rcn-semantic-padding-vertical-400);
--rcn-inputField__input--file-text-indent: -999999px;
--rcn-inputField__input--file-cursor: pointer;
--rcn-inputField__input--unitSelect-border-right: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-standard);
--rcn-inputField__input--unitSelect-flex-grow: 0;
--rcn-inputFieldBloc--horizontal-display: flex;
--rcn-inputFieldBloc--horizontal-flex-direction: row;
--rcn-inputFieldBloc--horizontal-gap: var(--rcn-semantic-gap-horizontal-200);
--rcn-inputFieldBloc--horizontal-align-items: center;
--rcn-inputFieldBloc--horizontal-flex-grow: 0;
--rcn-combobox-display: flex;
--rcn-combobox-flex-direction: column;
--rcn-combobox-position : relative;
--rcn-combobox__placeholder-padding: 11px var(--rcn-semantic-padding-horizontal-200);
--rcn-combobox__dropDownList-position : absolute;
--rcn-combobox__dropDownList-top: calc(100% - 1px);
--rcn-combobox__dropDownList-border: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-standard);
--rcn-combobox__dropDownList-right: 0;
--rcn-combobox__dropDownList-left: 0;
--rcn-combobox__dropDownList-margin: 0;
--rcn-combobox__dropDownList-width: auto;
--rcn-combobox__dropDownList-padding: var(--rcn-semantic-padding-vertical-200) var(--rcn-semantic-padding-horizontal-200);
--rcn-combobox__dropDownList-gap: var(--rcn-semantic-gap-vertical-200);
--rcn-combobox__dropDownList-background-color: var(--rcn-semantic-color-interaction-background-default-standard);
--rcn-combobox__dropDownList-if_hidden-height: 0px;
--rcn-combobox___rcn-fieldset--as-inputFieldBloc-margin-bottom: unset;

}
