:root{
--rcn-footer-display: flex;
--rcn-footer-flex-direction: column;
--rcn-footer-align-items: stretch;
--rcn-footer-background-color: var(--rcn-semantic-color-static-background-standard);
--rcn-footer-margin-top: var(--rcn-semantic-margin-vertical-footer);
--rcn-footer__socialMediasBanner-order: 0;
--rcn-footer__socialMediasBanner-display: flex;
--rcn-footer__socialMediasBanner-flex-direction: row;
--rcn-footer__socialMediasBanner-justify-content: space-between;
--rcn-footer__socialMediasBanner-align-items: center;
--rcn-footer__socialMediasBanner-flex-wrap: wrap;
--rcn-footer__socialMediasBanner-gap: var(--rcn-semantic-gap-horizontal-600);
--rcn-footer__socialMediasBanner-padding-top: var(--rcn-semantic-padding-vertical-400);
--rcn-footer__socialMediasBanner-padding-bottom: var(--rcn-semantic-padding-vertical-400);
--rcn-footer__socialMediasBanner-background-color: var(--rcn-semantic-color-static-background-footer_banner);
--rcn-footer__socialMediasTextZone-display: flex;
--rcn-footer__socialMediasTextZone-flex-direction: column;
--rcn-footer__socialMediasTextZone-order: 0;
--rcn-footer__socialMediasText-font-weight: bold;
--rcn-footer__socialMediasText-color: var(--rcn-semantic-color-static-text_and_icon-dsfr_strong);
--rcn-footer__socialMediasIconsZone-display: flex;
--rcn-footer__socialMediasIconsZone-flex-direction: row;
--rcn-footer__socialMediasIconsZone-order: 1;
--rcn-footer__socialMediasIconsZone-flex-wrap: wrap;
--rcn-footer__socialMediasIconsZone-gap: var(--rcn-semantic-gap-horizontal-600);
--rcn-footer__socialMediasIcons-color: var(--rcn-semantic-color-interaction-text_and_icon-default-link);
--rcn-footer__socialMediasIcons-text-decoration: none;
--rcn-footer__mainBanners-order: 1;
--rcn-footer__mainBanners-border-top: var(--rcn-semantic-borderwidth-200) solid var(--rcn-semantic-color-static-border-footer_banner_divider);
--rcn-footer__mainBanners-border-bottom: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-footer_element_divider);
--rcn-footer__mainBanners-display: flex;
--rcn-footer__mainBanners-flex-direction: column;
--rcn-footer__mainBanners-align-items: stretch;
--rcn-footer__productBanner-order: 0;
--rcn-footer__productBanner-padding-top: var(--rcn-semantic-padding-vertical-400);
--rcn-footer__productBanner-padding-bottom: var(--rcn-semantic-padding-vertical-400);
--rcn-footer__productBanner-color: var(--rcn-semantic-color-static-text_and_icon-dsfr_medium);
--rcn-footer__productBanner-grid-template-areas: "logo logo logo logo logo logo description description description description description description";
--rcn-footer__logoZone-display: flex;
--rcn-footer__logoZone-grid-area: logo;
--rcn-footer__logoZone-flex-direction: column;
--rcn-footer__logoZone-align-items: flex-start;
--rcn-footer__logoZone-gap: var(--rcn-semantic-gap-vertical-200);
--rcn-footer__productLogo-margin-bottom: var(--rcn-semantic-gap-vertical-200);
--rcn-footer__descriptionZone-display: flex;
--rcn-footer__descriptionZone-grid-area: description;
--rcn-footer__descriptionZone-flex-direction: column;
--rcn-footer__descriptionZone-gap: var(--rcn-semantic-gap-vertical-400);
--rcn-footer__productDescription-order: 1;
--rcn-footer__institutionalEcosystemLinks-font-weight: bold;
--rcn-footer__institutionalEcosystemLinks-order: 2;
--rcn-footer__institutionalEcosystemLinks-display: flex;
--rcn-footer__institutionalEcosystemLinks-flex-direction: row;
--rcn-footer__institutionalEcosystemLinks-gap: var(--rcn-semantic-gap-horizontal-500);
--rcn-footer__institutionalEcosystemLinks-justify-content: flex-start;
--rcn-footer__institutionalEcosystemLinks-flex-wrap: wrap;
--rcn-footer__institutionalEcosystemLink-text-decoration: none;
--rcn-footer__institutionalEcosystemLink-font-weight: bold;
--rcn-footer__institutionalEcosystemLink-color: var(--rcn-semantic-color-static-text_and_icon-dsfr_medium);
--rcn-footer__institutionalEcosystemLink-if_hover-text-decoration: underline;
--rcn-footer__institutionalEcosystemLink-if_hover-font-weight: bold;
--rcn-footer__institutionalEcosystemLink-if_hover-color: var(--rcn-semantic-color-static-text_and_icon-dsfr_medium);
--rcn-footer__mandatoryLegalLinks-order: 2;
--rcn-footer__mandatoryLegalLinks-display: flex;
--rcn-footer__mandatoryLegalLinks-flex-direction: row;
--rcn-footer__mandatoryLegalLinks-justify-content: flex-start;
--rcn-footer__mandatoryLegalLinks-border-top: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-footer_element_divider);
--rcn-footer__mandatoryLegalLinks-padding: var(--rcn-semantic-padding-vertical-400) 0;
--rcn-footer__mandatoryLegalLinks-gap: var(--rcn-semantic-gap-horizontal-300);
--rcn-footer__mendatoryLegalLink-padding-right: var(--rcn-semantic-padding-horizontal-300);
--rcn-footer__mendatoryLegalLink-border-right: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-footer_element_divider);
--rcn-footer__mendatoryLegalLink-color: var(--rcn-semantic-color-static-text_and_icon-dsfr_light);
--rcn-footer__mendatoryLegalLink-text-decoration: none;
--rcn-footer__mendatoryLegalLink-if_hover-color: var(--rcn-semantic-color-static-text_and_icon-dsfr_light);
--rcn-footer__mendatoryLegalLink-if_hover-text-decoration: underline;
--rcn-footer__licenseNotice-order: 3;
--rcn-footer__licenseNotice-padding: var(--rcn-semantic-padding-vertical-400) 0;
--rcn-footer__partnersBanner-order: 1;
--rcn-footer__partnersBanner-display: flex;
--rcn-footer__partnersBanner-flex-direction: column;
--rcn-footer__partnersBanner-padding: var(--rcn-semantic-padding-vertical-400) 0;
--rcn-footer__partnersBanner-border-top: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-footer_element_divider);
--rcn-footer__partnersBanner-gap: var(--rcn-semantic-gap-vertical-400);
--rcn-footer__partnersBanner-color: var(--rcn-semantic-color-static-text_and_icon-dsfr_medium);
--rcn-footer__partnersLogosZone-display: flex;
--rcn-footer__partnersLogosZone-flex-direction: row;
--rcn-footer__partnersLogosZone-justify-content: space-between;
--rcn-footer__partnersLogosZone-gap: var(--rcn-semantic-gap-horizontal-700);
--rcn-footer__secondaryPartnersZone-gap: var(--rcn-semantic-gap-horizontal-200);
--rcn-footer__secondaryPartnersZone-display: flex;
--rcn-footer__secondaryPartnersZone-flex-direction: row;
--rcn-footer__secondaryPartnersZone-align-items: flex-end;
--rcn-footer__secondaryPartnersZone-flex-wrap: wrap;
--rcn-footer__partnerLogo-width: 100%;
--rcn-footer__partnerLogo-height: auto;
--rcn-footer__partnerLogo-max-height: 90px;
--rcn-footer__partnerLogo-max-width: 160px;

}
