/* Gérer la position des éléments au sein d'un seul input*/
.rcn-input {
    display: flex;
    flex-direction: column;
    gap: 8px;px;  
    background-color:burlywood; 

}

/* input obligatoire*/

.mandoryZone {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
    background-color: yellow;
}

.asterix{
    font-size: 20px;
    color:red;

}

.rcn-input__label {
    font-size:22px;
    font-weight:bold;
    font-family:monospace;


}

.input__content {
    display:flex;
    flex-direction:row;
    gap:0px;
    border: 1px solid;
    border-color:grey;
    border-radius:2px;
    justify-content:space-between;


}

.input__input{
    border:none;
    flex-grow:1;
    padding:8px;
}

.input__zone:focus{
    border:none;
}



/* message d'erreur ou de success sous l'input*/

.messageZone {
    display:flex;
    flex-direction: row;
    gap:8px;
    color:greenyellow;
    align-items: center;
    

}

/* zone qui englobe les inputs*/

.input-zone{
    display: flex;
    flex-direction:column;
    gap: 32px;
    background-color: P;

}

label {
    color:#000;
    font-size: 1rem;
    display:block;
    font-weight: bold;
    width:100%;
    margin:0 1rem 0 0;
    padding:0;
    border:none;
}
.RCN_InputDatepicker-block {
    display: block;
    width:100%;
    margin:0;
    padding:0;
    position:relative;
    margin-top:0.5rem;
}
.RCN_InputDatepicker-block i {
    position:absolute;
    display:inline;
    top:0;
    right:0;
    margin:calc(0.5rem + 1px);

}

input {
    border:1px solid #bbbbbb;
    border-radius: 2px;
    font-size: 1rem;
    padding:0.5rem;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}