@import url('../../Asset/Cores et semantiques/Core/CoreTokens-CHORUSPRO.min.css');
@import url('../../Asset/Cores et semantiques/Semantic/SemanticTokensColor.min.css');
@import url('../../Asset/Cores et semantiques/Semantic/SemanticTokensShadow.min.css');
@import url('../../Asset/Cores et semantiques/Semantic/SemanticTokensLayout.min.css');
@import url('../../Asset/Font_Marianne/Marianne/fontes desktop/Marianne-Regular.otf');
@import url('../../Asset/Cores et semantiques/Semantic/SemanticTokensTypography.min.css');
@import url('../../Asset/cssReset.css');
@import url('./Lot 2 MVI.css');

@font-face {
    font-family: 'RCNicon';
    src: url(../../Asset/Font_icon/RCNicon.ttf);
}

body{
    font-size: 16px;
    line-height: 1rem;
}

input {
  /* Reset styles for inputs */
  padding: 0;
  border: unset;
  background: transparent;
  font-size:unset;
  appearance: unset;
  -webkit-appearance: unset;
  -moz-appearance: unset;
  -ms-appearance: unset;
  min-width:unset;
}


option {
  /* Reset styles for inputs */
  padding: 0;
  border: unset;
  background: transparent;
  font-size:unset;
  appearance: unset;
  -webkit-appearance: unset;
  -moz-appearance: unset;
  -ms-appearance: unset;
}

select {
  padding: 0;
  border: unset;
  background: transparent;
  font-size:unset;
}

select option {
    line-height:1rem;
}


textarea:focus {
    outline:2px solid orange;
}


/*
.form-icon::before{
    font-family: 'RCNicon';
    content: "\e938";
    color: BLACK;
    text-decoration:none;
    font-style:normal;

}*/


/* la zone globale qui encadre tous les input*/
.rcn-formLot1{
    display:flex;
    flex-direction:column;
    align-items:stretch;
    /* à ne pas prendre en compte, juste pour l'exemple*/
    padding:64px;
    background-color: white;
    font-size: 1rem;
    font-family : "Marianne";
}



/* la zone d'un input avec label etc.*/
.rcn-inputFieldBloc{
    display:flex;
    flex-direction:column;
    align-items: stretch;
    gap: 8px;
    background-color: white;
    flex-grow: 1;
    margin-bottom : var(--rcn-semantic-margin-vertical-inputfieldblock);
}

/* la zone label obligatoire.*/

/*.rcn-input__mandatoryZone{
    display:flex;
    flex-direction:row;
    gap:8px;
    background-color: rgb(120, 172, 224);
    justify-content: flex-start;
}*/

.rcn-inputFieldBloc__label {
    display:flex;
    flex-direction:row;
    gap:4px;
    justify-content: flex-start;
    font-weight:bold;
}

/*.rcn-inputFieldBloc:has(.rcn-inputField__input[required]) .rcn-inputFieldBloc__label::after{
    content:'*';
    font-size:1.1rem;
    color:red;
}*/

.rcn-inputFieldBloc__mandatoryAsterisk::before{
    content:'*';
    font-size:1.2rem; /*à mettre en H6*/
    color:red;
}

/* la zone du texte descriptif sous le label - pas à mettre dans le excel ça sera le body*/
/*
.rcn-input-textZone{
    font-size:16px;
    color:purple;
}*/



/* la classe d'input qui contient input+icones */

.rcn-inputField{
    display:flex;
    flex-direction:row;
    border: 1px solid;
    border-color:#949494;
    align-items:center;
    border-radius:2px;
    background-color: white;
}

.rcn-inputField:has(.rcn-inputField__input[disabled]){
    border-color:#CECECE;
    background-color : #F0F0F0;
    color: #6A6A6A;
}

.rcn-inputField--error{
    border-color:red;
}

/* l'input"natif" > (dans le excel: rcn-inputs__content)*/

.rcn-inputField__input{
    border:none;
    flex-grow:1;
    padding:8px;
    border-radius: 1px;
    background:none;
    line-height: 1rem;
    font-size: 1rem;
    font-family : "Marianne";
}

.rcn-inputField__input--select{
    padding: 7px 8px;
}

.rcn-inputField__input--datepicker{
    padding: 9px 8px;
}

.rcn-inputField__input--textarea{
    resize: vertical;
}
.rcn-inputField__input--number{
    text-align: right;
}

/*.rcn-inputField__input--unit{
    border: 1px solid black !important;
    background-color: white;
    padding-left: 6px;
    border-right: 6px solid white;
    color: black;
    border: none;
    font-family: "Marianne";
    font-size : 1rem;
    flex-grow : 0;
}*/

.rcn-inputField__input[disabled]{
    cursor: not-allowed;
}


.rcn-inputField__input::placeholder{
    color:#6A6A6A;
}

/*
input[type="date"]{
    padding:7px;
}*/




/* la zone icon (toujours placée à droite de l'input) */

/*.rcn-input__icon{
    background:green;
    border:none;
    color:black;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    display: flex;
    align-items: center;
}*/
/*
.rcn-input__icon[disabled]{
    background-color: #bbbbbb;
    color:purple;
    
}
*/


/* message d'erreur si l'input est en erreur ou success*/

/*.rcn-input__informationZone{
    display: flex;
    flex-direction:row;
    gap:8px;
}
*/
.rcn-inputFieldBloc__errorZone{
    display: flex;
    flex-direction:row;
    gap:8px;
    color:red;
}

.rcn-inputFieldBloc__errorIcon::before{
    font-family: 'RCNicon';
    content: "\e921";
    text-decoration:none;
    font-style:normal;
}

.rcn-inputFieldBloc__errorZone[hidden]{
    height:0px;
    display: none;
    width:0px;
}


.rcn-inputFieldBloc__successZone{
    display: flex;
    flex-direction:row;
    gap:8px;
    color:green;

}

.rcn-inputFieldBloc__successIcon::before{
    font-family: 'RCNicon';
    content: "\e920";
    text-decoration:none;
    font-style:normal;

}

.rcn-inputFieldBloc__successZone[hidden]{
    height: 0px;
    display: none;
    width:0px;
}


/* pour l'input price picker : la zone unit (toujours placée à gauche de l'input) */


.rcn-inputField__unit{
    display: flex;
    flex-direction: row;
    align-self:stretch;
    align-items: center;
    order:0;
    background-color:#F0F0F0;
    color: #6A6A6A;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding:8px;
}

/*.rcn-inputField__unit--select{
    background-color: white;
    padding-left: 6px;
    border-right: 6px solid white;
    color: black;
    border: none;
    font-family: "Marianne";
    font-size : 1rem;
    flex-grow : 0;
}
.rcn-inputField__unit--select::placeholder{
    color:#6A6A6A;
}*/



/* Style pour les options sélectionnées (ce sont les seules que j'arrive à changer sachant que l'on garde le natif) */

.rcn-inputField__option:checked {
    color: blue;
    font-weight: bold;
  }

/*ne pas prendre dans l'Excel*/
.sr-only{
    height :0px;
    margin : 0;
}

/*.rcn-input__icon{
    background:green;
    border:none;
    color:black;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    display: flex;
    align-items: center;
}*/

/*Classes de l'onglet Button, ne pas reprendre*/
.rcn-iconButton{
    border : none;
    background : transparent;
    padding : 0;
    margin : 0;
}
.rcn-iconButton:hover{
    color: #4662A6;
}


/*NEW*/
.rcn-inputField__button{
    display: flex;
    align-items:center;
    order : 5;
    padding : 2px 8px;
    cursor : pointer;    
    font-size: 1rem;
    align-self: stretch;
}

.rcn-inputField__button[disabled]{
    cursor:not-allowed;
    color:#6A6A6A;
}

/*NEW*/
.rcn-inputField__button--secondary{
    order : 3;
 }
/*NEW*/
 .rcn-inputField:has(.rcn-inputField__button--secondary)::before{
    order: 4;
    content:"";
    border-right: 1px solid #CECECE;
    padding: 8px 0px;
 }

.rcn-inputField__button--hidePassword::before{
    font-family: 'RCNicon';
    content: "\e92a";
}
.rcn-inputField__button--showPassword::before{
    font-family: 'RCNicon';
    content: "\e92b";
}

/*NEW*/
.rcn-inputField__button--search::before{
    font-family: 'RCNicon';
    content: "\e91d";
}
/*NEW*/
.rcn-inputField__button--largeSearch{
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-right:16px;
}
/*NEW*/
.rcn-inputField__input--largeSearch{
    padding: 16px;
}
/*NEW*/
.rcn-inputField__button--largeSearch::before{
    font-family: 'RCNicon';
    content: "\e91d";
}
/*NEW*/
.rcn-inputField__button--reset::before{
    font-family: 'RCNicon';
    content: "\e91c";
}
/*NEW*/
.rcn-inputField__button--delete::before{
    font-family: 'RCNicon';
    content: "\e91e";
}
/*NEW*/
.rcn-inputField__button--combobox::before {
    font-family:'rcnicon';
    content: "\e92f";
}


