@font-face {
    font-family: 'RCNicon';
    src: url(../../Asset/Font_icon/RCNicon.ttf);
}


i {
    font-style:normal;
}

/* la zone globale qui encadre tous les input*/
.rcn-input-lotGlobal{
    display:flex;
    flex-direction:column;
    gap:32px;
    /* à ne pas prendre en compte, juste pour l'exemple*/
    padding:32px;
    background-color: blueviolet;
    width:800px;
}

/* la zone d'un input avec label etc.*/
.rcn-input-zone{
    display:flex;
    flex-direction:column;
    gap: 8px;
    /* à ne pas prendre en compte, juste pour l'exemple*/
    background-color: rgb(197, 166, 226);

}

/* la zone label */

.rcn-input__label {
    font-size: 20px;
    color:blue;
    width:auto;
    font-weight: bold;
}


/* Input checkbox*/

.checkbox__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:8px;
    background-color: pink;
}

/* box qui content label + icon checkbox*/
.rcn-input__btnboxZone{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:8px;
}

/* Permet de faire en sorte que l'icon checkbox ou radiobox natif n'apparaisse pas*/
.rcn-input__btnboxIcon{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    appearance: none;
}


input[type="checkbox"]:checked + .label-check{
    color:blue;
}

/*ça c'est un test mais ça fonctionne pas*/

.input-btnbox[type="checkbox"]:checked + .label-check{
    color:blue;
}

/*fin du test*/


input[type="checkbox"]::before{

    font-family:'RCNicon';
    content: "\e939";
    color:black;

}

input[type="checkbox"]:checked::before{

    font-family:'RCNicon';
    content: "\e938";
    color:blue;

}

/* Test pour l'input radio*/

input[type="radio"]:checked + .label-check{
    color:blue;
}


.icon-radio::before{

    font-family:'RCNicon';
    content: "\e93b";
    color:black;

}



input[type="radio"]:checked::before{

    font-family:'RCNicon';
    content: "\e93a";
    color:blue;

}




