@font-face {
    font-family: 'RCNicon';
    src: url(../../Asset/Font_icon/RCNicon.ttf);
}

.rcn-form__global{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:24px;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
    margin: 0 80px;
    
}

.rcn-form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 32px;
    background-color:darkcyan;
    grid-column-start: 4; /* Début de la quatrième colonne */
    grid-column-end: 12; /* Fin de la onzième colonne */
    

}

.rcn-form__mandatoryInputs{
    display: flex;
    flex-direction: row;
    width:auto;
    justify-content: center;
}

.rcn-form__title{
    display: flex;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end:2;

}


.rcn-form__input{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:16px;
    margin-bottom:16px;

}

.rcn-navZone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top : 1px solid grey;
    border-right : none;
    border-left: none;
    border-bottom:none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 0px;
    padding-left: 0px;


}

.rcn-form-navZoneRight{
    display:flex;
    flex-direction: row;
    gap:8px;
    width:auto;
}



.rcn-form__verticalStepper{
    grid-row-start: 2;
    background-color: bisque;
}

/* Class à ne pas re-use servant pour l'exemple*/

.rcn-stepper--vertical{
    background-color: aquamarine;
    width: 100px;
    height: 700px;
}

.rcn-title{
    font-size: 40px;
    margin-bottom: 16px;
    color: black;
    font-weight: bold;
}

/* Class reprises du lot1 pour l'exemple*/

.rcn-input-zone{
    display:flex;
    flex-direction:column;
    gap: 8px;
    /* à ne pas prendre en compte, juste pour l'exemple*/
    background-color: white;

}

.rcn-input__mandatoryZone{
    display:flex;
    flex-direction:row;
    gap:8px;
    justify-content: flex-start;
}

.rcn-input__label {
    font-size: 20px;
    color:blue;
    width:auto;
    font-weight:bold;
}

.rcn-input__asterix{
    font-size:23px;
    color:red;
}

.rcn-input{
    display:flex;
    flex-direction:row;
    gap:2px;
    border: 1px solid;
    border-color:black;
    border-radius:2px;
    justify-content:space-between;
    background-color: white

}

.rcn-input__content{
    border:none;
    flex-grow:1;
    padding:8px;
    border-radius: 2px;
}

/* Class reprises des boutons pour l'exemple*/

.button--primary {
    background-color: blue;
    font-size:1rem;
    line-height:1rem;
    padding:12px 24px;
    border: 2px solid blue;
    border-radius:0.375rem;
    color:white;
  }

  .button--secondary {
    background-color: white;
    font-size:1rem;
    line-height:1rem;
    padding:12px 24px;
    border-radius:0.375rem;
    border: 2px solid blue;
    color:blue;

  }
