@font-face {
    font-family: 'RCNicon';
    src: url(../../Asset/Font_icon/RCNicon.ttf);
}

.form-icon::before{
    font-family: 'RCNicon';
    content: "\e938";
    color: BLACK;
    text-decoration:none;

}

i {
    font-style:normal;
}

/* la zone globale qui encadre tous les input*/
.rcn-input-lotGlobal{
    display:flex;
    flex-direction:column;
    gap:32px;
    /* à ne pas prendre en compte, juste pour l'exemple*/
    padding:32px;
    background-color: blueviolet;
    width:800px;
}

/* la zone d'un input avec label etc.*/
.rcn-input-zone{
    display:flex;
    flex-direction:column;
    gap: 8px;
    /* à ne pas prendre en compte, juste pour l'exemple*/
    background-color: rgb(197, 166, 226);

}

/* la zone label obligatoire.*/

.rcn-input__mandatoryZone{
    display:flex;
    flex-direction:row;
    gap:8px;
    background-color: rgb(120, 172, 224);
    justify-content: flex-start;
}

.rcn-input__label {
    font-size: 20px;
    color:blue;
    width:auto;
}

.rcn-input__asterix{
    font-size:23px;
    color:red;
}

/* la zone du texte descriptif sous le label - pas à mettre dans le excel ça sera le body*/

.rcn-input-textZone{
    font-size:16px;
    color:purple;
}

.input-test-cle::after{

    font-family: 'RCNicon';
    content: "\e938";
    color: BLACK;
    text-decoration:none;

}

/* la d'input qui contient input+icones */

.rcn-input{
    display:flex;
    flex-direction:row;
    gap:0px;
    border: 1px solid;
    border-color:black;
    border-radius:2px;
    justify-content:space-between;
    width:100%;
}
.rcn-input:has( .rcn-input__content[disabled]){
    border-color:mediumturquoise;
}


.rcn-imput--error{
    border-color:red;
}

/* la zone icon (toujours placée à droite de l'input) */

.rcn-input__icon{
    background:white;
    border:none;
    color:black;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.rcn-input__icon[disabled]{
    background-color: #bbbbbb;

}

/* l'input"natif" > (dans le excel: rcn-inputs__content)*/

.rcn-input__content{
    border:none;
    flex-grow:1;
    padding:8px;
    border-radius: 2px;
}

.rcn-input__content[disabled] {
    background-color:#bbbbbb;
    border-color:grey;
    color:green;
    border-radius: 2px ;
}

.rcn-input__content--withicon{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.rcn-input__content--withunit{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}


input::placeholder{
    color:gray;
}

.rcn-input__content::placeholder{
    color:palevioletred;
}

.rcn-input__content:focus{
    outline:2px solid orange;
}

/* message d'erreur si l'input est en erreur*/

.rcn-input__informationZone{
    display: flex;
    flex-direction:row;
    gap:8px;
}

.rcn-input__informationZone--error{
    color:red;
}

.rcn-input__informationZone--success{
    color:greenyellow;
}

/* pour l'input price picker : la zone unit (toujours placée à gauche de l'input) */


.input__unit{
    display: flex;
    flex-direction: row;
    gap:8px;
    align-items: center;
    order:0;
    background-color:gainsboro;
    color:rgb(80, 79, 78);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border:none;
    padding-left:16px;
    padding-right:16px;
}

.input__unit--selected{
    flex-grow: 0;
    padding-right:2rem;
}


/* pour l'input selected*/


#TestSelect select {
    border:1px solid #bbbbbb;
    border-radius: 2px;
    background:#fff;
    font-size: 1rem;
    padding:0.5rem;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    appearance: none;
    position: relative;
}


/* pour le textarea*/

textarea:focus {
    outline:2px solid orange;
}

.rcn-input__label--textArea{
    height: 40px;
}

/* pour la date multi-champs*/

.multi-champs-date{
    display: flex;
    flex-direction:row;
    gap: 16px;
    align-items: center;
    background-color:aqua;
    justify-content:space-between;

}

.rcn-test{
    display:flex;
    flex-direction:column;
    background-color: yellow;
}

.input--middle{
    display: flex;
    flex-grow: 1;
}

/* pour l'import de fichiers*/

/* reset fieldset*/
fieldset {
    display: block;
    margin-inline-start: 0 ;
    margin-inline-end: 0px;
    border: none;
    padding-block-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    min-inline-size: min-content;
  }
  
  legend {
    padding-inline-start: 0; padding-inline-end: 0;
  }
/* Design Input type file*/

fieldset {
    appearance:none;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='2' ry='2' stroke='%23333' stroke-width='1' stroke-dasharray='10%2c10' stroke-dashoffset='10' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 2px;
    border:none;
}

fieldset legend {
    color:#000;
    font-size: 1rem;
    display:block;
    font-weight: bold;
    width:100%;
    margin-bottom:1rem;
    padding:0;
    /* reset des éléments du navigateur > faudrait lui créer une classe appart*/
    position:initial;
    padding-block-end: 3rem;
    padding-inline-start: 0rem;
}

.RCN_Input-file{
    background-color: wheat;
}

label {
    color:#000;
    font-size: 1rem;
    display:block;
    font-weight: bold;
    width:100%;
    margin:0 1rem 0 0;
    padding:0;
    border:none;
    cursor:pointer;
}
label * {
    display:block;
    width:100%;
    text-align: center;
}
label > i {
    font-size:3rem;
}
.RCN_Btn_secoondary {
    display: block;
    width:fit-content;
    border:1px solid #5770be;
    padding:0.5rem 0.75rem;
    color:#5770be;
    font-size: 1rem;;
    margin:1rem auto 1rem auto;
    border-radius: 5px;
    position:relative;
}
.RCN_Btn_secoondary:hover {
    background:#ffffffcc;
    color:#4662A6;
    border-color:#4662A6;
}

/* pour que l'input type file existe encore mais qu'il soit pas accessible*/
input[type="file"] {
    position:absolute;
    top:0;
    left:0;
    width: 1px;
    height: 1px;
}

.RCN_ListTlv-container {
    display:flex;
    flex-direction: row;
    margin: 1rem auto 0 auto;
    padding:0;
    list-style: none;
    width:100%;
    text-align: center;
    
}

.RCN_ListTlv-container li {
    display:inline-block;
    margin:0.25rem 1rem;
    min-width: 12%;
}

.RCN_ListTlv-chips {
    color:#000;
    font-size: 1rem;
    border-radius: 1.25rem;
    padding:0.5rem 0.75rem;
    background:#E6EAF5;
    cursor:pointer;
    border:none;
    vertical-align: middle;
}
.RCN_ListTlv-chips:hover, .RCN_ListTlv-chips:focus {
    background: #AAB7DE;
}
.RCN_ListTlv-chips i {
    display: inline;
    line-height: 1rem;
    vertical-align: inherit;
}

/* Input checkbox*/

.checkbox__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:8px;
    background-color: pink;
}

.choix{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.RCN-Input_checkbox_btn{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    appearance: none;
}

.choix:active{
    color:blue;
}

input[type="checkbox"]:checked + .label-check{
    color:blue;
}


input[type="checkbox"]::before{

    font-family:'RCNicon';
    content: "\e939";
    color:black;

}



input[type="checkbox"]:checked::before{

    font-family:'RCNicon';
    content: "\e938";
    color:blue;

}

/* Input liste déroulante*/

.liste-total{
    display: flex;
    flex-direction: column;
    gap:0px;
}

.rcn-liste-deroul{
    display: flex;
    flex-direction: column;
    gap:1px;
    background-color: #E6EAF5;
    border-color: #000;
    border: solid 1px;
    margin: 0px;
}

.liste-text{
    border: 1px solid white;
    color:black;
    padding-top:8px;
    padding-bottom: 8px;
}

.list-first{
    color:grey;
}

.list-select{
    border-left-color: #4662A6;
    border-left : 3px solid;
    color:#4662A6;
}

p{
    margin-top: 0px;
    margin-bottom: -2px;
}

.list-last{
    margin-bottom: 0px;
}

/* Input liste déroulante-test*/

/* Style pour le select */
select {
    appearance: none;
    padding: 8px 30px 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23999' d='M12.6 5.6L8 10.2 3.4 5.6l-.8.8L8 11.8l5.4-5.4-.8-.8z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
  }
  
  /* Style pour les options */
  select option {
    padding: 30px 30px;
    background-color: greenyellow;
    border-left: 4px solid palevioletred;
  }
  
  /* Style pour les options au survol */
  select option:hover {
    background-color: yellow;
    cursor: pointer;
    outline: #AAB7DE;
    color: violet;
  }
  
  /* Style pour les options sélectionnées */
  select option:checked {
    border-left: 4px solid palevioletred;
    color: blue;
    font-weight: bold;
    background-color: aqua;
    padding: 30px 30px;
  }




  /* exemple */
