@import url('../../Asset/Cores et semantiques/Core/CoreTokens-CHORUSPRO.min.css');
@import url('../../Asset/Cores et semantiques/Semantic/SemanticTokensColor.min.css');
@import url('../../Asset/Cores et semantiques/Semantic/SemanticTokensShadow.min.css');
@import url('../../Asset/Cores et semantiques/Semantic/SemanticTokensLayout.min.css');
@import url('../../Asset/Font_Marianne/Marianne/fontes desktop/Marianne-Regular.otf');
@import url('../../Asset/Cores et semantiques/Semantic/SemanticTokensTypography.min.css');
@import url('../../Asset/cssReset.css');
@import url('C:/Users/mathilde.vidal/Documents/GitHub/UXQW-Sandbox/Composants/Lot1/bouton.css');
@import url('./input_lot1.css');

@font-face {
    font-family: 'RCNicon';
    src: url(../../Asset/Font_icon/RCNicon.ttf);
}

@font-face {
    font-family: 'Marianne';
    src: url('./Assets/Font_Marianne/Marianne/fontes desktop/Marianne-Regular.otf');
}


body, legend {
    font-family:'Marianne',Arial;
    font-size:var(--rcn-semantic-typography-text-component-default-body-fontsize);
}


i {
    font-style:normal;
}

/*reset des balises li et ul*/
li {
    list-style-type: none;
    text-align: unset;
}

ul {
    padding:0px;
}


/* reset fieldset*/
fieldset {
    display: block;
    margin-inline-start: 0 ;
    margin-inline-end: 0px;
    border: none;
    padding-block-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    min-inline-size: min-content;
  }
  
  legend {
    padding-inline-start: 0; padding-inline-end: 0;
  }

input[type="checkbox" i] {
    margin: unset;
}

input[type="radio" i] {
    margin: unset;
}

.h1 {
    font-size: 2rem; /*à ne pas mettre, juste pour l'exemple*/
    line-height: 2rem;
    color:black; /*à ne pas mettre, juste pour l'exemple*/
}



.rcn-formLot2{
    display:flex;
    flex-direction:column;
    align-items:stretch;
    gap:32px;
    /* à ne pas prendre en compte, juste pour l'exemple*/
    padding:64px;
    background-color: white;
    line-height: 1rem;
    font-size: 1rem;
    font-family : "Marianne";
}

/* ===================== LOT 2 ======================= */



/*-----------------RADIO et CHECKBOXES----------------*/


/* Permet de faire en sorte que l'icon checkbox ou radiobox natif n'apparaisse pas
.RESET-btnboxIcon {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    appearance: none;
}


/* CHECKBOX */

.rcn-fieldset__checkboxOrRadioList{
    display: flex;
    flex-direction: column;
    gap :var(--rcn-semantic-gap-vertical-300);
    padding-top :var(--rcn-semantic-padding-vertical-100);
}

.rcn-inputFieldBloc--checkboxOrRadio {
    flex-direction:row;
    align-items: center;
}

.rcn-inputFieldBloc__label--checkboxOrRadio{
    font-weight:var(--rcn-semantic-typography-text-component-default-body-fontweight);
    align-items: flex-start;
}

.rcn-inputFieldBloc__label--checkboxOrRadio:has(.rcn-inputField__input:checked){
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-selected);
    font-weight:var(--rcn-semantic-typography-text-component-default-label-fontweight);
} 

.rcn-inputField__input--checkbox{
    padding : unset;
    order:-1;
    font-size: calc(1.25 * var(--rcn-semantic-typography-text-component-default-body-fontsize) );
    line-height: calc(1.125 * var(--rcn-semantic-typography-text-component-default-body-fontsize) );
}


.rcn-inputField__input--checkbox::before{
    font-family:'rcnicon';
    content: "\e939";
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
}

.rcn-inputField__input--checkbox:checked::before{
    font-family:'rcnicon';
    content: "\e938";
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-selected);
}


.rcn-inputField__input--radio{
    padding : unset;
    order:-1;
    font-size: calc(1.25 * var(--rcn-semantic-typography-text-component-default-body-fontsize) );
    line-height: calc(1.125 * var(--rcn-semantic-typography-text-component-default-body-fontsize) );
}


.rcn-inputField__input--radio::before{
    font-family:'rcnicon';
    content: "\e93b";
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
}

.rcn-inputField__input--radio:checked::before{
    font-family:'rcnicon';
    content: "\e93a";
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-selected);
}






/* RADIO BUTTON */

.rcn-radiobox__label {
    font-weight:var(--rcn-semantic-typography-text-component-default-body-fontweight);
}

.rcn-radiobox__input:checked + .rcn-radiobox__label {
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-selected);
    font-weight:var(--rcn-semantic-typography-text-component-default-label-fontweight);
}

.rcn-radiobox__input::before{
    font-family:'rcnicon';
    content: "\e93b";
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
}

.rcn-radiobox__input:checked::before{
    font-family:'rcnicon';
    content: "\e93a";
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-selected);
}


/* box qui contient label + icon checkbox*/
.rcn-fieldset__checkboxOrRadioboxGroup {
    display: flex;
    flex-direction:row;
    gap:var(--rcn-semantic-gap-horizontal-200);
}




  /* --------------------FIELDSET-----------------------*/ 


.rcn-fieldset {
    border:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_regular);
    padding:var(--rcn-semantic-padding-vertical-600);/*Fichier semantiques pas à jour :(*/
    margin-bottom:var(--rcn-semantic-margin-vertical-fieldset);/*Fichier semantiques pas à jour :(*/
    display:flex;
    flex-direction: column;
    gap : var(--rcn-semantic-gap-vertical-400);
    align-items: stretch;
}

/* Design Fieldset price piker + checkboxes et radioboxes*/
.rcn-fieldset--as-inputFieldBloc {
    display:flex;
    flex-direction:column;
    border:none;
    padding: var(--rcn-semantic-padding-vertical-200) var(--rcn-semantic-padding-horizontal-0) var(--rcn-semantic-padding-vertical-0) var(--rcn-semantic-padding-horizontal-0);
   
    gap:var(--rcn-semantic-gap-vertical-100);
}


.sr-only /* pour que certains labels n'apparaissent pas, mais soit lisible au lecteur d'écran -> à intégrer dans un fichier reset*/
{   position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); border: 0;
}



/*---------Provenant de BOUTONS (ne pas réprendre dans l'Excel)------------ */

.rcn-button--secondary {
    background-color:var(--rcn-semantic-color-interaction-background-default-secondary);
    font-size:1rem;
    line-height:1rem;
    padding: 8px 12px;
    border-radius:0.375rem;
    border: 1px solid var(--rcn-semantic-color-interaction-border-default-primary);
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-primary);
    font-family: 'Marianne';
  }

.rcn-button--secondary:hover{
    background-color:var(--rcn-semantic-color-interaction-background-hover-standard);
    color:var(--rcn-semantic-color-interaction-text_and_icon-hover-primary);
    border-color:var(--rcn-semantic-color-interaction-border-hover-primary);
}



/* -----------------INPUT FILE--------------------*/

.rcn-inputField--file{
    display:flex;
    flex-direction: column;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='2' ry='2' stroke='%23949494' stroke-width='2px' stroke-dasharray='10%2c10' stroke-dashoffset='10' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: var(--rcn-semantic-borderradius-200);
    border: none;
    background-color:white;
    gap: var(--rcn-semantic-gap-horizontal-200);
    align-items: stretch;
    text-align: center;
    padding: var(--rcn-semantic-padding-horizontal-200) var(--rcn-semantic-padding-vertical-200);
    position : relative;
    cursor:pointer;
}


.rcn-inputField__uploadIcon{
    line-height: 3rem;
    font-size: 3rem;
}

/* pour que l'input type file existe encore mais qu'il soit pas accessible*/
/*.rcn-inputField__input--file {
    position:absolute;
    clip-path:content-box;
    top:0;
    left:0;
    width: calc(100% - (2 * var(--rcn-semantic-padding-horizontal-200)));
    height: calc(100% - (2 * var(--rcn-semantic-padding-horizontal-200)));
    text-indent:-999999px;
    cursor: pointer;
}*/

.rcn-inputField__input--file {
    position:absolute;
    clip-path:content-box;
    bottom: var(--rcn-semantic-padding-horizontal-200);
    left:var(--rcn-semantic-padding-horizontal-200);
    width: calc(100% - (4 * var(--rcn-semantic-padding-horizontal-200)));
    height: var(--rcn-semantic-padding-vertical-400);
    text-indent:-999999px;
    cursor: pointer;
}


/*----------------- NUMBER w/ UNIT SELECT --------------------*/

.rcn-inputField__input--unitSelect{
    border-right : 1px solid var(--rcn-semantic-color-interaction-border-default-standard);
    flex-grow: 0;
}



/* ----------------module de LANGUE--------------------*/


.rcn-inputFieldBloc--language {
    display:flex;
    flex-direction:row;
    gap:var(--rcn-semantic-gap-horizontal-200);
    align-items:center;
}


.rcn-inputFieldBloc__label--language { 
    font-weight:normal;
    padding:0px;
    color:var(--rcn-semantic-color-interaction-text_and_icon-disabled);
 }



/*----------------COMBOBOX SELECT MULTIPLE------------------*/


/*Input combobox sélection multiple*/

.rcn-input__button {
	background-color:transparent;
	border-color:transparent;
}


.rcn-combobox{
	display:flex;
	flex-direction:column;
	position:relative;
}

.rcn-combobox__placeholder{
    padding: 11px 8px;
}



.rcn-combobox__dropDownList {
	position: absolute;
	top: 100%;
	border: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-standard);
	right: 0;
	left: 0;
	margin: 0;
	width: auto;
	padding:var(--rcn-semantic-padding-vertical-200) var(--rcn-semantic-padding-horizontal-200);
    gap:var(--rcn-semantic-gap-vertical-200);
    background-color:white;
}


.rcn-combobox__dropDownList [hidden] {
    height :0px;
}

.rcn-combobox .rcn-fieldset--as-inputFIeldBloc{
    padding:unset;

}

.rcn-inputField__searchButton::before {
	font-family:'rcnicon';
    content: "\e91d";
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
    text-decoration:none;
    font-style:normal;
}

.rcn-inputField__comboboxButton::before {
    font-family:'rcnicon';
    content: "\e92f";
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
    text-decoration:none;
    font-style:normal;
}



.rcn-inputField__button--foldoutButton::before {
	content: "\e92f";
	font-family:'rcnicon';
}


.rcn-combobox__inputContent--as-placeholder {
	background-color:transparent;
	border-color:transparent;
	color:var(--rcn-semantic-color-interaction-text_and_icon-disabled);
}

.rcn-combobox__inputContent {
    background-color:transparent;
    border-color:transparent;
    color:var(--rcn-semantic-color-interaction-text_and_icon-onstandard);
}


