:root{
--rcn-html-font-family: var(--rcn-semantic-typography-text-component-default-body-fontfamily);
--rcn-html-font-weight: var(--rcn-semantic-typography-text-component-default-body-fontweight);
--rcn-html-font-size: var(--rcn-semantic-typography-text-component-default-body-fontsize);
--rcn-html-line-height: var(--rcn-semantic-typography-text-component-default-body-lineheight);
--rcn-html-color: var(--rcn-semantic-color-static-text_and_icon-onstandard);
--rcn-quote-font-weight: var(--rcn-semantic-typography-text-editorial-default-quote-fontweight);
--rcn-quote-line-height: var(--rcn-semantic-typography-text-editorial-default-quote-lineheight);
--rcn-p-line-height: var(--rcn-semantic-typography-text-editorial-default-body-lineheight);
--rcn-p-margin-bottom: var(--rcn-semantic-margin-vertical-paragraph);
--rcn-section-display: flex;
--rcn-section-flex-direction: column;
--rcn-h1-font-size: var(--rcn-semantic-typography-text-component-default-h1-fontsize);
--rcn-h1-line-height: var(--rcn-semantic-typography-text-component-default-title-lineheight);
--rcn-h1-font-weight: var(--rcn-semantic-typography-text-component-default-h1-fontweight);
--rcn-h1--edito-line-height: var(--rcn-semantic-typography-text-editorial-default-title-lineheight);
--rcn-h1--edito-margin-bottom: var(--rcn-semantic-margin-vertical-title);
--rcn-h1bis-font-size: var(--rcn-semantic-typography-text-component-default-h1bis-fontsize);
--rcn-h1bis-line-height: var(--rcn-semantic-typography-text-component-default-title-lineheight);
--rcn-h1bis-font-weight: var(--rcn-semantic-typography-text-component-default-h1bis-fontweight);
--rcn-h1bis--edito-line-height: var(--rcn-semantic-typography-text-editorial-default-title-lineheight);
--rcn-h1bis--edito-margin-bottom: var(--rcn-semantic-margin-vertical-title);
--rcn-h2-font-size: var(--rcn-semantic-typography-text-component-default-h2-fontsize);
--rcn-h2-line-height: var(--rcn-semantic-typography-text-component-default-title-lineheight);
--rcn-h2-font-weight: var(--rcn-semantic-typography-text-component-default-h2-fontweight);
--rcn-h2--edito-line-height: var(--rcn-semantic-typography-text-editorial-default-title-lineheight);
--rcn-h2--edito-margin-bottom: var(--rcn-semantic-margin-vertical-title);
--rcn-h3-font-size: var(--rcn-semantic-typography-text-component-default-h3-fontsize);
--rcn-h3-line-height: var(--rcn-semantic-typography-text-component-default-title-lineheight);
--rcn-h3-font-weight: var(--rcn-semantic-typography-text-component-default-h3-fontweight);
--rcn-h3--edito-line-height: var(--rcn-semantic-typography-text-editorial-default-title-lineheight);
--rcn-h3--edito-margin-bottom: var(--rcn-semantic-margin-vertical-title);
--rcn-h4-font-size: var(--rcn-semantic-typography-text-component-default-h4-fontsize);
--rcn-h4-line-height: var(--rcn-semantic-typography-text-component-default-title-lineheight);
--rcn-h4-font-weight: var(--rcn-semantic-typography-text-component-default-h4-fontweight);
--rcn-h4--edito-line-height: var(--rcn-semantic-typography-text-editorial-default-title-lineheight);
--rcn-h4--edito-margin-bottom: var(--rcn-semantic-margin-vertical-title);
--rcn-h5-font-size: var(--rcn-semantic-typography-text-component-default-h5-fontsize);
--rcn-h5-line-height: var(--rcn-semantic-typography-text-component-default-title-lineheight);
--rcn-h5-font-weight: var(--rcn-semantic-typography-text-component-default-h5-fontweight);
--rcn-h5--edito-line-height: var(--rcn-semantic-typography-text-editorial-default-title-lineheight);
--rcn-h5--edito-margin-bottom: var(--rcn-semantic-margin-vertical-title);
--rcn-h6-font-size: var(--rcn-semantic-typography-text-component-default-h6-fontsize);
--rcn-h6-line-height: var(--rcn-semantic-typography-text-component-default-title-lineheight);
--rcn-h6-font-weight: var(--rcn-semantic-typography-text-component-default-h6-fontweight);
--rcn-h6--edito-line-height: var(--rcn-semantic-typography-text-editorial-default-title-lineheight);
--rcn-h6--edito-margin-bottom: var(--rcn-semantic-margin-vertical-title);

}
