:root{
$rcn-notification-padding: $rcn-semantic-padding-vertical-300;
$rcn-notification-display: flex;
$rcn-notification-align-items: center;
$rcn-notification-gap: $rcn-semantic-gap-horizontal-300;
$rcn-notification-width: auto;
$rcn-notification-border-radius: $rcn-semantic-borderradius-200;
$rcn-notification--error-background-color: $rcn-semantic-color-feedback-background-error;
$rcn-notification--error-color: $rcn-semantic-color-feedback-text_and_icon-onerror;
$rcn-notification--informative-background-color: $rcn-semantic-color-feedback-background-information;
$rcn-notification--informative-color: $rcn-semantic-color-feedback-text_and_icon-oninformation;
$rcn-notification--success-background-color: $rcn-semantic-color-feedback-background-success;
$rcn-notification--success-color: $rcn-semantic-color-feedback-text_and_icon-onsuccess;
$rcn-notification--warning-background-color: $rcn-semantic-color-feedback-background-warning;
$rcn-notification--warning-color: $rcn-semantic-color-feedback-text_and_icon-onwarning;
$rcn-notification__typeIcon-font-size: $rcn-semantic-typography-fontsize-h4;
$rcn-notification--error___rcn-notification__typeIcon-in_before-content: $rcn-semantic-typography-content-icon-alert;
$rcn-notification--informative___rcn-notification__typeIcon-in_before-content: $rcn-semantic-typography-content-icon-information;
$rcn-notification--success___rcn-notification__typeIcon-in_before-content: $rcn-semantic-typography-content-icon-success;
$rcn-notification--warning___rcn-notification__typeIcon-in_before-content: $rcn-semantic-typography-content-icon-warning;
$rcn-notification__textZone-display: flex;
$rcn-notification__textZone-flex-direction: column;
$rcn-notification__textZone-gap: $rcn-semantic-gap-horizontal-100;
$rcn-notification__textZone-flex-grow: 1;
$rcn-notification__title-font-weight: $rcn-semantic-typography-fontweight-label;
$rcn-notification__closeIcon-align-self: flex-start;
$rcn-notification__closeIcon-in_before-content: $rcn-semantic-typography-content-icon-close;
$rcn-notification--banner-border-radius: 0;
$rcn-notification--banner___rcn-notification__textZone-flex-direction: row;
$rcn-notification--banner___rcn-notification__textZone-gap: $rcn-semantic-gap-horizontal-300;
$rcn-notification--banner___rcn-notification__textZone-flex-wrap: wrap;

}
