:root{
$rcn-tooltip__textBox-max-width: 352px;
$rcn-tooltip__textBox-color: $rcn-semantic-color-static-text_and_icon-ontooltip;
$rcn-tooltip__textBox-border-radius: $rcn-semantic-borderradius-200;
$rcn-tooltip__textBox-background-color: $rcn-semantic-color-static-background-tooltip;
$rcn-tooltip__textBox-padding: $rcn-semantic-padding-horizontal-200 $rcn-semantic-padding-horizontal-300;
$rcn-tooltip__button-in_before-content: $rcn-semantic-typography-content-icon-information;
$rcn-tooltip__triangle-background-color: $rcn-semantic-color-static-background-tooltip;

}
