:root{
--rcn-menu-position: relative;
--rcn-menu-display: flex;
--rcn-menu-flex-direction: row;
--rcn-menu-align-items: center;
--rcn-menu-flex-wrap: wrap;
--rcn-menu-flex-grow: 1;
--rcn-menu__entry-display: flex;
--rcn-menu__entry-flex-direction: row;
--rcn-menu__entry-position: relative;
--rcn-menu__entry-align-items: baseline;
--rcn-menu__entry-gap: var(--rcn-semantic-gap-horizontal-200);
--rcn-menu__entry-color: var(--rcn-semantic-color-interaction-text_and_icon-default-onprimary);
--rcn-menu__entry-text-decoration: var(--rcn-semantic-typography-textdecoration-menu_entry);
--rcn-menu__entry-line-height: var(--rcn-semantic-typography-lineheight-body-component);
--rcn-menu__entry-padding: var(--rcn-semantic-padding-vertical-400) var(--rcn-semantic-padding-horizontal-400);
--rcn-menu__entry--first-padding-left: var(--rcn-semantic-padding-horizontal-0);
--rcn-menu__entry-in_after-position: absolute;
--rcn-menu__entry-in_after-height: 0px;
--rcn-menu__entry-in_after-left: var(--rcn-semantic-padding-horizontal-400);
--rcn-menu__entry-in_after-bottom: var(--rcn-semantic-padding-vertical-200);
--rcn-menu__entry-in_after-background-color: var(--rcn-semantic-color-interaction-background-default-standard);
--rcn-menu__entry-in_after-width: calc(100% - calc(2 * var(--rcn-semantic-padding-horizontal-400)));
--rcn-menu__entry-in_after-content: "";
--rcn-menu__entry--first-in_after-left: var(--rcn-semantic-padding-horizontal-0);
--rcn-menu__entry--first-in_after-width: calc(100% - var(--rcn-semantic-padding-horizontal-400));
--rcn-menu__entry-if_current-page-in_after-height: var(--rcn-semantic-borderwidth-300);
--rcn-menu__entry-if_hover-background-color: var(--rcn-semantic-color-interaction-background-hover-primary);
--rcn-menu__submenuIcon-in_before-content: var(--rcn-semantic-typography-content-icon-expand_vertical);
--rcn-menu__entry-if_expanded-true___rcn-menu__submenuIcon-content: var(--rcn-semantic-typography-content-icon-collapse_vertical);
--rcn-menu__submenu-position: absolute;
--rcn-menu__submenu-display: flex;
--rcn-menu__submenu-flex-direction: column;
--rcn-menu__submenu-top: 1;
--rcn-menu__submenu-background-color: var(--rcn-semantic-color-interaction-background-default-standard);
--rcn-menu__submenu-box-shadow: var(--rcn-semantic-dropshadow-static-overlayed);
--rcn-menu__submenu-cursor: pointer;
--rcn-menu__submenu-if_hidden-true-display: none;
--rcn-menu__submenu--hidden-display: none;
--rcn-menu__subentry-display: block;
--rcn-menu__subentry-color: var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
--rcn-menu__subentry-border-left: var(--rcn-semantic-borderwidth-300) solid var(--rcn-semantic-color-interaction-border-transparent);
--rcn-menu__subentry-padding: var(--rcn-semantic-padding-vertical-200) var(--rcn-semantic-padding-vertical-400);
--rcn-menu__subentry-if_hover-background-color: var(--rcn-semantic-color-interaction-background-hover-standard);
--rcn-menu__subentry-if_hover-color: var(--rcn-semantic-color-interaction-text_and_icon-hover-onstandard);
--rcn-menu__subentry-if_current-page-border-left: var(--rcn-semantic-borderwidth-300) solid var(--rcn-semantic-color-interaction-border-default-primary);
--rcn-menu__subentry-if_current-page-color: var(--rcn-semantic-color-interaction-text_and_icon-default-selected);
--rcn-menu__subentry-if_current-page-font-weight: var(--rcn-semantic-typography-fontweight-body-component-selected);

}
