:root{
--rcn-stepper-grid-area: stepper;
--rcn-stepper-margin-bottom: var(--rcn-semantic-margin-vertical-section);
--rcn-stepper__list-display: flex;
--rcn-stepper__list-flex-direction: column;
--rcn-stepper__list-gap: var(--rcn-semantic-gap-vertical-400);
--rcn-stepper__list-align-items: flex-start;
--rcn-stepper__list-position: relative;
--rcn-stepper__list-in_before-content: "";
--rcn-stepper__list-in_before-width: var(--rcn-semantic-borderwidth-100);
--rcn-stepper__list-in_before-height: calc(100% - var(--rcn-semantic-height-stepper_stepcircle));
--rcn-stepper__list-in_before-background-color: var(--rcn-semantic-color-static-border-divider_strong);
--rcn-stepper__list-in_before-position: absolute;
--rcn-stepper__list-in_before-left: calc(calc(var(--rcn-semantic-height-stepper_stepcircle) / 2) + var(--rcn-semantic-borderwidth-100));
--rcn-stepper__list-in_before-z-index: -1;
--rcn-stepper__subList-display: flex;
--rcn-stepper__subList-flex-direction: column;
--rcn-stepper__subList-margin-bottom: var(--rcn-semantic-margin-vertical-stepper_sublist);
--rcn-stepper__subList-gap: var(--rcn-semantic-gap-horizontal-400);
--rcn-stepper__step-display: flex;
--rcn-stepper__step-flex-direction: row;
--rcn-stepper__step-align-items: center;
--rcn-stepper__step-gap: var(--rcn-semantic-gap-horizontal-400);
--rcn-stepper__number-width: var(--rcn-semantic-width-stepper_stepcircle);
--rcn-stepper__number-height: var(--rcn-semantic-height-stepper_stepcircle);
--rcn-stepper__number-border-radius: var(--rcn-semantic-borderradius-300);
--rcn-stepper__number-display: flex;
--rcn-stepper__number-flex-direction: column;
--rcn-stepper__number-align-items: center;
--rcn-stepper__number-justify-content: center;
--rcn-stepper__number-text-decoration: none;
--rcn-stepper__number-min-width: var(--rcn-semantic-width-stepper_stepcircle);
--rcn-stepper__number-background-color: var(--rcn-semantic-color-static-background-standard);
--rcn-stepper__number-border: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-standard);
--rcn-stepper__number-color: var(--rcn-semantic-color-static-text_and_icon-onstandard);
--rcn-stepper__stepTitle-color: var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
--rcn-stepper__indicator-width: calc(var(--rcn-semantic-width-stepper_stepcircle) / 3);
--rcn-stepper__indicator-height: calc(var(--rcn-semantic-height-stepper_stepcircle) / 3);
--rcn-stepper__indicator-margin-left: calc(var(--rcn-semantic-height-stepper_stepcircle) / 3);
--rcn-stepper__indicator-margin-right: calc(var(--rcn-semantic-height-stepper_stepcircle) / 3);
--rcn-stepper__indicator-border-radius: var(--rcn-semantic-borderradius-300);
--rcn-stepper__indicator-background-color: var(--rcn-semantic-color-static-background-standard);
--rcn-stepper__indicator-border: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-standard);
--rcn-stepper__indicator-color: var(--rcn-semantic-color-static-text_and_icon-onstandard);
--rcn-stepper__step--completed___rcn-stepper__number-background-color: var(--rcn-semantic-color-static-background-primary);
--rcn-stepper__step--completed___rcn-stepper__number-border: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-primary);
--rcn-stepper__step--completed___rcn-stepper__number-color: var(--rcn-semantic-color-static-text_and_icon-onprimary);
--rcn-stepper__step--completed___rcn-stepper__stepTitle-color: var(--rcn-semantic-color-static-text_and_icon-onstandard);
--rcn-stepper__step--completed___rcn-stepper__indicator-background-color: var(--rcn-semantic-color-static-background-primary);
--rcn-stepper__step--completed___rcn-stepper__indicator-border: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-primary);
--rcn-stepper__step--completed___rcn-stepper__indicator-color: var(--rcn-semantic-color-static-text_and_icon-onprimary);
--rcn-stepper__step--current___rcn-stepper__number-background-color: var(--rcn-semantic-color-static-background-standard);
--rcn-stepper__step--current___rcn-stepper__number-border: var(--rcn-semantic-borderwidth-300) solid var(--rcn-semantic-color-interaction-border-default-selected);
--rcn-stepper__step--current___rcn-stepper__number-color: var(--rcn-semantic-color-interaction-text_and_icon-default-selected);
--rcn-stepper__step--current___rcn-stepper__number-width: calc(var(--rcn-semantic-width-stepper_stepcircle) - calc(2 * calc(var(--rcn-semantic-borderwidth-300) - var(--rcn-semantic-borderwidth-100))));
--rcn-stepper__step--current___rcn-stepper__number-height: calc(var(--rcn-semantic-height-stepper_stepcircle) - calc(2 * calc(var(--rcn-semantic-borderwidth-300) - var(--rcn-semantic-borderwidth-100))));
--rcn-stepper__step--current___rcn-stepper__number-min-width: calc(var(--rcn-semantic-width-stepper_stepcircle) - calc(2 * calc(var(--rcn-semantic-borderwidth-300) - var(--rcn-semantic-borderwidth-100))));
--rcn-stepper__step--current___rcn-stepper__number-font-weight: var(--rcn-semantic-typography-fontweight-label);
--rcn-stepper__step--current___rcn-stepper__stepTitle-color: var(--rcn-semantic-color-interaction-text_and_icon-default-selected);
--rcn-stepper__step--current___rcn-stepper__stepTitle-font-weight: var(--rcn-semantic-typography-fontweight-body-component-selected);
--rcn-stepper__step--current___rcn-stepper__stepTitle-text-decoration: none;
--rcn-stepper__step--current___rcn-stepper__indicator-background-color: var(--rcn-semantic-color-static-background-standard);
--rcn-stepper__step--current___rcn-stepper__indicator-color: var(--rcn-semantic-color-interaction-text_and_icon-default-selected);
--rcn-stepper__step--current___rcn-stepper__indicator-font-weight: var(--rcn-semantic-typography-fontweight-body-component-selected);
--rcn-stepper__step--current___rcn-stepper__indicator-width: calc(calc(var(--rcn-semantic-width-stepper_stepcircle) / 3) - calc(2 * calc(var(--rcn-semantic-borderwidth-300) - var(--rcn-semantic-borderwidth-100))));
--rcn-stepper__step--current___rcn-stepper__indicator-height: calc(calc(var(--rcn-semantic-height-stepper_stepcircle) / 3) - calc(2 * calc(var(--rcn-semantic-borderwidth-300) - var(--rcn-semantic-borderwidth-100))));
--rcn-stepper__step--current___rcn-stepper__indicator-border: var(--rcn-semantic-borderwidth-300) solid var(--rcn-semantic-color-interaction-border-default-selected);
--rcn-stepper__step--disabled___rcn-stepper__number-background-color: var(--rcn-semantic-color-static-background-stepper_step_unreachable);
--rcn-stepper__step--disabled___rcn-stepper__number-border: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-stepper_step_unreachable);
--rcn-stepper__step--disabled___rcn-stepper__number-color: var(--rcn-semantic-color-static-text_and_icon-stepper_step_unreachable);
--rcn-stepper__step--disabled___rcn-stepper__stepTitle-color: var(--rcn-semantic-color-static-text_and_icon-stepper_step_unreachable);
--rcn-stepper__step--disabled___rcn-stepper__stepTitle-text-decoration: none;
--rcn-stepper__step--disabled___rcn-stepper__indicator-background-color: var(--rcn-semantic-color-static-background-stepper_step_unreachable);
--rcn-stepper__step--disabled___rcn-stepper__indicator-border: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-stepper_step_unreachable);
--rcn-stepper__step--disabled___rcn-stepper__indicator-color: var(--rcn-semantic-color-static-text_and_icon-stepper_step_unreachable);
--rcn-stepper__list--horizontal-display: flex;
--rcn-stepper__list--horizontal-flex-direction: row;
--rcn-stepper__list--horizontal-gap: var(--rcn-semantic-gap-horizontal-500);
--rcn-stepper__list--horizontal-in_before-content: "";
--rcn-stepper__list--horizontal-in_before-width: calc(100% - calc(calc(100% - calc(calc(var(--var(--rcn-stepper-numberofsteps)) - 1) * var(--rcn-semantic-gap-horizontal-500))) / var(--var(--rcn-stepper-numberofsteps))));
--rcn-stepper__list--horizontal-in_before-height: var(--rcn-semantic-borderwidth-100);
--rcn-stepper__list--horizontal-in_before-left: calc(calc(100% - calc(calc(var(--var(--rcn-stepper-numberofsteps)) - 1) * var(--rcn-semantic-gap-horizontal-500))) / calc(2 * var(--var(--rcn-stepper-numberofsteps))));
--rcn-stepper__list--horizontal-in_before-background-color: var(--rcn-semantic-color-static-border-divider_strong);
--rcn-stepper__list--horizontal-in_before-position: absolute;
--rcn-stepper__list--horizontal-in_before-top: calc(calc(var(--rcn-semantic-height-stepper_stepcircle) / 2) + var(--rcn-semantic-borderwidth-100));
--rcn-stepper__list--horizontal-in_before-z-index: -1;
--rcn-stepper__list--horizontal___rcn-stepper__step-display: flex;
--rcn-stepper__list--horizontal___rcn-stepper__step-flex-direction: column;
--rcn-stepper__list--horizontal___rcn-stepper__step-align-items: center;
--rcn-stepper__list--horizontal___rcn-stepper__step-gap: var(--rcn-semantic-gap-vertical-300);
--rcn-stepper__list--horizontal___rcn-stepper__step-flex: 1 1 0px;
--rcn-stepper__list--horizontal___rcn-stepper__step-text-align: center;

}
