:root{
--rcn-verticalStepperForm-grid-template-areas: ". . . . formHeading formHeading formHeading formHeading formHeading formHeading formHeading formHeading stepper stepper stepper . form form form form form form form form";
--rcn-verticalStepperForm__heading-display: flex;
--rcn-verticalStepperForm__heading-justify-content: center;
--rcn-verticalStepperForm__heading-grid-area: heading;
--rcn-verticalStepperForm__heading-text-align: center;
--rcn-verticalStepperForm__instructions-display: flex;
--rcn-verticalStepperForm__instructions-flex-direction: row;
--rcn-verticalStepperForm__instructions-width: auto;
--rcn-verticalStepperForm__instructions-justify-content: center;
--rcn-verticalStepperForm__instructions-margin: 0;
--rcn-verticalStepperForm__instructions-gap: var(--rcn-semantic-gap-horizontal-200);
--rcn-verticalStepperForm__instructions-align-items: center;
--rcn-verticalStepperForm__instructions-margin-bottom: var(--rcn-semantic-margin-vertical-paragraph);
--rcn-verticalStepperForm__stepper-grid-area: stepper;
--rcn-verticalStepperForm__form-display: flex;
--rcn-verticalStepperForm__form-flex-direction: column;
--rcn-verticalStepperForm__form-align-items: stretch;
--rcn-verticalStepperForm__form-grid-area: form;
--rcn-horizontalStepperForm-grid-template-areas: ". . heading heading heading heading heading heading heading heading . . . . stepper stepper stepper stepper stepper stepper stepper stepper . . . . form form form form form form form form . .";
--rcn-horizontalStepperForm__heading-display: flex;
--rcn-horizontalStepperForm__heading-justify-content: center;
--rcn-horizontalStepperForm__heading-grid-area: heading;
--rcn-horizontalStepperForm__heading-text-align: center;
--rcn-horizontalStepperForm__instructions-display: flex;
--rcn-horizontalStepperForm__instructions-flex-direction: row;
--rcn-horizontalStepperForm__instructions-width: auto;
--rcn-horizontalStepperForm__instructions-justify-content: center;
--rcn-horizontalStepperForm__instructions-margin: 0;
--rcn-horizontalStepperForm__instructions-gap: var(--rcn-semantic-gap-horizontal-200);
--rcn-horizontalStepperForm__instructions-align-items: center;
--rcn-horizontalStepperForm__instructions-margin-bottom: var(--rcn-semantic-margin-vertical-paragraph);
--rcn-horizontalStepperForm__stepper-grid-area: stepper;
--rcn-horizontalStepperForm__stepper-align-self: center;
--rcn-horizontalStepperForm__form-display: flex;
--rcn-horizontalStepperForm__form-flex-direction: column;
--rcn-horizontalStepperForm__form-align-items: stretch;
--rcn-horizontalStepperForm__form-grid-area: form;

}
