:root{
--rcn-signupAndLoginModule-display: flex;
--rcn-signupAndLoginModule-flex-direction: row;
--rcn-signupAndLoginModule-align-items: center;
--rcn-signupAndLoginModule-gap: var(--rcn-semantic-gap-horizontal-400);
--rcn-signupAndLoginModule__divider-align-self: stretch;
--rcn-signupAndLoginModule__divider-background-color: var(--rcn-semantic-color-static-border-divider_regular);
--rcn-signupAndLoginModule__divider-width: var(--rcn-semantic-borderwidth-100);
--rcn-signupAndLoginModule__loginIcon-order: -1;
--rcn-signupAndLoginModule__loginIcon-in_before-content: var(--rcn-semantic-typography-content-icon-user);
--rcn-accountMenu-display: flex;
--rcn-accountMenu-flex-direction: column;
--rcn-accountMenu-max-width: fit-content;
--rcn-accountMenu-position: relative;
--rcn-accountMenu__dropdownButton-display: flex;
--rcn-accountMenu__dropdownButton-flex-direction: row;
--rcn-accountMenu__dropdownButton-align-items: center;
--rcn-accountMenu__dropdownButton-gap: var(--rcn-semantic-gap-horizontal-200);
--rcn-accountMenu__dropdownButton-padding: var(--rcn-semantic-padding-vertical-300) var(--rcn-semantic-padding-horizontal-400);
--rcn-accountMenu__dropdownButton-border-radius: var(--rcn-semantic-borderradius-100);
--rcn-accountMenu__dropdownButton-width: fit-content;
--rcn-accountMenu__dropdownButton-if_hover-background-color: var(--rcn-semantic-color-interaction-background-hover-standard);
--rcn-accountMenu__avatar-display: flex;
--rcn-accountMenu__avatar-min-width: var(--rcn-semantic-width-accountMenu_avatar);
--rcn-accountMenu__avatar-width: var(--rcn-semantic-width-accountMenu_avatar);
--rcn-accountMenu__avatar-height: var(--rcn-semantic-height-accountMenu_avatar);
--rcn-accountMenu__avatar-border-radius: var(--rcn-semantic-borderradius-300);
--rcn-accountMenu__avatar-background-color: var(--rcn-semantic-color-static-background-primary);
--rcn-accountMenu__avatar-order: -1;
--rcn-accountMenu__avatar-align-items: center;
--rcn-accountMenu__avatar-flex-direction: column;
--rcn-accountMenu__avatar-justify-content: center;
--rcn-accountMenu__avatar-color: var(--rcn-semantic-color-static-text_and_icon-onprimary);
--rcn-accountMenu__expandIcon-order: 2;
--rcn-accountMenu__expandIcon-in_before-content: var(--rcn-semantic-typography-content-icon-expand_vertical);
--rcn-accountMenu__dropdownMenu-display: flex;
--rcn-accountMenu__dropdownMenu-flex-direction: column;
--rcn-accountMenu__dropdownMenu-background-color: var(--rcn-semantic-color-interaction-background-default-standard);
--rcn-accountMenu__dropdownMenu-box-shadow: var(--rcn-semantic-dropshadow-static-overlayed);
--rcn-accountMenu__dropdownMenu-cursor: pointer;
--rcn-accountMenu__dropdownMenu-position: absolute;
--rcn-accountMenu__dropdownMenu-top: calc(var(--rcn-semantic-width-accountMenu_avatar) + (var(--rcn-semantic-padding-vertical-300) * 2) + 1px);
--rcn-accountMenu__dropdownMenu-width: 100%;
--rcn-accountMenu__dropdownMenu-right: 0px;
--rcn-accountMenu__dropdownMenu-if_hidden-true-display: none;
--rcn-accountMenu__dropdownMenu--hidden-display: none;
--rcn-accountMenu__dropdownItem-display: block;
--rcn-accountMenu__dropdownItem-color: var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
--rcn-accountMenu__dropdownItem-padding: var(--rcn-semantic-padding-vertical-200) var(--rcn-semantic-padding-vertical-400);
--rcn-accountMenu__dropdownItem-width: auto;
--rcn-accountMenu__dropdownItem-if_hover-background-color: var(--rcn-semantic-color-interaction-background-hover-standard);
--rcn-accountMenu__dropdownItem-if_hover-color: var(--rcn-semantic-color-interaction-text_and_icon-hover-onstandard);
--rcn-accountMenu__dropdownItem--logout-if_hover-background-color: var(--rcn-semantic-color-interaction-background-default-standard);

}
