.rcn-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-width: var(--rcn-semantic-borderwidth-100);
  border-color: var(--rcn-semantic-color-static-border-standard);
  border-radius: var(--rcn-semantic-borderradius-200);
  background-color: var(--rcn-semantic-color-static-background-standard);
  max-height: 90vh;
  box-shadow: var(--rcn-semantic-dropshadow-static-detached);
  grid-area: modal;
  height: fit-content;
  overflow: auto;
}

.rcn-modal__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-divider_regular);
  padding: var(--rcn-semantic-padding-vertical-600) var(--rcn-semantic-padding-horizontal-700);
  max-width: 100%;
  gap: var(--rcn-semantic-gap-vertical-200);
}

.rcn-modal__title {
  width: 100%;
}

.rcn-modal__closeButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--rcn-semantic-gap-horizontal-200);
  align-self: flex-end;
  background: none;
  border: none;
}

.rcn-modal__closeIcon::before {
  content: var(--rcn-semantic-typography-content-icon-close);
}

.rcn-modal__content {
  padding: var(--rcn-semantic-padding-vertical-600) var(--rcn-semantic-padding-horizontal-700);
  overflow: auto;
  margin-top: var(--rcn-semantic-margin-vertical-modal);
  margin-bottom: var(--rcn-semantic-margin-vertical-modal);
}

.rcn-modal__topOverlay {
  min-height: var(--rcn-semantic-height-overlay_modale);
  height: var(--rcn-semantic-height-overlay_modale);
  display: block;
}

.rcn-modal__topOverlay--onOverflow {
  background-image: var(--rcn-semantic-gradient-static-backgroundimage-topOverlay);
}

.rcn-modal__bottomOverlay {
  min-height: var(--rcn-semantic-height-overlay_modale);
  height: var(--rcn-semantic-height-overlay_modale);
  display: block;
}

.rcn-modal__bottomOverlay--onOverflow {
  background-image: var(--rcn-semantic-gradient-static-backgroundimage-bottomOverlay);
}

.rcn-modal__actionBanner {
  padding-left: var(--rcn-semantic-padding-horizontal-700);
  padding-right: var(--rcn-semantic-padding-horizontal-700);
  margin-top: 0px;
}

.rcn-modalOverlayedContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-areas: ". . modal modal modal modal modal modal modal modal . .";
  overflow: hidden;
  height: 100%;
  align-items: center;
  margin: 0;
  background-color: var(--rcn-semantic-color-static-background-modal_behind_background);
}

.rcn-modalOverlayedContainer--medium {
  grid-template-areas: ". . . modal modal modal modal modal modal . . .";
}

.rcn-modalOverlayedContainer--small {
  grid-template-areas: ". . . . modal modal modal modal . . . .";
}

