/* Colonne filtrable */
.rcn-tableFilter[aria-hidden="true"] {
    display:none;
}
.rcn-tableFilter[aria-hidden="false"] {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: var(--rcn-semantic-padding-horizontal-200);
    max-width: 25vw;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: var(--rcn-semantic-color-interaction-background-default-standard);
    border: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-standard);
    box-shadow: var(--rcn-semantic-dropshadow-static-detached);
    font-family: var(--);
    flex-direction: column;
    overflow: hidden scroll;
}
.rcn-tableFilter__order,
.rcn-tableFilter__filter {
    display:flex;
    gap:var(--rcn-semantic-gap-horizontal-200);
    flex-direction: column;
    margin-bottom: var(--rcn-semantic-padding-vertical-200);
    align-items: flex-start;
}

.rcn-tableFilter__closeMenu {
    display:flex;
    flex-direction: row-reverse;
    padding: var(--rcn-semantic-padding-horizontal-400);
    gap: var(--rcn-semantic-gap-horizontal-200);
    margin: var(--rcn-semantic-gap-horizontal-200) 0;
}
