
@font-face {
  font-family: 'RCNicon';
  src: url(../../Asset/Font_icon/RCNicon.ttf);
}
@font-face {
  font-family: 'Marianne';
  src: url('./Assets/Font_Marianne/Marianne/fontes desktop/Marianne-Regular.otf');
}
body, legend {
  font-family:'Marianne',Arial;
  font-size:var(--rcn-semantic-typography-text-component-default-body-fontsize);
}
i {
  font-style:normal;
}
li {
  list-style-type: none;
  text-align: unset;
}
ul {
  padding:0px;
}
fieldset {
  display: block;
  margin-inline-start: 0 ;
  margin-inline-end: 0px;
  border: none;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  min-inline-size: min-content;
}
legend {
  padding-inline-start: 0; padding-inline-end: 0;
}
input[type="checkbox" i] {
  margin: unset;
}
input[type="radio" i] {
  margin: unset;
}
input {
padding: 0;
border: unset;
background: transparent;
font-size:unset;
appearance: unset;
-webkit-appearance: unset;
-moz-appearance: unset;
-ms-appearance: unset;
min-width:unset;
}
option {
padding: 0;
border: unset;
background: transparent;
font-size:unset;
appearance: unset;
-webkit-appearance: unset;
-moz-appearance: unset;
-ms-appearance: unset;
}
select {
padding: 0;
border: unset;
background: transparent;
font-size:unset;
}
select option {
  line-height:1rem;
}
.sr-only
{   position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); border: 0;
}
/*ne pas prendre dans l'Excel*/
/*.sr-only{
  height :0px;
  margin : 0;
}*/
.h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  color:black;
  margin-bottom: 24px;
}
.h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  color:black;
  margin-bottom: 24px;
}
.h3 {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: bold;
  color:black;
  margin-bottom: 24px;
}
.body{
  display:flex;
  flex-direction:column;
  align-items:stretch;
  padding:64px;
  background-color: white;
  line-height: 1rem;
  font-size: 1rem;
  font-family : "Marianne";
  margin-bottom :200px;
}
/*Classes de l'onglet Button, ne pas reprendre*/
.rcn-iconButton{
  border : none;
  background : transparent;
  padding : 0;
  margin : 0;
}
.rcn-iconButton:hover{
  color: black;
}

/*Classes de l'onglet Icon, ne pas reprendre*/

.rcn-icon{
  font-family: 'RCNicon';
}

.container--primary{
  padding: 0px 80px;
}

body{
  margin:0;
}

/* A mettre au sein du fichier de reset*/

p {
  margin:0;
}

body, legend {
    font-family:'Marianne',Arial;
    font-size:var(--rcn-semantic-typography-text-component-default-body-fontsize);
}

/* Juste pour la visualisation du composant:*/

.espacement_exemple{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.rcn-title{
  font-size: 40px;
  line-height : 60px;
  margin-bottom: 24px;
  color: black;
  font-weight: bold;
  }

  .rcn-form__titleZone{
    display: flex;
    justify-content: center;
    grid-column-start: 2;
    grid-row-start: 1;
    }

/* Add à formulaire:*/

  .rcn-form__instruction{
      display: flex;
      flex-direction: row;
      width:auto;
      justify-content: center;
      margin:0;
      gap: var(--rcn-semantic-gap-horizontal-200);
      align-items: center;
      margin-bottom: 16px;
  }
      

/* Stepper*/

.rcn-stepperVertical::before{
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--rcn-semantic-color-static-border-divider_strong);
  position: absolute;
  left: calc(calc(2rem / 2) + var(--rcn-semantic-borderwidth-100));
  z-index: -1;
}

.rcn-stepperVertical{
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap:var(--rcn-semantic-gap-vertical-500);
  position: relative;
  margin: 0px;

}

.rcn-stepperHorizontal {
  display: flex;
  flex-direction:row;
  gap:var(--rcn-semantic-gap-horizontal-500);
  position: relative;
  justify-content: space-between;
  padding-left: 0px;
  margin: 0px;
  padding-inline-start: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
}

.rcn-stepperVertical__substepZone{
  display: flex;
  flex-direction:column;
  padding-left: 0px;
  margin: 0px;
  gap:var(--rcn-semantic-gap-horizontal-500);
  position: relative;
  justify-content: space-between;

}

.rcn-stepperHorizontal::before{
  content: "";
  width: calc(100% - (15 * calc(var(--rcn-semantic-height-stepper_stepcircle) / 2)));
  left: calc(calc(15 * calc(var(--rcn-semantic-height-stepper_stepcircle) / 2)) / 2);
  height: 1px;
  background-color: gray;
  position: absolute;
  top:19px;
  z-index: -1;
  display: flex;
  align-self: center;
}


.rcn-stepperVertical__step {
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:var(--rcn-semantic-gap-horizontal-400);
  box-sizing: border-box;


}

.rcn-stepperHorizontal__step {
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:var(--rcn-semantic-gap-vertical-300);
  box-sizing: border-box;
  flex-grow: 1;
  max-width:calc(15 * (var(--rcn-semantic-height-stepper_stepcircle) / 2));

}

.rcn-stepper__number {
  width: var(--rcn-semantic-height-stepper_stepcircle);
  height: var(--rcn-semantic-height-stepper_stepcircle);
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  border: 1px solid
}

.rcn-stepper__number--substep{
  width: calc(var(--rcn-semantic-height-stepper_stepcircle) / 2);
  height: calc(var(--rcn-semantic-height-stepper_stepcircle) / 2);
  margin-left:calc(calc(calc(var(--rcn-semantic-height-stepper_stepcircle) / 2) / 2));
  margin-right:calc(calc(calc(var(--rcn-semantic-height-stepper_stepcircle) / 2) / 2)) ;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;  

}

.rcn-stepperNavigable__number--uncompleted {
background-color:var(--rcn-semantic-color-interaction-background-default-standard);
border:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-standard);
color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);

}


.rcn-stepper__number--uncompleted{
background-color:var(--rcn-semantic-color-static-background-standard);
border:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-standard);
color:var(--rcn-semantic-color-static-text_and_icon-onstandard);
}


.rcn-stepper__number--disabled {
background-color:var(--rcn-semantic-color-static-background-stepper_step_unreachable);
border:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-stepper_step_unreachable);
color:var(--rcn-semantic-color-static-text_and_icon-stepper_step_unreachable);
}


.rcn-stepperNavigable__number--current {
background-color:var(--rcn-semantic-color-interaction-background-default-standard);
color:var(--rcn-semantic-color-interaction-text_and_icon-default-primary);
font-weight:var(--rcn-semantic-typography-text-component-default-label-fontweight);
width: calc(var(--rcn-semantic-height-stepper_stepcircle) - calc(calc(var(--rcn-semantic-borderwidth-300) * 2) - calc(calc(var(--rcn-semantic-borderwidth-100)) * 2)));
height:  calc(var(--rcn-semantic-height-stepper_stepcircle) - calc(calc(var(--rcn-semantic-borderwidth-300) * 2) - calc(calc(var(--rcn-semantic-borderwidth-100)) * 2)));
border:var(--rcn-semantic-borderwidth-300)  solid var(--rcn-semantic-color-interaction-border-default-primary);
}

.rcn-stepperNavigable__number--subStepCurrent{
background-color:var(--rcn-semantic-color-interaction-background-default-standard);
color:var(--rcn-semantic-color-interaction-text_and_icon-default-primary);
font-weight:var(--rcn-semantic-typography-text-component-default-label-fontweight);
width: calc(calc(var(--rcn-semantic-height-stepper_stepcircle) / 2) - calc(calc(var(--rcn-semantic-borderwidth-300) * 2) - calc(calc(var(--rcn-semantic-borderwidth-100)) * 2)));
height:  calc(calc(var(--rcn-semantic-height-stepper_stepcircle) / 2) - calc(calc(var(--rcn-semantic-borderwidth-300) * 2) - calc(calc(var(--rcn-semantic-borderwidth-100)) * 2)));
border:var(--rcn-semantic-borderwidth-300)  solid var(--rcn-semantic-color-interaction-border-default-primary);

}

.rcn-stepper__number--current{
background-color:var(--rcn-semantic-color-static-background-standard);
border:var(--rcn-semantic-borderwidth-300)  solid var(--rcn-semantic-color-static-border-primary);
color:var(--rcn-semantic-color-static-text_and_icon-primary);
width: calc(var(--rcn-semantic-height-stepper_stepcircle) - calc(calc(var(--rcn-semantic-borderwidth-300) * 2) - calc(calc(var(--rcn-semantic-borderwidth-100)) * 2)));
height:  calc(var(--rcn-semantic-height-stepper_stepcircle) - calc(calc(var(--rcn-semantic-borderwidth-300) * 2) - calc(calc(var(--rcn-semantic-borderwidth-100)) * 2)));
font-weight:var(--rcn-semantic-typography-text-component-default-label-fontweight);
}

.rcn-stepper__number--subStepCurrent{
background-color:var(--rcn-semantic-color-static-background-default-standard);
color:var(--rcn-semantic-color-static-text_and_icon-default-primary);
font-weight:var(--rcn-semantic-typography-text-component-default-label-fontweight);
width: calc(calc(var(--rcn-semantic-height-stepper_stepcircle) / 2) - calc(calc(var(--rcn-semantic-borderwidth-300) * 2) - calc(calc(var(--rcn-semantic-borderwidth-100)) * 2)));
height:  calc(calc(var(--rcn-semantic-height-stepper_stepcircle) / 2) - calc(calc(var(--rcn-semantic-borderwidth-300) * 2) - calc(calc(var(--rcn-semantic-borderwidth-100)) * 2)));
border:var(--rcn-semantic-borderwidth-300)  solid var(--rcn-semantic-color-interaction-border-default-primary);

}

.rcn-stepperNavigable__number--completed {
background-color:var(--rcn-semantic-color-interaction-background-default-primary);
border:var(--rcn-semantic-borderwidth-100) solid transparent;
color:var(--rcn-semantic-color-interaction-text_and_icon-default-onprimary);
}


.rcn-stepper__number--completed {
background-color:var(--rcn-semantic-color-static-background-primary);
border:var(--rcn-semantic-borderwidth-100) solid transparent;
color:var(--rcn-semantic-color-static-text_and_icon-onprimary);
}

.rcn-stepperHorizontal__sectionTitle {
color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
display: block;
text-align: center;
}

.rcn-stepperVertical__sectionTitle {
  color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
  display: block;
  text-align:left
  }


.rcn-stepper__sectionTitle--uncompleted {
color:var(--rcn-semantic-color-static-text_and_icon-onstandard);
text-decoration:none;
}

.rcn-stepperNavigable__sectionTitle--uncompleted {
  color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
}


.rcn-stepper__sectionTitle--disabled {
color:var(--rcn-semantic-color-static-text_and_icon-stepper_step_unreachable);
text-decoration: none;
}

.rcn-stepperNavigable__sectionTitle--current {
color:var(--rcn-semantic-color-interaction-text_and_icon-default-primary);
font-weight:var(--rcn-semantic-typography-text-component-default-label-fontweight);
text-decoration:none;
}

.rcn-stepper__sectionTitle--current {
color:var(--rcn-semantic-color-static-text_and_icon-primary);
font-weight:var(--rcn-semantic-typography-text-component-default-label-fontweight);
text-decoration:none;
}

.rcn-stepperNavigable__sectionTitle--completed {
color:var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
}

.rcn-stepper__sectionTitle--completed {
color:var(--rcn-semantic-color-static-text_and_icon-onstandard);
}


/*------------- Bottom Actions Banner ---------------*/
/*Nouveau composant de navigation à porter à part*/


.rcn-bottomActionsBanner{
  display: flex;
  flex-direction: row;
  gap: var(--rcn-semantic-gap-horizontal-300);
  border: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-standard);
  border-right : none;
  border-left: none;
  border-bottom:none;
  padding: var(--rcn-semantic-padding-horizontal-400) 0;
  flex-wrap: wrap;
  }
  
  .rcn-bottomActionsBanner__primaryActions {
  order: 2;
  flex-grow: 1;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--rcn-semantic-gap-horizontal-200);
  width:auto;
  }
  
  .rcn-bottomActionsBanner__secondaryActions {
  order: 1;
  justify-content: flex-start;
  display:flex;
  flex-direction: row;
  gap: var(--rcn-semantic-gap-horizontal-200);
  width:auto;
  }
  
  .rcn-bottomActionsBanner .rcn-button--primary{
      order:2;
  }

  /*------------- Grid ---------------*/
  

/*Grid globale*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap : 1rem;
  grid-template-rows: auto;
  background-color: transparent;
  margin : 0 5rem;
  column-gap: var(--rcn-semantic-gap-horizontal-500);
}

/*Template*/

.main {
  grid-template-areas: 
    "header header header header header header header header header header header header  "
    "main main main main main main sidebar sidebar sidebar sidebar sidebar sidebar"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.containermain{
  position:relative;
}

.item-a {
  grid-area: header;
  background-color: pink;
  height: 80px;
}
.item-b {
  grid-area: main;
  background-color: #00FF00;
  height: 550px;
  position:relative;
}
.item-c {
  grid-area: sidebar;
  background-color: #00BFFF;
  height: 550px;
}
.item-d {
  grid-area: footer;
  background-color: #FF4500;
  height: 100px;
}
.item-e {
  grid-area: headerLeftGutters;
  background-color: #FFD700;
}
.item-f {
  grid-area: headerRightGutters;
  background-color: #FFD700;
}
.item-e {
  grid-area: contenuvide;
  background-color: black;
  color:white;
}

.item-x {
  grid-area: stepper;
  background-color: #00BFFF;
  height: auto;
}

.item-y {
  grid-area: form;
  background-color: aquamarine;
  height: auto;
}

.item-z {
  grid-area: title;
  background-color: olive;
  height: auto;
}


/* .grid-positionAbsolute {
  display:flex;
  box-sizing: border-box;
  position: absolute;
  top:0;
  left:0;
  width:100%;

}
*/

.gridTemplate--sideSuperposedFilter {
  display: flex;
  width:calc(100% / 2 - 8px); /*équivaut à 3 colonnes*/
  /* grid-template-columns: repeat(12, 1fr); */
  /* grid-template-areas:  */
  /* "Filters Filters Filters contenuvide contenuvide contenuvide contenuvide contenuvide contenuvide contenuvide contenuvide contenuvide "; */
  height: 300px;
  position:absolute;
  top:0;
  left:0;
}

.sideSuperposedFilter {
    grid-area: Filters;
    align-self: stretch;
    height : 150px;
    display: flex;
    width:100%;
    background-color: hotpink;
}

/* .sideSuperposedFilter {
  position: absolute;
  top:0;
  left:0;
  grid-area: Filters;
  grid-column: 1 / span 3;
  height : 150px;
  background-color: hotpink;
}
*/

/*.gridTemplate--formStepperVertical {
  grid-template-areas:
  "header header header header header header header header header header header header  "
  ". . . . title title title title title title title title"
  "stepper stepper stepper . form form form form form form form form"
  "footer footer footer footer footer footer footer footer footer footer footer footer";
}
*/

.gridTemplate--formStepperVertical {
  grid-template-areas:
   ". . . . title title title title title title title title"
  "stepper stepper stepper . form form form form form form form form"
  "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.gridTemplate--formStepperHorizontal {
  grid-template-areas:
  "header header header header header header header header header header header header"
  "title title title title title title title title title title title title"
  "stepper stepper stepper stepper stepper stepper stepper stepper stepper stepper stepper stepper"
  "form form form form form form form form form form form form"
  "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.gridTemplate--searchResultPage {
  grid-template-areas:
  "header header header header header header header header header header header header  "
  "main main main main main main sidebar sidebar sidebar sidebar sidebar sidebar"
  "footer footer footer footer footer footer footer footer footer footer footer footer";
}















