@import url('../../Asset/Cores et semantiques/styles-ChorusPro.css');
@import url('/ComponentTokensButtonPrimary.min.css');
@import url('C:/Users/clara.lecume/Documents/GitHub/UXQW-Sandbox/Composants/Lot1/bouton.css'); 
@import url('../../Asset/Font_Marianne/Marianne/fontes web/Marianne-Regular.woff');



@font-face {
    font-family: 'RCNicon';
    src: url("../../Asset/Font_icon/RCNicon.ttf");

}

@font-face {
    font-family: 'Marianne';
    src: url('../../Asset/Font_Marianne/Marianne/fontes web/Marianne-Regular.woff');
}

*, body, legend {
    font-family:'Marianne',Arial;
    font-size:var(--rcn-semantic-typography-text-component-default-body-fontsize);
}

.item-b {
    grid-area: main;
    background-color: #00FF00;
    height: 550px;
  }
  .item-c {
    grid-area: sidebar;
    background-color: #00BFFF;
    height: 550px;
  }
  .item-d {
    grid-area: footer;
    background-color: #FF4500;
    height: 100px;
  }
  .item-e {
    grid-area: headerLeftGutters;
    background-color: #FFD700;
  }
  .item-f {
    grid-area: headerRightGutters;
    background-color: #FFD700;
  }
  
  /*Grid globale*/
  .container {
    display: grid;
    grid-template-columns: 4rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 4rem;
    grid-column-gap : 1rem;
    grid-template-rows: auto;
    grid-template-areas: 
      "headerLeftGutters header header header header header header header header header header header header headerRightGutters"
      ". main main main main main main sidebar sidebar sidebar sidebar sidebar sidebar ."
      ". footer footer footer footer footer footer footer footer footer footer footer footer .";
    background-color: rosybrown;
  }
  
  /*Template*/
  
  .container {
    grid-template-areas: 
      " header header header header "
      ". main main main main main main sidebar sidebar sidebar sidebar sidebar sidebar ."
      ". footer footer footer footer footer footer footer footer footer footer footer footer .";
  }
  
  
  .container--primary{
      padding: 0px 80px;
  }
  
  body{
      margin:0;
  }