:root{
$rcn-html-font-family: $rcn-semantic-typography-fontfamily-text;
$rcn-html-font-weight: $rcn-semantic-typography-fontweight-body-component;
$rcn-html-font-size: $rcn-semantic-typography-fontsize-body;
$rcn-html-line-height: $rcn-semantic-typography-lineheight-body-component;
$rcn-html-color: $rcn-semantic-color-static-text_and_icon-onstandard;
$rcn-quote-font-weight: $rcn-semantic-typography-fontweight-quote;
$rcn-quote-line-height: $rcn-semantic-typography-lineheight-body-editorial;
$rcn-p-line-height: $rcn-semantic-typography-lineheight-body-editorial;
$rcn-p-margin-bottom: $rcn-semantic-margin-vertical-paragraph;
$rcn-section-display: flex;
$rcn-section-flex-direction: column;
$rcn-h1-font-size: $rcn-semantic-typography-fontsize-h1;
$rcn-h1-line-height: $rcn-semantic-typography-lineheight-body-editorial;
$rcn-h1-font-weight: $rcn-semantic-typography-fontweight-heading;
$rcn-h1--editorial-line-height: $rcn-semantic-typography-lineheight-heading;
$rcn-h1--editorial-margin-bottom: $rcn-semantic-margin-vertical-title;
$rcn-h1bis-font-size: $rcn-semantic-typography-fontsize-h_alt-xs;
$rcn-h1bis-line-height: $rcn-semantic-typography-lineheight-body-editorial;
$rcn-h1bis-font-weight: $rcn-semantic-typography-fontweight-heading;
$rcn-h1bis--editorial-line-height: $rcn-semantic-typography-lineheight-heading;
$rcn-h1bis--editorial-margin-bottom: $rcn-semantic-margin-vertical-title;
$rcn-h2-font-size: $rcn-semantic-typography-fontsize-h2;
$rcn-h2-line-height: $rcn-semantic-typography-lineheight-body-editorial;
$rcn-h2-font-weight: $rcn-semantic-typography-fontweight-heading;
$rcn-h2--editorial-line-height: $rcn-semantic-typography-lineheight-heading;
$rcn-h2--editorial-margin-bottom: $rcn-semantic-margin-vertical-title;
$rcn-h3-font-size: $rcn-semantic-typography-fontsize-h3;
$rcn-h3-line-height: $rcn-semantic-typography-lineheight-body-editorial;
$rcn-h3-font-weight: $rcn-semantic-typography-fontweight-heading;
$rcn-h3--editorial-line-height: $rcn-semantic-typography-lineheight-heading;
$rcn-h3--editorial-margin-bottom: $rcn-semantic-margin-vertical-title;
$rcn-h4-font-size: $rcn-semantic-typography-fontsize-h4;
$rcn-h4-line-height: $rcn-semantic-typography-lineheight-body-editorial;
$rcn-h4-font-weight: $rcn-semantic-typography-fontweight-heading;
$rcn-h4--editorial-line-height: $rcn-semantic-typography-lineheight-heading;
$rcn-h4--editorial-margin-bottom: $rcn-semantic-margin-vertical-title;
$rcn-h5-font-size: $rcn-semantic-typography-fontsize-h5;
$rcn-h5-line-height: $rcn-semantic-typography-lineheight-body-editorial;
$rcn-h5-font-weight: $rcn-semantic-typography-fontweight-heading;
$rcn-h5--editorial-line-height: $rcn-semantic-typography-lineheight-heading;
$rcn-h5--editorial-margin-bottom: $rcn-semantic-margin-vertical-title;
$rcn-h6-font-size: $rcn-semantic-typography-fontsize-h6;
$rcn-h6-line-height: $rcn-semantic-typography-lineheight-body-editorial;
$rcn-h6-font-weight: $rcn-semantic-typography-fontweight-heading;
$rcn-h6--editorial-line-height: $rcn-semantic-typography-lineheight-heading;
$rcn-h6--editorial-margin-bottom: $rcn-semantic-margin-vertical-title;

}
