:root{
--rcn-icon-font-family: var(--rcn-semantic-typography-icon-rcn_icon-body-fontfamily);
--rcn-icon-font-weight: var(--rcn-semantic-typography-icon-rcn_icon-body-fontweight);
--rcn-icon-font-size: var(--rcn-semantic-typography-icon-rcn_icon-default-fontsize);
--rcn-icon-line-height: var(--rcn-semantic-typography-icon-rcn_icon-body-lineheight);
--rcn-icon--asH1-font-size: var(--rcn-semantic-typography-icon-rcn_icon-h1-fontsize);
--rcn-icon--asH1bis-font-size: var(--rcn-semantic-typography-icon-rcn_icon-h1bis-fontsize);
--rcn-icon--asH2-font-size: var(--rcn-semantic-typography-icon-rcn_icon-h2-fontsize);
--rcn-icon--asH3-font-size: var(--rcn-semantic-typography-icon-rcn_icon-h3-fontsize);
--rcn-icon--asH4-font-size: var(--rcn-semantic-typography-icon-rcn_icon-h4-fontsize);
--rcn-icon--asH5-font-size: var(--rcn-semantic-typography-icon-rcn_icon-h5-fontsize);
--rcn-icon--asH6-font-size: var(--rcn-semantic-typography-icon-rcn_icon-h6-fontsize);
--rcn-icon--mdi-dailymotion-in_before-content: "\e900";
--rcn-icon--mdi-starOutline-in_before-content: "\e901";
--rcn-icon--mdi-check-in_before-content: "\e902";
--rcn-icon--mdi-toggleSwitchOutline-in_before-content: "\e903";
--rcn-icon--mdi-toggleSwitchOffOutline-in_before-content: "\e904";
--rcn-icon--mdi-volumeOff-in_before-content: "\e905";
--rcn-icon--mdi-volumeHigh-in_before-content: "\e906";
--rcn-icon--mdi-bellBadgeOutline-in_before-content: "\e907";
--rcn-icon--mdi-bellOutline-in_before-content: "\e908";
--rcn-icon--mdi-instagram-in_before-content: "\e909";
--rcn-icon--mdi-youtube-in_before-content: "\e90a";
--rcn-icon--mdi-linkedin-in_before-content: "\e90b";
--rcn-icon--mdi-facebook-in_before-content: "\e90c";
--rcn-icon--mdi-twitter-in_before-content: "\e90d";
--rcn-icon--mdi-trashCanOutline-in_before-content: "\e90e";
--rcn-icon--mdi-calendarBlankOutline-in_before-content: "\e90f";
--rcn-icon--mdi-openInNew-in_before-content: "\e910";
--rcn-icon--mdi-cogOutline-in_before-content: "\e911";
--rcn-icon--mdi-messageTextOutline-in_before-content: "\e912";
--rcn-icon--mdi-emailOutline-in_before-content: "\e913";
--rcn-icon--mdi-cloudArrowUpOutline-in_before-content: "\e914";
--rcn-icon--mdi-closeCircleOutline-in_before-content: "\e915";
--rcn-icon--mdi-accountCircleOutline-in_before-content: "\e916";
--rcn-icon--mdi-trayArrowUp-in_before-content: "\e917";
--rcn-icon--mdi-trayArrowDown-in_before-content: "\e918";
--rcn-icon--mdi-arrowCollapseUp-in_before-content: "\e919";
--rcn-icon--mdi-arrowCollapseDown-in_before-content: "\e91a";
--rcn-icon--mdi-pencilOutline-in_before-content: "\e91b";
--rcn-icon--mdi-replay-in_before-content: "\e91c";
--rcn-icon--mdi-magnify-in_before-content: "\e91d";
--rcn-icon--mdi-close-in_before-content: "\e91e";
--rcn-icon--mdi-alertOutline-in_before-content: "\e91f";
--rcn-icon--mdi-checkCircleOutline-in_before-content: "\e920";
--rcn-icon--mdi-alertCircleOutline-in_before-content: "\e921";
--rcn-icon--mdi-information-outline-in_before-content: "\e922";
--rcn-icon--mdi-menu-in_before-content: "\e923";
--rcn-icon--mdi-dots-vertical-in_before-content: "\e924";
--rcn-icon--mdi-dots-horizontal-in_before-content: "\e925";
--rcn-icon--mdi-minus-in_before-content: "\e926";
--rcn-icon--mdi-plus-in_before-content: "\e927";
--rcn-icon--mdi-arrow-up-in_before-content: "\e928";
--rcn-icon--mdi-arrow-down-in_before-content: "\e929";
--rcn-icon--mdi-eye-off-outline-in_before-content: "\e92a";
--rcn-icon--mdi-eye-outline-in_before-content: "\e92b";
--rcn-icon--mdi-chevron-up-in_before-content: "\e92c";
--rcn-icon--mdi-chevron-right-in_before-content: "\e92d";
--rcn-icon--mdi-chevron-left-in_before-content: "\e92e";
--rcn-icon--mdi-chevron-down-in_before-content: "\e92f";
--rcn-icon--mdi-filter-remove-in_before-content: "\e930";
--rcn-icon--mdi-filter-in_before-content: "\e931";
--rcn-icon--mdi-filter-outline-in_before-content: "\e932";
--rcn-icon--mdi-microphone-in_before-content: "\e933";
--rcn-icon--mdi-microphone-outline-in_before-content: "\e934";
--rcn-icon--mdi-sort-descending-in_before-content: "\e935";
--rcn-icon--mdi-sort-ascending-in_before-content: "\e936";
--rcn-icon--mdi-sort-in_before-content: "\e937";
--rcn-icon--mdi-checkbox-marked-in_before-content: "\e935";
--rcn-icon--mdi-checkbox-blank-outline-in_before-content: "\e936";
--rcn-icon--mdi-radiobox-marked-in_before-content: "\e937";
--rcn-icon--mdi-radiobox-blank-in_before-content: "\e93b";

}
