:root{
$rcn-menu-position: relative;
$rcn-menu-display: flex;
$rcn-menu-flex-direction: row;
$rcn-menu-align-items: center;
$rcn-menu-flex-wrap: wrap;
$rcn-menu-flex-grow: 1;
$rcn-menu__entry-display: flex;
$rcn-menu__entry-flex-direction: row;
$rcn-menu__entry-position: relative;
$rcn-menu__entry-align-items: baseline;
$rcn-menu__entry-gap: $rcn-semantic-gap-horizontal-200;
$rcn-menu__entry-color: $rcn-semantic-color-interaction-text_and_icon-default-onprimary;
$rcn-menu__entry-text-decoration: $rcn-semantic-typography-textdecoration-menu_entry;
$rcn-menu__entry-line-height: $rcn-semantic-typography-lineheight-body-component;
$rcn-menu__entry-padding: $rcn-semantic-padding-vertical-400 $rcn-semantic-padding-horizontal-400;
$rcn-menu__entry--first-padding-left: $rcn-semantic-padding-horizontal-0;
$rcn-menu__entry-in_after-position: absolute;
$rcn-menu__entry-in_after-height: 0px;
$rcn-menu__entry-in_after-left: $rcn-semantic-padding-horizontal-400;
$rcn-menu__entry-in_after-bottom: $rcn-semantic-padding-vertical-200;
$rcn-menu__entry-in_after-background-color: $rcn-semantic-color-interaction-background-default-standard;
$rcn-menu__entry-in_after-width: calc(100% - calc(2 * $rcn-semantic-padding-horizontal-400));
$rcn-menu__entry-in_after-content: "";
$rcn-menu__entry--first-in_after-left: $rcn-semantic-padding-horizontal-0;
$rcn-menu__entry--first-in_after-width: calc(100% - $rcn-semantic-padding-horizontal-400);
$rcn-menu__entry-if_current-page-in_after-height: $rcn-semantic-borderwidth-300;
$rcn-menu__entry-if_hover-background-color: $rcn-semantic-color-interaction-background-hover-primary;
$rcn-menu__submenuIcon-in_before-content: $rcn-semantic-typography-content-icon-expand_vertical;
$rcn-menu__entry-if_expanded-true___rcn-menu__submenuIcon-content: $rcn-semantic-typography-content-icon-collapse_vertical;
$rcn-menu__submenu-position: absolute;
$rcn-menu__submenu-display: flex;
$rcn-menu__submenu-flex-direction: column;
$rcn-menu__submenu-top: 1;
$rcn-menu__submenu-background-color: $rcn-semantic-color-interaction-background-default-standard;
$rcn-menu__submenu-box-shadow: $rcn-semantic-dropshadow-static-overlayed;
$rcn-menu__submenu-cursor: pointer;
$rcn-menu__submenu-if_hidden-true-display: none;
$rcn-menu__submenu--hidden-display: none;
$rcn-menu__subentry-display: block;
$rcn-menu__subentry-color: $rcn-semantic-color-interaction-text_and_icon-default-onstandard;
$rcn-menu__subentry-border-left: $rcn-semantic-borderwidth-300 solid $rcn-semantic-color-interaction-border-transparent;
$rcn-menu__subentry-padding: $rcn-semantic-padding-vertical-200 $rcn-semantic-padding-vertical-400;
$rcn-menu__subentry-if_hover-background-color: $rcn-semantic-color-interaction-background-hover-standard;
$rcn-menu__subentry-if_hover-color: $rcn-semantic-color-interaction-text_and_icon-hover-onstandard;
$rcn-menu__subentry-if_current-page-border-left: $rcn-semantic-borderwidth-300 solid $rcn-semantic-color-interaction-border-default-primary;
$rcn-menu__subentry-if_current-page-color: $rcn-semantic-color-interaction-text_and_icon-default-selected;
$rcn-menu__subentry-if_current-page-font-weight: $rcn-semantic-typography-fontweight-body-component-selected;

}
