:root{
$rcn-loader-display: flex;
$rcn-loader-flex-direction: column;
$rcn-loader-gap: $rcn-semantic-gap-vertical-400;
$rcn-loader-align-items: center;
$rcn-loader__animationZone-display: flex;
$rcn-loader__animationZone-flex-direction: row;
$rcn-loader__animationZone-gap: $rcn-semantic-gap-horizontal-400;
$rcn-loader__animationZone-align-items: center;
$rcn-loader__animationZone-justify-content: center;
$rcn-loader__circle-height: 24px;
$rcn-loader__circle-width: 24px;
$rcn-loader__circle-border-radius: 0.5;
$rcn-loader__circle-background-color: $rcn-semantic-color-static-background-primary;
$rcn-loader__circle-animation: grow-shrink 1.5s ease-in-out infinite;
$rcn-loader__circle--first-animation-delay: 0s;
$rcn-loader__circle--second-animation-delay: 0.3s;
$rcn-loader__circle--third-animation-delay: 0.6s;

}
