.rcn-actionsBanner {
    display: flex;
    flex-direction: row;
    gap: $rcn-semantic-gap-horizontal-400;
    border-top: $rcn-semantic-borderwidth-100 solid $rcn-semantic-color-static-border-standard;
    padding: $rcn-semantic-padding-vertical-400 $rcn-semantic-padding-horizontal-0;
    flex-wrap: wrap;
  .rcn-button {
    &--primary {
        order: 2;
    }
    &--secondary {
        order: 1;
    }
  }
  .rcn-link {
      order: -1;
  }
  &__primaryActions {
      order: 2;
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      flex-direction: row;
      justify-content: flex-end;
      gap: $rcn-semantic-gap-horizontal-300;
  }
  &__secondaryActions {
      order: 1;
      justify-content: flex-start;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      flex-direction: row;
      gap: $rcn-semantic-gap-horizontal-300;
  }
}

