:root{
--rcn-core-color-product-100:#E6EAF5;
--rcn-core-color-product-200:#AAB7DE;
--rcn-core-color-product-400:#5770BE;
--rcn-core-color-product-600:#4662A6;
--rcn-core-color-grey-100:#F0F0F0;
--rcn-core-color-grey-200:#CECECE;
--rcn-core-color-grey-400:#949494;
--rcn-core-color-grey-600:#6A6A6A;
--rcn-core-color-grey-600-transparent:rgba(106,106,106,0.7);
--rcn-core-color-black:#000000;
--rcn-core-color-white:#FFFFFF;
--rcn-core-color-sunset-200:#FFB7A5;
--rcn-core-color-crimson-600:#E60129;
--rcn-core-color-mint-200:#8ACDB0;
--rcn-core-color-pine-600:#40605B;
--rcn-core-color-sky-200:#ABB8DF;
--rcn-core-color-grass-400:#169B62;
--rcn-core-color-dsfr_france-975:#F5F5FE;
--rcn-core-color-dsfr_france-500:#000091;
--rcn-core-color-dsfr_grey-50:#161616;
--rcn-core-color-dsfr_grey-200:#3A3A3A;
--rcn-core-color-dsfr_grey-425:#666666;
--rcn-core-color-dsfr_grey-925:#E5E5E5;
--rcn-core-color-sun-200:#FFDF66;
--rcn-core-color-shadow-900:rgba(0,0,0,0.12);
--rcn-core-color-transparent:transparent;
--rcn-core-fontsize-root:16px;
--rcn-core-fontsize-0r:calc(var(--rcn-core-fontsize-1000r) * 0);
--rcn-core-fontsize-00625r:calc(var(--rcn-core-fontsize-1000r) * 0.0625);
--rcn-core-fontsize-0125r:calc(var(--rcn-core-fontsize-1000r) * 0.125);
--rcn-core-fontsize-0250r:calc(var(--rcn-core-fontsize-1000r) * 0.25);
--rcn-core-fontsize-0375r:calc(var(--rcn-core-fontsize-1000r) * 0.375);
--rcn-core-fontsize-0500r:calc(var(--rcn-core-fontsize-1000r) * 0.5);
--rcn-core-fontsize-0750r:calc(var(--rcn-core-fontsize-1000r) * 0.75);
--rcn-core-fontsize-1000r:calc(var(--rcn-core-fontsize-root) * 1);
--rcn-core-fontsize-1250r:calc(var(--rcn-core-fontsize-1000r) * 1.25);
--rcn-core-fontsize-1375r:calc(var(--rcn-core-fontsize-1000r) * 1.375);
--rcn-core-fontsize-1500r:calc(var(--rcn-core-fontsize-1000r) * 1.5);
--rcn-core-fontsize-1750r:calc(var(--rcn-core-fontsize-1000r) * 1.75);
--rcn-core-fontsize-2000r:calc(var(--rcn-core-fontsize-1000r) * 2);
--rcn-core-fontsize-2500r:calc(var(--rcn-core-fontsize-1000r) * 2.5);
--rcn-core-fontsize-3000r:calc(var(--rcn-core-fontsize-1000r) * 3);
--rcn-core-fontsize-4000r:calc(var(--rcn-core-fontsize-1000r) * 4);
--rcn-core-fontsize-5000r:calc(var(--rcn-core-fontsize-1000r) * 5);
--rcn-core-fontsize-6000r:calc(var(--rcn-core-fontsize-1000r) * 6);
--rcn-core-fontsize-0875e:0.875em;
--rcn-core-lineheight-100:1;
--rcn-core-lineheight-150:1.5;
--rcn-core-fontfamily-default:Marianne;
--rcn-core-fontfamily-secondary:Spectral;
--rcn-core-fontfamily-rcn_icon:RCNicon;
--rcn-core-fontweight-400:regular;
--rcn-core-fontweight-600:bold;
--rcn-core-textdecoration-none:none;
--rcn-core-textdecoration-underline:underline;
--rcn-core-spacing-0:var(--rcn-core-fontsize-0r);
--rcn-core-spacing-25:var(--rcn-core-fontsize-00625r);
--rcn-core-spacing-50:var(--rcn-core-fontsize-0125r);
--rcn-core-spacing-100:var(--rcn-core-fontsize-0250r);
--rcn-core-spacing-150:var(--rcn-core-fontsize-0375r);
--rcn-core-spacing-200:var(--rcn-core-fontsize-0500r);
--rcn-core-spacing-300:var(--rcn-core-fontsize-0750r);
--rcn-core-spacing-400:var(--rcn-core-fontsize-1000r);
--rcn-core-spacing-500:var(--rcn-core-fontsize-1500r);
--rcn-core-spacing-600:var(--rcn-core-fontsize-2000r);
--rcn-core-spacing-700:var(--rcn-core-fontsize-3000r);
--rcn-core-spacing-800:var(--rcn-core-fontsize-4000r);
--rcn-core-spacing-900:var(--rcn-core-fontsize-5000r);
--rcn-core-spacing-1000:var(--rcn-core-fontsize-6000r);
--rcn-core-borderwidth-100:1px;
--rcn-core-borderwidth-200:2px;
--rcn-core-borderwidth-300:3px;
--rcn-core-borderradius-50:var(--rcn-core-fontsize-00625r);
--rcn-core-borderradius-100:var(--rcn-core-fontsize-0125r);
--rcn-core-borderradius-200:var(--rcn-core-fontsize-0375r);
--rcn-core-borderradius-300:var(--rcn-core-fontsize-1500r);
--rcn-core-breakpoint-XS:320;
--rcn-core-breakpoint-SM:576;
--rcn-core-breakpoint-MD:768;
--rcn-core-breakpoint-LG:992;
--rcn-core-breakpoint-XL:1440;
--rcn-core-gradient-to_top:linear-gradient(to top, rgba(0,0,0,0.2), rgba(0,0,0,0));
--rcn-core-gradient-to_bottom:linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0));
--rcn-core-sizing-600:var(--rcn-core-fontsize-2000r);
}