.rcn-boutons {
	border: var(--rcn-semantic-borderwidth-100) solid ;
	border-radius:var(--rcn-semantic-borderradius-200);
	padding:var(--rcn-semantic-padding-vertical-100) var(--rcn-semantic-padding-horizontal-200);
	line-height:var(--rcn-semantic-typography-text-component-default-body-lineheight);
	cursor:pointer;
	font-family:var(--rcn-semantic-typography-text-component-default-body-fontfamily);
	font-weight:var(--rcn-semantic-typography-text-component-default-body-fontweight);
	font-size:var(--rcn-semantic-typography-text-component-default-body-fontsize);
	
}

.rcn-boutons-primaire {
	background-color:var(--rcn-semantic-color-interaction-background-default-primary);
	color:var(--rcn-semantic-color-interaction-text_and_icon-default-onprimary);
	border-color: var(--rcn-semantic-color-interaction-background-default-primary);
}

.rcn-boutons-iconRight {
	padding-left: var(--rcn-semantic-padding-horizontal-50);
}

.rcn-boutons-primaire:hover {
	background-color:var(--rcn-semantic-color-interaction-background-hover-primary);
	border-color:var(--rcn-semantic-color-interaction-border-hover-primary);
}

.rcn-boutons-primaire:disabled {
	background-color:var(--rcn-semantic-color-interaction-background-disabled-primary);
	color:var(--rcn-semantic-color-interaction-text_and_icon-disabled);
	border-color:var(--rcn-semantic-color-interaction-border-disabled-standard);
	cursor: not-allowed;
}

.rcn-boutons-secondaire {
	background-color:var(--rcn-semantic-color-interaction-background-default-standard);
	color:var(--rcn-semantic-color-interaction-text_and_icon-default-primary);
	border-color: var(--rcn-semantic-color-interaction-border-default-primary);
}

.icon-close:before {
    content: "\e91e";
    font-family: var(--rcn-semantic-typography-icon-rcn_icon-body-fontfamily);
}

.rcn-boutons-secondaire:hover {
	background-color: var(--rcn-semantic-color-interaction-background-hover-standard);
	border-color:var(--rcn-semantic-color-interaction-border-hover-primary);
	color:var(--rcn-semantic-color-interaction-text_and_icon-hover-primary);
}

.rcn-boutons-secondaire:disabled {
	background-color:var(--rcn-semantic-color-interaction-background-disabled-button_secondaire);
	color:var(--rcn-semantic-color-interaction-text_and_icon-disabled);
	border-color:var(--rcn-semantic-color-interaction-border-disabled-standard);
	cursor: not-allowed;
}

.rcn-boutons-icônes {
	color:var(--rcn-semantic-color-interaction-text_and_icon-default-primary);
	font-size:var(--rcn-semantic-typography-text-component-default-body-fontsize);
	padding: 0 ;
	border-color: transparent ;
	background-color: transparent ;
}

.rcn-boutons-icônes:hover {
	color:var(--rcn-semantic-color-interaction-text_and_icon-hover-primary);
}

.rcn-boutons-icônes:disabled {
	color:var(--rcn-semantic-color-interaction-text_and_icon-disabled);
}

  /*groupe de boutons*/

  .rcn-boutons-groupeDeBouton {
	display: inline-flex;
	}

	.rcn-boutons-groupeDeBouton-bouton {
	font-size: var(--rcn-semantic-typography-text-component-default-body-fontsize);
	line-height: var(--rcn-semantic-typography-text-component-default-body-lineheight);
	font-family:var(--rcn-semantic-typography-text-component-default-body-fontfamily);
	text-decoration:var(--rcn-semantic-typography-text-component-default-body-textdecoration);
	font-weight: var(--rcn-semantic-typography-text-component-default-body-fontweight);
	border: none;
	cursor:pointer;
	background-color: var(--rcn-semantic-color-interaction-background-default-standard);
	color: var(--rcn-semantic-color-interaction-text_and_icon-default-primary);
	padding:var(--rcn-semantic-padding-vertical-100) var(--rcn-semantic-padding-horizontal-200);
	}

	.rcn-boutons-groupeDeBouton-sélectionné {
	background-color: var(--rcn-semantic-color-interaction-background-default-primary);
	color: var(--rcn-semantic-color-interaction-text_and_icon-default-onprimary);
	}
	
	
	.rcn-boutons-groupeDeBouton-premier {
	border-top-left-radius: var(--rcn-semantic-borderradius-200);
	border-bottom-left-radius: var(--rcn-semantic-borderradius-200);
	border:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-primary);
	}
	
	.rcn-boutons-groupeDeBouton-premier:hover {
	background-color: var(--rcn-semantic-color-interaction-background-hover-standard);
	color: var(--rcn-semantic-color-interaction-text_and_icon-hover-primary);
	}
	
	.rcn-boutons-groupeDeBouton-dernier {
	border-top-right-radius:var(--rcn-semantic-borderradius-200);
	border-bottom-right-radius:var(--rcn-semantic-borderradius-200);
	border:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-primary);
	}
	
	.rcn-boutons-groupeDeBouton-dernier:hover {
	background-color: var(--rcn-semantic-color-interaction-background-hover-standard);
	 color: var(--rcn-semantic-color-interaction-text_and_icon-hover-primary);
	}
	
	.rcn-boutons-groupeDeBouton-milieu {
	border:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-primary);
	margin-left: -1px;
	margin-right: -1px;
	}
	
	.rcn-boutons-groupeDeBouton-milieu:hover {
	background-color: var(--rcn-semantic-color-interaction-background-hover-standard);
	color: var(--rcn-semantic-color-interaction-text_and_icon-hover-primary);
	}
	