@import url('./Core/Core_vars.css');
@import url('./Semantic/SemanticTokensColor.min.css');
@import url('./Semantic/SemanticTokensShadow.min.css');
@import url('./Semantic/SemanticTokensLayout.min.css');
@import url('./Semantic/SemanticTokensTypography.min.css');
@import url('ComponentTokensButtonPrimary.min.css');
@import url('./Assets/Marianne-Regular.otf');

.contain{
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.flex{
	display: flex;
	flex-direction: column;
	gap : 30px;
}


.buttonGroup{
	display: flex;
	flex-direction: row;
	gap:0px;
	align-items: center;
	background-color: white;
	color: black;	
}

.button{
	padding: 8px 12px;
	border-radius : 6px;
	background-color: white;
	border: 1px solid blue;
	color: blue;
}
.button:hover{
	border-color: darkblue;
	color: darkblue;
	background-color: rgb(216, 216, 255);
}

.buttonGroup__button{
	border-radius : 0px;
	margin-right:-1px;
}
.buttonGroup__button:first-of-type{
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.buttonGroup__button:last-of-type{
	margin-right:0px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.buttonGroup__button[selected]{
	background-color: blue;
	border-left-color: white;
	color:white;
}
.buttonGroup__button[selected]:hover{
	background-color: darkblue;
	border-top-color : darkblue;
	border-bottom-color : darkblue;
}

.buttonGroup__button:first-of-type[selected]{
	border-left-color : blue;
}
.buttonGroup__button:first-of-type[selected]:hover {
	border-left-color : darkblue;
}


