@import url('../../Asset/Cores et semantiques/styles-ChorusPro.css');
@import url('/ComponentTokensButtonPrimary.min.css');
@import url('C:/Users/clara.lecume/Documents/GitHub/UXQW-Sandbox/Composants/Lot1/bouton.css'); 
@import url('../../Asset/Font_Marianne/Marianne/fontes web/Marianne-Regular.woff');



@font-face {
    font-family: 'RCNicon';
    src: url("../../Asset/Font_icon/RCNicon.ttf");

}

@font-face {
    font-family: "Marianne";
    src: url('../../Asset/Font_Marianne/Marianne/fontes web/Marianne-Regular.woff');
}


/* Reset global */
body, p, button, input, option, select, input[type="checkbox" i], 
input[type="radio" i], body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border: 0;
	font: inherit;
	vertical-align: baseline;
 }

body, legend {
  	font-family:var(--rcn-semantic-typography-text-component-default-body-fontfamily), Arial;
    font-size:1rem;
    line-height: 1;
 }

i {
 	font-style:normal;
 }

a {
	background-color: transparent;
 }

button {
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: 1rem;
 }

select, option {
    line-height:1rem;
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

b,
strong {
  font-weight: var(--rcn-semantic-typography-text-editorial-default-reset-fontweight); 
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

[hidden] {
  display: none;
  visibility: hidden;
}

.sr-only
{   position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); 
    border: 0;
}

  /* Card */

.rcn-card{
border-radius:var(--rcn-semantic-borderradius-200);
border-width:var(--rcn-semantic-borderwidth-100);
display:flex;
border-color:var(--rcn-semantic-color-static-border-standard);
border-style:solid;
background-color:var(--rcn-semantic-color-static-background-standard);

}

.rcn-card--vertical{
    flex-direction: column;
    max-width: 400px;
}

.rcn-card--horizontal{
    flex-direction: row;
}

.rcn-card__image{
    /* background-color: var(--rcn-semantic-color-static-background-standard); */
    background-color: orange;
}

.rcn-card--vertical .rcn-card__imgHolder {
    padding-bottom: calc( 0.66 * 100% );
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    display:flex;
    overflow:hidden;
}
.rcn-card--vertical .rcn-card__image{
    height: auto;
    position: absolute;
    top: calc(50% + 1px);
    left: calc(50% + 1px);
    transform: scale(1.01) translate(-50%,-50%);
    min-height: 25%;

}
.rcn-card--horizontal .rcn-card__imgHolder {
    padding-right: calc( 0.33 * 100% );
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    display:flex;
    overflow:hidden;
}

.rcn-card--horizontal .rcn-card__image{
    height: auto;
    position: absolute;
    top: calc(50% + 1px);
    left: calc(50% + 1px);
    transform: scale(1.01) translate(-50%,-50%);
    min-width: 25%;
}

.rcn-card__contentZone{
padding:var(--rcn-semantic-padding-vertical-500) var(--rcn-semantic-padding-horizontal-500);
display:flex;
flex-direction:column;
gap: var(--rcn-semantic-gap-vertical-200);
justify-content:flex-start;

}

.rcn-card__chipsZone{
    display: flex;
    flex-direction: row;
    gap:var(--rcn-semantic-gap-horizontal-200)
}

.rcn-card__subTitle{
    color:var(--rcn-semantic-color-static-text_and_icon-card_subTitle)
}

.rcn-card__actionsZone{
display: flex;
flex-direction:row;
justify-content: flex-end;
gap: var(--rcn-semantic-gap-vertical-200);

}

.rcn-card__link{
    order: 1;

}

.rcn-card__button{
    order: 2;
}

.rcn-card--interactive{
border-color: var(--rcn-semantic-color-interaction-border-default-standard);
background-color: var(--rcn-semantic-color-interaction-background-default-standard);
box-shadow: var(--rcn-semantic-dropshadow-interaction-elevated);
}

.rcn-card--interactive .rcn-title{
text-decoration: var(--rcn-semantic-typography-lien-component-default-body-textdecoration-default);
}

.rcn-card--interactive:hover{
    box-shadow: var(--rcn-semantic-dropshadow-interaction-overlayed);

}

.rcn-card--interactive:hover .rcn-title{
    text-decoration: var(--rcn-semantic-typography-lien-component-default-body-textdecoration-hover);
}

.rcn-card__selectionButton{
    font-size: var(--rcn-semantic-typography-icon-rcn_icon-h4-fontsize);
}

.rcn-card--selected{
border-color:var(--rcn-semantic-color-interaction-border-default-selected);
border-width:var(--rcn-semantic-borderwidth-300);

}

.rcn-card--selected .rcn-card__title {
    color:var(--rcn-semantic-color-interaction-text_and_icon-default-primary)
}