@import url('./Core/Core_vars.css');
@import url('./Semantic/SemanticTokensColor.min.css');
@import url('./Semantic/SemanticTokensShadow.min.css');
@import url('./Semantic/SemanticTokensLayout.min.css');
@import url('./Semantic/SemanticTokensTypography.min.css');
@import url('ComponentTokensButtonPrimary.min.css');
@import url('./Assets/Marianne-Regular.otf');


.header{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 0;
}
.header1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap : 20px;
	padding: 20px 80px;
	background-color: white;
}

.Logo{
	order: 0;
	background-color: green;
}

.SNOW{
	order: 1;
	display:flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: flex-start;
	text-decoration: underline;
	background-color: blue;	
}
.Connexion{
	order: 2;
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	background-color: grey;
	gap:10px;

}



.header2{
	display: flex;
	flex-direction: row;
	justify-content: flex-start	;
	gap : 32px;
	padding: 20px 80px;
	background-color: #5770BE;
	color: white;
}

.headlinks{
	flex-grow: 1;
	order: -1;
	display:flex;
	flex-direction: row;
	justify-content: flex-start	;
	text-decoration: underline;

}

.buttonZone{
	order: 1;
	display:flex;
	flex-direction: row;
	gap : 24px;
}

.input{
	order: 2;
}

.bout3{
	background-color: 	white;
	color: #5770BE;
}















.backtotop{
	position:fixed;
	bottom:1.5vw;
	right:1.5vw;
	padding: 1rem;
	text-align: center;
	font-size: 0.875rem;
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
	border: 1px solid #d4daef;
	color: #ffffff;
	background-color: #5771be;
	cursor:pointer;
}

.box1{
	
	background-color: blue;
	color : white;
}

.column{
	width: 100%;
	display: flex;
	gap : 0px;
	background-color: grey;
	flex-direction: column;	
	align-items : center;
	color : white;
}

.box2{
	width: 100%;
	background-color: green;
	color : white;
	margin:0px;
}

.box3{
	align-self: flex-start;
	background-color: blue;
	color : white;
}

.bigbox{
	display: flex;
	max-width:100%;
	gap : 50px;
	background-color: grey;
	flex-direction: row;	
	align-items : center;
	color : white;
}

.boutonssepare{
	display: flex;
	background-color: grey;
	flex-direction: row;
	justify-content: space-between;
	max-width:100%;
	padding: 10px;
}

.leftZone{
	display: flex;
	background-color: white;
	flex-flow: row wrap;
	justify-content: flex-start;
	gap : 20px;
}

.rightZone{
	display: flex;
	background-color: yellow;
	flex-flow: row wrap;
	justify-content: flex-end;
	gap : 20px;
}

.bout1{
	background-color: blue;

}

.bout2{
	background-color: red;
}

.footer{
	background-color: blue;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width:25vw;
	padding :20px;
	color: white;
	gap:0px;
}

.boutfoot{
	background-color: red ;
	display: flex;
	flex-direction: row;
	align-self:flex-end;
}

.h4 {
	margin: 0;
}







.loading {
  display: flex;
  justify-content: center;
  gap : 16px;
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #0074d9;
  animation: grow-shrink 1.5s ease-in-out infinite;
}

.circle1{
  animation-delay: 0s;
}

.circle2{
  animation-delay: 0.3s;
}

.circle3{
  animation-delay: 0.6s;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
