@import url('../../Asset/Cores et semantiques/styles-ChorusPro.css');
@import url('/ComponentTokensButtonPrimary.min.css');
@import url('C:/Users/clara.lecume/Documents/GitHub/UXQW-Sandbox/Composants/Lot1/bouton.css'); 
@import url('../../Asset/Font_Marianne/Marianne/fontes web/Marianne-Regular.woff');



@font-face {
    font-family: 'RCNicon';
    src: url("../../Asset/Font_icon/RCNicon.ttf");

}

@font-face {
    font-family: "Marianne";
    src: url('../../Asset/Font_Marianne/Marianne/fontes web/Marianne-Regular.woff');
}

