@import url('./Core/Core_vars.css');
@import url('./Semantic/SemanticTokensColor.min.css');
@import url('./Semantic/SemanticTokensShadow.min.css');
@import url('./Semantic/SemanticTokensLayout.min.css');
@import url('./Semantic/SemanticTokensTypography.min.css');
@import url('ComponentTokensButtonPrimary.min.css');
@import url('./Assets/Marianne-Regular.otf');


.toggle{
	padding: 2px;
	display: flex;
	align-items: center;
	background-color: blue;
	color: black;
	border-color: grey;
	border-style: solid;
	border-radius:24px;
}

.toggle:is([selected]) .toggleindicator{
	order:2;
}

.toggletextzone{
	padding-right:	6px;
	padding-left: 6px;
}

.toggleindicator{
	background-color: white;
	border: 1px;
	height : 18px;
	width : 18px;
	border-radius: 50%;
	border-color :aquamarine;
	border:1px solid;

}

