.rcn-menu {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.rcn-menu__entry {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: baseline;
  gap: var(--rcn-semantic-gap-horizontal-200);
  color: var(--rcn-semantic-color-interaction-text_and_icon-default-onprimary);
  text-decoration: var(--rcn-semantic-typography-textdecoration-menu_entry);
  line-height: var(--rcn-semantic-typography-lineheight-body-component);
  padding: var(--rcn-semantic-padding-vertical-400) var(--rcn-semantic-padding-horizontal-400);
}

.rcn-menu__entry--first {
  padding-left: var(--rcn-semantic-padding-horizontal-0);
}

.rcn-menu__entry::after {
  position: absolute;
  height: 0px;
  left: var(--rcn-semantic-padding-horizontal-400);
  bottom: var(--rcn-semantic-padding-vertical-200);
  background-color: var(--rcn-semantic-color-interaction-background-default-standard);
  width: calc(100% - calc(2 * var(--rcn-semantic-padding-horizontal-400)));
  content: ;
}

.rcn-menu__entry--first::after {
  left: var(--rcn-semantic-padding-horizontal-0);
  width: calc(100% - var(--rcn-semantic-padding-horizontal-400));
}

".rcn-menu__entry[aria-current=""page""]::after" {
  height: var(--rcn-semantic-borderwidth-300);
}

.rcn-menu__entry:hover {
  background-color: var(--rcn-semantic-color-interaction-background-hover-primary);
}

.rcn-menu__submenuIcon::before {
  content: var(--rcn-semantic-typography-content-icon-expand_vertical);
}

".rcn-menu__entry[aria-expanded=""true""] .rcn-menu__submenuIcon" {
  content: var(--rcn-semantic-typography-content-icon-collapse_vertical);
}

.rcn-menu__submenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 1;
  background-color: var(--rcn-semantic-color-interaction-background-default-standard);
  box-shadow: var(--rcn-semantic-dropshadow-static-overlayed);
  cursor: pointer;
}

".rcn-menu__submenu[aria-hidden=""true""]" {
  display: none;
}

.rcn-menu__submenu--hidden {
  display: none;
}

.rcn-menu__subentry {
  display: block;
  color: var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
  border-left: var(--rcn-semantic-borderwidth-300) solid var(--rcn-semantic-color-interaction-border-transparent);
  padding: var(--rcn-semantic-padding-vertical-200) var(--rcn-semantic-padding-vertical-400);
}

.rcn-menu__subentry:hover {
  background-color: var(--rcn-semantic-color-interaction-background-hover-standard);
  color: var(--rcn-semantic-color-interaction-text_and_icon-hover-onstandard);
}

".rcn-menu__subentry[aria-current=""page""]" {
  border-left: var(--rcn-semantic-borderwidth-300) solid var(--rcn-semantic-color-interaction-border-default-primary);
  color: var(--rcn-semantic-color-interaction-text_and_icon-default-selected);
  font-weight: var(--rcn-semantic-typography-fontweight-body-component-selected);
}

