.lib-chip__button .material-symbols-outlined {
    font-size: var(--rcn-semantic-typography-text-component-default-body-fontsize);
    height: var(--rcn-semantic-typography-text-component-default-body-fontsize);
    width: var(--rcn-semantic-typography-text-component-default-body-fontsize);
    margin-top: 2px;
}
