@import url('./Core/Core_vars.css');
@import url('./Semantic/SemanticTokensColor.min.css');
@import url('./Semantic/SemanticTokensShadow.min.css');
@import url('./Semantic/SemanticTokensLayout.min.css');
@import url('./Semantic/SemanticTokensTypography.min.css');
@import url('ComponentTokensButtonPrimary.min.css');
@import url('./Assets/Marianne-Regular.otf');

.contain{
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.buttonGroupBorder{
	border-top: 1px solid blue;
	border-bottom :1px solid blue;
	height : 31px;
}

.buttonGroup{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: white;
	color: black;	
	margin-bottom: -33px;
}

.button{
	padding: 8px 12px;
	border-radius : 6px;
	background-color: white;
	border: 1px solid blue;
	color: blue;
	margin-right:-1px;
}

.butleft{	
	order: -1;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	
}
.butmiddle{	
	border-top-left-radius : 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius : 0px; 
	
}
.butright{	
	order: 10;
	border-top-left-radius : 0px;
	border-bottom-left-radius : 0px; 
	margin-right:0px;
	
}
.selected{
	background-color: blue;
	color:white;
}

.butleft.selected{

	border-right-color:white;
}
.butmiddle.selected{
	border-left-color:white;
	border-right-color:white;
}
.butright.selected{
	border-left-color:white;
}


