
   /*------------- Grid > mettre via le fichier temp une fois que c'est good ---------------*/
    
  
  /*Grid globale*/
  .rcn-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap : var(--rcn-semantic-gap-horizontal-500);
    grid-template-rows: auto;
    background-color: transparent;
    margin : 0 5rem;
    height: 100%;
  }
  
  /*Template*/
  
  .rcn-gridTemplateExampleTest {
    grid-template-areas: 
      "title title title . . . . . . . . . "
      "main main main main main main sidebar sidebar sidebar filter filter filter";
  }
  
  /*Composants de la grille - TEST*/
  
  .item-a {
    display: flex;
    background-color: pink;
    height: 80px;
  }
  
  .item-b {
    display: flex;
    grid-area: main;
    background-color: #00FF00;
    height: 400px;
  }
  
  .item-c {
    display: flex;
    grid-area: sidebar;
    background-color: #00BFFF;
    height: 550px;
  }
  
  
  .item-e {
    display:flex;
    grid-area: title;
    background-color: black;
    height: 60px;
    color:white
  }
  
  .item-d {
    display: flex;
    background-color: #FF4500;
    height: 100px;
  }


    /*avec module de filtre - TEST*/
    
  .rcn-filter{       
    grid-area : filter;      
  }
    
