@import url('./Core/Core_vars.css');
@import url('./Semantic/SemanticTokensColor.min.css');
@import url('./Semantic/SemanticTokensShadow.min.css');
@import url('./Semantic/SemanticTokensLayout.min.css');
@import url('./Semantic/SemanticTokensTypography.min.css');
@import url('ComponentTokensButtonPrimary.min.css');
@import url('./Assets/Marianne-Regular.otf');


.boxAccordion {
	display:flex;
	flex-direction:column;
	width:100%;
	align-items:stretch;
	background-color:white;
}

.accordion {
padding:24px;
display:flex;
align-items	:center;
justify-content	: space-between;
background-color: white;
border-top:1px solid green;
border-bottom:1px solid blue;
color: black;
margin-bottom: -1px;
}

.accordionOpen {
font-weight:var(--rcn-semantic-typography-text-component-default-label-fontweight);
color:var(--rcn-semantic-color-interaction-text_and_icon-default-primary);
border-top:3px solid red;
font-weight:bold;
color:purple;
}

.accordion:hover {
background-color:blue;
}

.contentZone {
flex-grow:1;
padding-top	:24px;
padding-left:24px;
padding-right:24px;
padding-bottom:48px;
border-top:1px solid white;
}

.contentZoneOff {
	height:0px;
}