@import url('./Core/Core_vars.css');
@import url('./Semantic/SemanticTokensColor.min.css');
@import url('./Semantic/SemanticTokensShadow.min.css');
@import url('./Semantic/SemanticTokensLayout.min.css');
@import url('./Semantic/SemanticTokensTypography.min.css');
@import url('ComponentTokensButtonPrimary.min.css');
@import url('./Assets/Marianne-Regular.otf');


.box{
	
	background-color: #ffffff;
	color : white;
}

.column{
	width: 100%;
	display: flex;
	gap : 0px;
	background-color: grey;
	flex-direction: column;	
	align-items : center;
	color : white;
}

.box2{
	width: 100%;
	background-color: green;
	color : white;
	margin:0px;
}

.box3{
	align-self: flex-start;
	background-color: blue;
	color : white;
}

.bigbox{
	display: flex;
	max-width:100%;
	gap : 50px;
	background-color: grey;
	flex-direction: row;	
	align-items : center;
	color : white;
}


.paragraph {
	display:flex;
	padding:24px;
	height: 200px;
	color:#000000;
	margin-top:-16px;
	margin-bottom:-16px;
}

.ombretop {
	height: 16px;
	display:block;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0));
	border-top:1px solid;
	border-top-color:var(--rcn-semantic-color-static-border-divider_regular);
}
.ombrebottom {
	height: 16px;
	display:block;
	background-image: linear-gradient(to top, rgba(0,0,0,0.2), rgba(0,0,0,0));
	border-bottom:1px solid;
	border-bottom-color:var(--rcn-semantic-color-static-border-divider_regular);

}

