@import url('./Core/Core_vars.css');
@import url('./Semantic/SemanticTokensColor.min.css');
@import url('./Semantic/SemanticTokensShadow.min.css');
@import url('./Semantic/SemanticTokensLayout.min.css');
@import url('./Semantic/SemanticTokensTypography.min.css');
@import url('ComponentTokensButtonPrimary.min.css');
@import url('./Assets/Marianne-Regular.otf');


.toggle{
	padding: 2px;
	display: flex;
	align-items: center;
	background-color: blue;
	color: black;
	border-color: grey

}

.toggletextzone{
	padding-left:	;
	padding-right:	6px;
}

.toggleindicator{
	background-color: white;
	border: 1px grey;
	height : 0.750rem;
	width : 0.750rem;
	border-radius: 50%;
}

