/* Structure de la table */
.rcn-containerTable {
    display:block;
    width:100%;
    max-width:80vw;/* Temporaire // A voire avec les grilles peut être */
    min-width: 40vw; /* Minimum syndical sinon le tableau s'adapte au contenu */
    font-family: var(--rcn-semantic-typography-fontfamily-text);
    margin:0 auto;/*2rem temporaire*/
    box-sizing: border-box;
    position:relative;
}
.rcn-contentTable {
    display: flex;
    overflow-x: auto;
    border:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-standard);
    margin-bottom: var(--rcn-semantic-gap-vertical-400);
}
.rcn-table {
    min-width: 100%;
    box-sizing: border-box;
    color: var(--rcn-semantic-color-interaction-text_and_icon-default-onstandard);
    font-family: var(--rcn-semantic-typography-fontfamily-text);
    overflow-y: hidden;
    table-layout: auto;
    border-collapse: separate;
}

/* Pre table */
.rcn-preTable {
    display: flex;
    margin-bottom: var(--rcn-semantic-gap-vertical-400);
    justify-content: space-between;
}

.rcn-preTable__function {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap:var(--rcn-semantic-gap-vertical-200);
    flex-direction: row;
    padding: var(--rcn-semantic-gap-vertical-200);
    border-width:var(--rcn-semantic-borderwidth-100) var(--rcn-semantic-borderwidth-100) 0 var(--rcn-semantic-borderwidth-100);
    border-style: solid;
    border-color: var(--rcn-semantic-color-static-border-standard);
}

.rcn-preTable-function__actionContainer, .rcn-preTable-function__globalAction {
    display: flex;
    align-items: center;
    gap:var(--rcn-semantic-gap-vertical-400);
}

/* post table */
.rcn-postTable {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    margin-top: var(--rcn-semantic-gap-vertical-400);
}




/* ==================== */
/*      correction      */
/* ==================== */

/* 
.rcn-inputFieldBloc {
    flex-direction: unset;
}
td .rcn-inputField__input {
    flex-grow:unset;
}


.rcn-pagination__navList {
    list-style: none;
} */
