/* Ligne Cellule Titre */
.rcn-tableRow__head {
    border-style: solid;
    border-width: 0 0 var(--rcn-semantic-borderwidth-200) 0;
    border-color: var(--rcn-semantic-color-static-border-standard);
    box-sizing: border-box;
    background-color: var(--rcn-semantic-color-interaction-background-default-standard);
}

/* Ligne de Cellule Data */
.rcn-tableRow__cell, .rcn-tableSubRow__cell {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    overflow-x: auto;
}

.rcn-tableRow__cell--even,
.rcn-tableRow__cell--even .rcn-tableData--sticked,
.rcn-tableSubRow__cell--even,
.rcn-tableSubRow__cell--even .rcn-tableData--sticked  {
    background-color: var(--rcn-semantic-color-interaction-background-default-standard);
}
.rcn-tableRow__cell--odd,
.rcn-tableRow__cell--odd .rcn-tableData--sticked,
.rcn-tableSubRow__cell--odd,
.rcn-tableSubRow__cell--odd .rcn-tableData--sticked{
    background-color: var(--rcn-semantic-color-static-background-table_alternate_line);
}

.rcn-tableRow__cell--selected {
    background-color: var(--rcn-semantic-color-static-background-table_line_selected);
    border-left: var(--rcn-semantic-borderwidth-300) solid var(--rcn-semantic-color-interaction-border-default-primary);
}

.rcn-tableRow__cell--selected .rcn-tableData--sticked {
    background-color: var(--rcn-semantic-color-static-background-table_line_selected);
}
/* Cellules de titre */
.rcn-tableHead {
    border-style: solid;
    border-width: 0 var(--rcn-semantic-borderwidth-100) var(--rcn-semantic-borderwidth-200) 0;
    border-color: var(--rcn-semantic-color-static-border-standard);
    padding: var(--rcn-semantic-padding-vertical-400) var(--rcn-semantic-padding-horizontal-200);
}


.rcn-tableHead:last-child {
    border-width: 0 0 var(--rcn-semantic-borderwidth-200) 0;
}

.rcn-tableHead__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rcn-tableHead__container span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rcn-tableHead__container--foldable,
.rcn-tableHead__container--checkable {
    justify-content: center;
    width:3rem;
}

/* Cellules de données */
.rcn-tableCell {
    box-sizing: border-box;
    max-height: 1.5rem;
    padding:    var(--rcn-semantic-padding-vertical-300) 
                var(--rcn-semantic-padding-vertical-200);
    border-style: solid;
    border-width: 0 var(--rcn-semantic-borderwidth-100) 0 0;
    border-color: var(--rcn-semantic-color-static-border-standard);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rcn-tableRow__cell .rcn-tableCell:first-child {
    border-left:none;
}
.rcn-tableRow__cell .rcn-tableCell:last-child {
    border-right:none;
}

/* Contenu des cellules */
.rcn-tableCell__texte {
    display: flex;
}
.rcn-tableCell__number {
    justify-content: flex-end;
    display: flex;
}
.rcn-tableCell__link {
    display: flex;
}
.rcn-tableCell__icon {
    display: flex;
}

.rcn-tableCell__action, 
.rcn-tableCell__unfold, 
.rcn-tableCell__select {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fonctionnalité */

/* Colonne Fixe */
.rcn-tableData--sticked {
    position: sticky;
    z-index: 10;
    background-color: #fff;
}

.rcn-tableData--sticked:first-child {
    left:0;
    border-right-width: 1px;
    border-style: solid;
    border-color: var(--rcn-semantic-color-static-border-standard);
}
.rcn-tableData--sticked:nth-of-type(2) {
    left:var(--th__width--offsetLeft-0);

}

.rcn-tableData--sticked:last-child {
    right:0;
    border-left-width: 1px;
    border-style: solid;
    border-color: var(--rcn-semantic-color-static-border-standard);
}

/* Ligne Selectionnable & bandeau */

.rcn-preTable__rowSelected {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--rcn-semantic-color-interaction-background-hover-primary);
    border-width: 0 var(--rcn-semantic-borderwidth-100);
    border-style: solid;
    border-color: var(--rcn-semantic-color-static-border-standard);
    padding:var(--rcn-semantic-padding-vertical-200);
}
.rcn-preTable__rowSelected--action {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap:var(--rcn-semantic-gap-horizontal-200);
}

/* Ligne depliable */
.rcn-tableRow__cell--unfolded {
    border-left:var(--rcn-semantic-borderwidth-300) solid #000;
    border-bottom:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-static-border-standard);

}
.rcn-tableSubRow__cell--unfolded {
    border-left:var(--rcn-semantic-borderwidth-300) solid #949494;
}

.rcn-tableSubRow__cell--folded {
    display: none;
}
.rcn-tableSubRow__cell--unfolded {
    display:table-row;
}


/* ==================== */
/*      correction      */
/* ==================== */

/* Correction formulaire */
.rcn-inputFieldBloc--inline {
    flex-direction: unset;
}
/* Correction spécifique input */
.rcn-inputField__input {
    flex-grow: unset;
}
/* Correction Background bouton */
.rcn-iconButton {
    background-color: transparent;
}