button, *[role="button"] {
	border: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-background-default-primary);
	border-radius:var(--rcn-semantic-borderradius-200);
	padding:var(--rcn-semantic-padding-vertical-100) var(--rcn-semantic-padding-horizontal-200);
	line-height:var(--rcn-semantic-typography-text-component-default-body-lineheight);
	cursor:pointer;
	font-family:var(--rcn-semantic-typography-text-component-default-body-fontfamily);
	font-weight:var(--rcn-semantic-typography-text-component-default-body-fontweight);
	font-size:var(--rcn-semantic-typography-text-component-default-body-fontsize);
	
}

.rcn-boutons-primaire-default {
	background-color:var(--rcn-semantic-color-interaction-background-default-primary);
	color:var(--rcn-semantic-color-interaction-text_and_icon-default-onprimary);
}

.rcn-boutons-primaire-default-icon {
	background-color:var(--rcn-semantic-color-interaction-background-default-primary);
	color:var(--rcn-semantic-color-interaction-text_and_icon-default-onprimary);
}

.rcn-boutons-primaire-hover, .rcn-boutons-primaire-default:hover {
	background-color:var(--rcn-semantic-color-interaction-background-hover-primary);
	border-color:var(--rcn-semantic-color-interaction-border-hover-primary);
	color:var(--rcn-semantic-color-interaction-text_and_icon-default-onprimary);
}

.rcn-boutons-primaire-disable {
	background-color:var(--rcn-semantic-color-interaction-background-disabled-primary);
	color:var(--rcn-semantic-color-interaction-text_and_icon-disabled);
	border-color:var(--rcn-semantic-color-interaction-border-disabled-standard);
	cursor: not-allowed;
}

.rcn-boutons-secondaire-default {
	background-color:var(--rcn-semantic-color-interaction-background-default-standard);
	color:var(--rcn-semantic-color-interaction-text_and_icon-default-primary);
	border-color: var(--rcn-semantic-color-interaction-border-default-primary);
}

.rcn-boutons-secondaire-default-icon {
	background-color:var(--rcn-semantic-color-interaction-background-default-standard);
	color:var(--rcn-semantic-color-interaction-text_and_icon-default-primary);
	gap: var(--rcn-semantic-gap-horizontal-300);
}

.icon-close:before {
    content: "\e91e";
    font-family: 'RCNicon';
}

.rcn-boutons-secondaire-hover, .rcn-boutons-secondaire-default:hover {
	background-color:var(--rcn-semantic-color-interaction-background-default-standard);
	border-color:var(--rcn-semantic-color-interaction-border-hover-primary);
	color:var(--rcn-semantic-color-interaction-text_and_icon-hover-primary);
}

.rcn-boutons-secondaire-disable {
	background-color:var(--rcn-semantic-color-interaction-background-disabled-button_secondaire);
	color:var(--rcn-semantic-color-interaction-text_and_icon-disabled);
	border-color:var(--rcn-semantic-color-interaction-border-disabled-standard);
	cursor: not-allowed;
}

.rcn-boutons-icônes-default {
	color:var(--rcn-semantic-color-interaction-text_and_icon-default-primary);
	font-family:var(--rcn-semantic-typography-icon-rcn_icon-body-fontfamily);
	padding: 0 ;
	border-color: transparent ;
	background-color: transparent ;
}

.icon-close:before {
    content: "\e91e";
    font-family: 'RCNicon';
}

.rcn-boutons-icônes-hover, .rcn-boutons-icônes-default:hover {
	color:var(--rcn-semantic-color-interaction-text_and_icon-hover-primary);
	font-family:var(--rcn-semantic-typography-icon-rcn_icon-body-fontfamily);
	padding: 0 ;
	border-color: transparent ;
	background-color: transparent ;
}

.rcn-boutons-icônes-disable {
	color:var(--rcn-semantic-color-interaction-text_and_icon-disabled);
	font-family:var(--rcn-semantic-typography-icon-rcn_icon-body-fontfamily);
	cursor: not-allowed;
	padding: 0 ;
	border-color: transparent ;
	background-color: transparent ;
}
  
  button.rcn-boutons-toggle-default {
	  border: 0;
	  padding: 0;
	  background-color: var(--rcn-semantic-color-interaction-background-transparent);
	  font: inherit;
	  font-size: 1rem;
  }
  
  
  .rcn-boutons-toggleoff-default{
	width:60px;
	--offset: 0.25rem;
	--diameter: 1.625rem;
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
	box-sizing: content-box;
	width: calc(var(--diameter) * 2.3 + var(--offset) * 1.5);
	height: calc(var(--diameter) + var(--offset) * 1.2);
	position: relative;
	border-radius: 50rem;
	background-color: var(--rcn-semantic-color-interaction-background-default-button_toggle_off);
	transition: 50ms;
	cursor: pointer;
  }

  .rcn-boutons-toggleoff-default:hover{
	background-color: var(--rcn-semantic-color-interaction-background-hover-button_toggle_off);
  }
  
  .rcn-boutons-toggleoff-default::before {
	content: "";
	z-index: 2;
	position: absolute;
	top: 50%;
	left: var(--offset);
	box-sizing: border-box;
	width: var(--diameter);
	height: var(--diameter);
	border-radius: 50%;
	background-color: var(--rcn-semantic-color-interaction-background-default-standard);
	transform: translate(-5%, -50%);
	will-change: transform;
	transition: inherit;
	border-color: var(--rcn-semantic-color-interaction-border-disabled-standard);
  }

  .rcn-boutons-toggleon-default{
	background-color: var(--rcn-semantic-color-interaction-background-default-primary);
  }

  .rcn-boutons-toggleon-default:hover{
	background-color: var(--rcn-semantic-color-interaction-background-hover-primary);
  }
  
  .Toggle[aria-pressed="true"] .rcn-boutons-toggleoff-default,
  .Toggle__input:checked + .rcn-boutons-toggleoff-default {
	background-color: var(--rcn-semantic-color-interaction-background-default-primary);
  }

  .Toggle[aria-pressed="true"] .rcn-boutons-toggleoff-default:hover,
  .Toggle__input:checked + .rcn-boutons-toggleoff-default:hover {
	background-color: var(--rcn-semantic-color-interaction-background-hover-primary);
  }

  .Toggle[aria-pressed="true"][disabled] .rcn-boutons-toggleoff-default,
  .Toggle__input:checked + .rcn-boutons-toggleoff-default {
	background-color: var(--rcn-semantic-color-interaction-background-disabled-button_toggle_on);
	border-color: var(--rcn-semantic-color-interaction-border-disabled-standard);
  }

  .rcn-boutons-toggleon-default[disabled]{
	background-color: var(--rcn-semantic-color-interaction-background-disabled-button_toggle_on);
	border-color: var(--rcn-semantic-color-interaction-border-disabled-standard);
  }
  
  .Toggle[aria-pressed="true"] .rcn-boutons-toggleoff-default::before,
  .Toggle__input:checked + .rcn-boutons-toggleoff-default::before {
	transform: translate(130%, -50%);
  }
  
  .Toggle[disabled] .rcn-boutons-toggleoff-default,
  .Toggle__input[disabled] + .rcn-boutons-toggleoff-default {
	opacity: 0.6;
	filter: grayscale(40%);
	cursor: not-allowed;
	background-color: var(--rcn-semantic-color-interaction-background-disabled-button_toggle_off);
	border-color: var(--rcn-semantic-color-interaction-border-disabled-standard);
	color: var(--rcn-semantic-color-interaction-text_and_icon-disabled);
  }
  button.Toggle .Toggle-Text-Off, button.Toggle .Toggle-Text-On {
	color:var(--rcn-semantic-color-interaction-text_and_icon-default-onprimary);
  }
  button.Toggle .Toggle-Text-On {
	visibility: hidden;
  }
  button.Toggle[aria-pressed="true"] .Toggle-Text-On {
	visibility: visible;
  }
  button.Toggle[aria-pressed="true"] .Toggle-Text-Off {
	visibility: hidden;
  }
  .Toggle-Text-On, .Toggle-Text-Off {
	display:flex;
  }
  
  .TextToShow.ShowTexte {
	display:inline-grid;
  }
  .TextToShow {
	display:none;
  }

  /*groupe de boutons*/


  button.rcn-Boutons-groupeDeBouton-default {
    border: 0;
    padding: 0;
    background-color: transparent;
    font: inherit;
    font-size: 1rem;
  }

div.rcn-Boutons-groupeDeBouton-default {
  display: inline-flex;
  margin: 1rem 0.5rem;
}

.rcn-Boutons-groupeDeBouton-default > button {
  display: inline-flex;
  margin: 0;
  font-size: var(--rcn-semantic-typography-text-component-default-body-fontsize);
  line-height: var(--rcn-semantic-typography-text-component-default-body-lineheight);
  padding: var(--rcn-semantic-padding-vertical-100) var(--rcn-semantic-padding-horizontal-200);
  border: none;
  cursor:pointer;
  background-color: var(--rcn-semantic-color-interaction-background-default-standard);
  color: var(--rcn-semantic-color-interaction-text_and_icon-default-primary);
}
div.rcn-Boutons-groupeDeBouton-default > button:nth-of-type(1) {
  border-top-left-radius: var(--rcn-semantic-borderradius-200);
  border-bottom-left-radius: var(--rcn-semantic-borderradius-200);
  border:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-primary);
}
div.rcn-Boutons-groupeDeBouton-default > button:nth-of-type(2) {
  border:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-primary);
  margin-left: -1px;
  margin-right: -1px;
}
div.rcn-Boutons-groupeDeBouton-default > button:nth-of-type(3) {
  border-top-right-radius: var(--rcn-semantic-borderradius-200);
  border-bottom-right-radius: var(--rcn-semantic-borderradius-200);
  border:var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-primary);;
}

div.rcn-Boutons-groupeDeBouton-default > button:hover, div.rcn-Boutons-groupeDeBouton-default > button[aria-pressed="true"] {
  background-color: var(--rcn-semantic-color-interaction-background-default-primary);
  color: #fff;
}
div.rcn-Boutons-groupeDeBouton-default > button:nth-of-type(2):hover, div.rcn-Boutons-groupeDeBouton-default > button[aria-pressed="true"]:nth-of-type(2) {
  border-left: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-onprimary);
  border-right: var(--rcn-semantic-borderwidth-100) solid var(--rcn-semantic-color-interaction-border-default-onprimary);
  z-index:3;
}