.container--primary{
  padding: 0px 80px;
}

body{
  margin:0;
}



.item-a {
  grid-area: header;
  background-color: pink;
  height: 50px;
}
.item-b {
  grid-area: main;
  background-color: #00FF00;
  height: 550px;
}
.item-c {
  grid-area: sidebar;
  background-color: #00BFFF;
  height: 550px;
}
.item-d {
  grid-area: footer;
  background-color: #FF4500;
  height: 100px;
}
.item-e {
  grid-area: headerLeftGutters;
  background-color: #FFD700;
}
.item-f {
  grid-area: headerRightGutters;
  background-color: #FFD700;
}
.item-e {
  grid-area: contenuvide;
  background-color: black;
  color:white;
}

/*Grid globale*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap : 1rem;
  grid-template-rows: auto;
  background-color: transparent;
}

/*Template*/

.main {
  grid-template-areas: 
    "header header header header header header header header header header header header  "
    "main main main main main main sidebar sidebar sidebar sidebar sidebar sidebar"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.containermain{
  position:relative;
}

.gridTemplate--sideSuperposedFilter {
  grid-template-areas: 
    "Filters Filters Filters contenuvide contenuvide contenuvide contenuvide contenuvide contenuvide contenuvide contenuvide contenuvide ";
}

.sideSuperposedFilter {
    /*position: absolute;
    top:0;
    left:0;*/
    grid-area: Filters;
    justify-self: stretch;
    height : 150px;
    background-color: hotpink;
}












