:root{--rcn-semantic-padding-vertical-0:--rcn-core-spacing-0;
 --rcn-semantic-padding-vertical-50:--rcn-core-spacing-50;
 --rcn-semantic-padding-vertical-100:--rcn-core-spacing-100;
 --rcn-semantic-padding-vertical-150:--rcn-core-spacing-150;
 --rcn-semantic-padding-vertical-200:--rcn-core-spacing-200;
 --rcn-semantic-padding-vertical-300:--rcn-core-spacing-300;
 --rcn-semantic-padding-vertical-400:--rcn-core-spacing-400;
 --rcn-semantic-padding-vertical-500:--rcn-core-spacing-500;
 --rcn-semantic-padding-vertical-600:--rcn-core-spacing-600;
 --rcn-semantic-padding-vertical-700:--rcn-core-spacing-700;
 --rcn-semantic-padding-vertical-800:--rcn-core-spacing-800;
 --rcn-semantic-padding-vertical-900:--rcn-core-spacing-900;
 --rcn-semantic-padding-vertical-1000:--rcn-core-spacing-1000;
 --rcn-semantic-padding-horizontal-0:--rcn-core-spacing-0;
 --rcn-semantic-padding-horizontal-50:--rcn-core-spacing-50;
 --rcn-semantic-padding-horizontal-100:--rcn-core-spacing-100;
 --rcn-semantic-padding-horizontal-150:--rcn-core-spacing-150;
 --rcn-semantic-padding-horizontal-200:--rcn-core-spacing-200;
 --rcn-semantic-padding-horizontal-300:--rcn-core-spacing-300;
 --rcn-semantic-padding-horizontal-400:--rcn-core-spacing-400;
 --rcn-semantic-padding-horizontal-500:--rcn-core-spacing-500;
 --rcn-semantic-padding-horizontal-600:--rcn-core-spacing-600;
 --rcn-semantic-padding-horizontal-700:--rcn-core-spacing-700;
 --rcn-semantic-padding-horizontal-800:--rcn-core-spacing-800;
 --rcn-semantic-padding-horizontal-900:--rcn-core-spacing-900;
 --rcn-semantic-padding-horizontal-1000:--rcn-core-spacing-1000;
 --rcn-semantic-margin-vertical-section:--rcn-core-spacing-500;
 --rcn-semantic-margin-vertical-title:--rcn-core-spacing-500;
 --rcn-semantic-margin-vertical-paragraph:--rcn-core-spacing-500;
 --rcn-semantic-margin-vertical-fieldset:--rcn-core-spacing-500;
 --rcn-semantic-margin-vertical-inputfieldblock:--rcn-core-spacing-500;
 --rcn-semantic-gap-vertical-0:--rcn-core-spacing-0;
 --rcn-semantic-gap-vertical-50:--rcn-core-spacing-50;
 --rcn-semantic-gap-vertical-100:--rcn-core-spacing-100;
 --rcn-semantic-gap-vertical-150:--rcn-core-spacing-150;
 --rcn-semantic-gap-vertical-200:--rcn-core-spacing-200;
 --rcn-semantic-gap-vertical-300:--rcn-core-spacing-300;
 --rcn-semantic-gap-vertical-400:--rcn-core-spacing-400;
 --rcn-semantic-gap-vertical-500:--rcn-core-spacing-500;
 --rcn-semantic-gap-vertical-600:--rcn-core-spacing-600;
 --rcn-semantic-gap-vertical-700:--rcn-core-spacing-700;
 --rcn-semantic-gap-vertical-800:--rcn-core-spacing-800;
 --rcn-semantic-gap-vertical-900:--rcn-core-spacing-900;
 --rcn-semantic-gap-vertical-1000:--rcn-core-spacing-1000;
 --rcn-semantic-gap-horizontal-0:--rcn-core-spacing-0;
 --rcn-semantic-gap-horizontal-50:--rcn-core-spacing-50;
 --rcn-semantic-gap-horizontal-100:--rcn-core-spacing-100;
 --rcn-semantic-gap-horizontal-150:--rcn-core-spacing-150;
 --rcn-semantic-gap-horizontal-200:--rcn-core-spacing-200;
 --rcn-semantic-gap-horizontal-300:--rcn-core-spacing-300;
 --rcn-semantic-gap-horizontal-400:--rcn-core-spacing-400;
 --rcn-semantic-gap-horizontal-500:--rcn-core-spacing-500;
 --rcn-semantic-gap-horizontal-600:--rcn-core-spacing-600;
 --rcn-semantic-gap-horizontal-700:--rcn-core-spacing-700;
 --rcn-semantic-gap-horizontal-800:--rcn-core-spacing-800;
 --rcn-semantic-gap-horizontal-900:--rcn-core-spacing-900;
 --rcn-semantic-gap-horizontal-1000:--rcn-core-spacing-1000;
 --rcn-semantic-borderwidth-100:--rcn-core-borderwidth-100;
 --rcn-semantic-borderwidth-200:--rcn-core-borderwidth-200;
 --rcn-semantic-borderwidth-300:--rcn-core-borderwidth-300;
 --rcn-semantic-borderradius-50:--rcn-core-borderradius-50;
 --rcn-semantic-borderradius-100:--rcn-core-borderradius-100;
 --rcn-semantic-borderradius-200:--rcn-core-borderradius-200;
 --rcn-semantic-borderradius-300:--rcn-core-borderradius-300;
 --rcn-semantic-breakpoint-responsive:--rcn-core-breakpoint-SM;
 --rcn-semantic-width-stepper_stepcircle:--rcn-core-sizing-600;
 --rcn-semantic-height-stepper_stepcircle:--rcn-core-sizing-600;
}
