:root {--rcn-semantic-typography-text-component-default-body-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-component-default-body-fontweight: --rcn-core-fontweight-400;
--rcn-semantic-typography-text-component-default-body-fontsize: --rcn-core-fontsize-1000r;
--rcn-semantic-typography-text-component-default-body-lineheight: calc(--rcn-core-lineheight-100 * --rcn-core-fontsize-1000r);
--rcn-semantic-typography-text-component-default-body-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-component-default-label-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-component-default-label-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-text-component-default-label-fontsize: --rcn-core-fontsize-1000r;
--rcn-semantic-typography-text-component-default-label-lineheight: calc(--rcn-core-lineheight-100 * --rcn-core-fontsize-1000r);
--rcn-semantic-typography-text-component-default-label-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-component-default-selected-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-component-default-selected-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-text-component-default-selected-fontsize: --rcn-core-fontsize-1000r;
--rcn-semantic-typography-text-component-default-selected-lineheight: calc(--rcn-core-lineheight-100 * --rcn-core-fontsize-1000r);
--rcn-semantic-typography-text-component-default-selected-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-component-default-h1-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-component-default-h1-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-text-component-default-h1-fontsize: --rcn-core-fontsize-2500r;
--rcn-semantic-typography-text-component-default-heading-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-2500r);
--rcn-semantic-typography-text-component-default-h1-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-component-default-h1bis-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-component-default-h1bis-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-text-component-default-h1bis-fontsize: --rcn-core-fontsize-3000r;
--rcn-semantic-typography-text-component-default-h1bis-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-component-default-h2-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-component-default-h2-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-text-component-default-h2-fontsize: --rcn-core-fontsize-2000r;
--rcn-semantic-typography-text-component-default-h2-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-component-default-h3-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-component-default-h3-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-text-component-default-h3-fontsize: --rcn-core-fontsize-1750r;
--rcn-semantic-typography-text-component-default-h3-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-component-default-h4-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-component-default-h4-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-text-component-default-h4-fontsize: --rcn-core-fontsize-1500r;
--rcn-semantic-typography-text-component-default-h4-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-component-default-h5-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-component-default-h5-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-text-component-default-h5-fontsize: --rcn-core-fontsize-1375r;
--rcn-semantic-typography-text-component-default-h5-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-component-default-h6-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-component-default-h6-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-text-component-default-h6-fontsize: --rcn-core-fontsize-1250r;
--rcn-semantic-typography-text-component-default-h6-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-lien-component-default-body-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-lien-component-default-body-fontweight: --rcn-core-fontweight-400;
--rcn-semantic-typography-lien-component-default-body-fontsize: --rcn-core-fontsize-1000r;
--rcn-semantic-typography-lien-component-default-body-lineheight: calc(--rcn-core-lineheight-100 * --rcn-core-fontsize-1000r);
--rcn-semantic-typography-lien-component-default-body-textdecoration-default: --rcn-core-textdecoration-underline;
--rcn-semantic-typography-lien-component-default-body-textdecoration-hover: --rcn-core-textdecoration-none;
--rcn-semantic-typography-lien-component-default-h1-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-lien-component-default-h1-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-lien-component-default-h1-fontsize: --rcn-core-fontsize-2500r;
--rcn-semantic-typography-lien-component-default-h1-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-2500r);
--rcn-semantic-typography-lien-component-default-h1-textdecoration-default: --rcn-core-textdecoration-underline;
--rcn-semantic-typography-lien-component-default-h1-textdecoration-hover: --rcn-core-textdecoration-none;
--rcn-semantic-typography-lien-component-default-h1bis-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-lien-component-default-h1bis-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-lien-component-default-h1bis-fontsize: --rcn-core-fontsize-3000r;
--rcn-semantic-typography-lien-component-default-h1bis-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-3000r);
--rcn-semantic-typography-lien-component-default-h1bis-textdecoration-default: --rcn-core-textdecoration-underline;
--rcn-semantic-typography-lien-component-default-h1bis-textdecoration-hover: --rcn-core-textdecoration-none;
--rcn-semantic-typography-lien-component-default-h2-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-lien-component-default-h2-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-lien-component-default-h2-fontsize: --rcn-core-fontsize-2000r;
--rcn-semantic-typography-lien-component-default-h2-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-2000r);
--rcn-semantic-typography-lien-component-default-h2-textdecoration-default: --rcn-core-textdecoration-underline;
--rcn-semantic-typography-lien-component-default-h2-textdecoration-hover: --rcn-core-textdecoration-none;
--rcn-semantic-typography-lien-component-default-h3-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-lien-component-default-h3-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-lien-component-default-h3-fontsize: --rcn-core-fontsize-1750r;
--rcn-semantic-typography-lien-component-default-h3-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-1750r);
--rcn-semantic-typography-lien-component-default-h3-textdecoration-default: --rcn-core-textdecoration-underline;
--rcn-semantic-typography-lien-component-default-h3-textdecoration-hover: --rcn-core-textdecoration-none;
--rcn-semantic-typography-lien-component-default-h4-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-lien-component-default-h4-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-lien-component-default-h4-fontsize: --rcn-core-fontsize-1500r;
--rcn-semantic-typography-lien-component-default-h4-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-1500r);
--rcn-semantic-typography-lien-component-default-h4-textdecoration-default: --rcn-core-textdecoration-underline;
--rcn-semantic-typography-lien-component-default-h4-textdecoration-hover: --rcn-core-textdecoration-none;
--rcn-semantic-typography-lien-component-default-h5-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-lien-component-default-h5-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-lien-component-default-h5-fontsize: --rcn-core-fontsize-1375r;
--rcn-semantic-typography-lien-component-default-h5-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-1375r);
--rcn-semantic-typography-lien-component-default-h5-textdecoration-default: --rcn-core-textdecoration-underline;
--rcn-semantic-typography-lien-component-default-h5-textdecoration-hover: --rcn-core-textdecoration-none;
--rcn-semantic-typography-lien-component-default-h6-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-lien-component-default-h6-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-lien-component-default-h6-fontsize: --rcn-core-fontsize-1250r;
--rcn-semantic-typography-lien-component-default-h6-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-1250r);
--rcn-semantic-typography-lien-component-default-h6-textdecoration-default: --rcn-core-textdecoration-underline;
--rcn-semantic-typography-lien-component-default-h6-textdecoration-hover: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-editorial-default-body-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-editorial-default-body-fontweight: --rcn-core-fontweight-400;
--rcn-semantic-typography-text-editorial-default-body-fontsize: --rcn-core-fontsize-1000r;
--rcn-semantic-typography-text-editorial-default-body-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-1000r);
--rcn-semantic-typography-text-editorial-default-body-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-editorial-default-quote-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-editorial-default-quote-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-text-editorial-default-quote-fontsize: --rcn-core-fontsize-1000r;
--rcn-semantic-typography-text-editorial-default-quote-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-1000r);
--rcn-semantic-typography-text-editorial-default-quote-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-editorial-default-h1-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-editorial-default-h1-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-text-editorial-default-h1-fontsize: --rcn-core-fontsize-2500r;
--rcn-semantic-typography-text-editorial-default-heading-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-2500r);
--rcn-semantic-typography-text-editorial-default-h1-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-editorial-default-h1bis-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-editorial-default-h1bis-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-text-editorial-default-h1bis-fontsize: --rcn-core-fontsize-3000r;
--rcn-semantic-typography-text-editorial-default-h1bis-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-editorial-default-h2-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-editorial-default-h2-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-text-editorial-default-h2-fontsize: --rcn-core-fontsize-2000r;
--rcn-semantic-typography-text-editorial-default-h2-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-editorial-default-h3-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-editorial-default-h3-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-text-editorial-default-h3-fontsize: --rcn-core-fontsize-1750r;
--rcn-semantic-typography-text-editorial-default-h3-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-editorial-default-h4-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-editorial-default-h4-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-text-editorial-default-h4-fontsize: --rcn-core-fontsize-1500r;
--rcn-semantic-typography-text-editorial-default-h4-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-editorial-default-h5-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-editorial-default-h5-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-text-editorial-default-h5-fontsize: --rcn-core-fontsize-1375r;
--rcn-semantic-typography-text-editorial-default-h5-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-editorial-default-h6-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-text-editorial-default-h6-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-text-editorial-default-h6-fontsize: --rcn-core-fontsize-1250r;
--rcn-semantic-typography-text-editorial-default-h6-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-lien-editorial-default-body-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-lien-editorial-default-body-fontweight: --rcn-core-fontweight-400;
--rcn-semantic-typography-lien-editorial-default-body-fontsize: --rcn-core-fontsize-1000r;
--rcn-semantic-typography-lien-editorial-default-body-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-1000r);
--rcn-semantic-typography-lien-editorial-default-body-textdecoration-default: --rcn-core-textdecoration-underline;
--rcn-semantic-typography-lien-editorial-default-body-textdecoration-hover: --rcn-core-textdecoration-none;
--rcn-semantic-typography-lien-editorial-default-h1-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-lien-editorial-default-h1-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-lien-editorial-default-h1-fontsize: --rcn-core-fontsize-2500r;
--rcn-semantic-typography-lien-editorial-default-h1-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-2500r);
--rcn-semantic-typography-lien-editorial-default-h1-textdecoration-default: --rcn-core-textdecoration-underline;
--rcn-semantic-typography-lien-editorial-default-h1-textdecoration-hover: --rcn-core-textdecoration-none;
--rcn-semantic-typography-lien-editorial-default-h1bis-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-lien-editorial-default-h1bis-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-lien-editorial-default-h1bis-fontsize: --rcn-core-fontsize-3000r;
--rcn-semantic-typography-lien-editorial-default-h1bis-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-3000r);
--rcn-semantic-typography-lien-editorial-default-h1bis-textdecoration-default: --rcn-core-textdecoration-underline;
--rcn-semantic-typography-lien-editorial-default-h1bis-textdecoration-hover: --rcn-core-textdecoration-none;
--rcn-semantic-typography-lien-editorial-default-h2-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-lien-editorial-default-h2-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-lien-editorial-default-h2-fontsize: --rcn-core-fontsize-2000r;
--rcn-semantic-typography-lien-editorial-default-h2-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-2000r);
--rcn-semantic-typography-lien-editorial-default-h2-textdecoration-default: --rcn-core-textdecoration-underline;
--rcn-semantic-typography-lien-editorial-default-h2-textdecoration-hover: --rcn-core-textdecoration-none;
--rcn-semantic-typography-lien-editorial-default-h3-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-lien-editorial-default-h3-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-lien-editorial-default-h3-fontsize: --rcn-core-fontsize-1750r;
--rcn-semantic-typography-lien-editorial-default-h3-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-1750r);
--rcn-semantic-typography-lien-editorial-default-h3-textdecoration-default: --rcn-core-textdecoration-underline;
--rcn-semantic-typography-lien-editorial-default-h3-textdecoration-hover: --rcn-core-textdecoration-none;
--rcn-semantic-typography-lien-editorial-default-h4-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-lien-editorial-default-h4-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-lien-editorial-default-h4-fontsize: --rcn-core-fontsize-1500r;
--rcn-semantic-typography-lien-editorial-default-h4-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-1500r);
--rcn-semantic-typography-lien-editorial-default-h4-textdecoration-default: --rcn-core-textdecoration-underline;
--rcn-semantic-typography-lien-editorial-default-h4-textdecoration-hover: --rcn-core-textdecoration-none;
--rcn-semantic-typography-lien-editorial-default-h5-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-lien-editorial-default-h5-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-lien-editorial-default-h5-fontsize: --rcn-core-fontsize-1375r;
--rcn-semantic-typography-lien-editorial-default-h5-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-1375r);
--rcn-semantic-typography-lien-editorial-default-h5-textdecoration-default: --rcn-core-textdecoration-underline;
--rcn-semantic-typography-lien-editorial-default-h5-textdecoration-hover: --rcn-core-textdecoration-none;
--rcn-semantic-typography-lien-editorial-default-h6-fontfamily: --rcn-core-fontfamily-default;
--rcn-semantic-typography-lien-editorial-default-h6-fontweight: --rcn-core-fontweight-600;
--rcn-semantic-typography-lien-editorial-default-h6-fontsize: --rcn-core-fontsize-1250r;
--rcn-semantic-typography-lien-editorial-default-h6-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-1250r);
--rcn-semantic-typography-lien-editorial-default-h6-textdecoration-default: --rcn-core-textdecoration-underline;
--rcn-semantic-typography-lien-editorial-default-h6-textdecoration-hover: --rcn-core-textdecoration-none;
--rcn-semantic-typography-text-editorial-secondary-body-fontfamily: --rcn-core-fontfamily-secondary;
--rcn-semantic-typography-text-editorial-secondary-body-fontweight: --rcn-core-fontweight-400;
--rcn-semantic-typography-text-editorial-secondary-body-fontsize: --rcn-core-fontsize-1000r;
--rcn-semantic-typography-text-editorial-secondary-body-lineheight: calc(--rcn-core-lineheight-150 * --rcn-core-fontsize-1000r);
--rcn-semantic-typography-text-editorial-secondary-body-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-icon-rcn_icon-default-fontsize: --rcn-core-fontsize-0875e;
--rcn-semantic-typography-icon-rcn_icon-body-fontfamily: --rcn-core-fontfamily-rcn_icon;
--rcn-semantic-typography-icon-rcn_icon-body-fontweight: --rcn-core-fontweight-400;
--rcn-semantic-typography-icon-rcn_icon-body-fontsize: --rcn-core-fontsize-1000r;
--rcn-semantic-typography-icon-rcn_icon-body-lineheight: calc(--rcn-core-lineheight-100 * --rcn-core-fontsize-1000r);
--rcn-semantic-typography-icon-rcn_icon-body-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-icon-rcn_icon-h1-fontfamily: --rcn-core-fontfamily-rcn_icon;
--rcn-semantic-typography-icon-rcn_icon-h1-fontweight: --rcn-core-fontweight-400;
--rcn-semantic-typography-icon-rcn_icon-h1-fontsize: calc(--rcn-semantic-typography-text-component-default-h1-fontsize* 0.875);
--rcn-semantic-typography-icon-rcn_icon-h1-lineheight: calc(--rcn-core-lineheight-100 * --rcn-core-fontsize-2500r);
--rcn-semantic-typography-icon-rcn_icon-h1-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-icon-rcn_icon-h1bis-fontfamily: --rcn-core-fontfamily-rcn_icon;
--rcn-semantic-typography-icon-rcn_icon-h1bis-fontweight: --rcn-core-fontweight-400;
--rcn-semantic-typography-icon-rcn_icon-h1bis-fontsize: calc(--rcn-semantic-typography-text-component-default-h1bis-fontsize* 0.875);
--rcn-semantic-typography-icon-rcn_icon-h1bis-lineheight: calc(--rcn-core-lineheight-100 * --rcn-core-fontsize-3000r);
--rcn-semantic-typography-icon-rcn_icon-h1bis-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-icon-rcn_icon-h2-fontfamily: --rcn-core-fontfamily-rcn_icon;
--rcn-semantic-typography-icon-rcn_icon-h2-fontweight: --rcn-core-fontweight-400;
--rcn-semantic-typography-icon-rcn_icon-h2-fontsize: calc(--rcn-semantic-typography-text-component-default-h2-fontsize* 0.875);
--rcn-semantic-typography-icon-rcn_icon-h2-lineheight: calc(--rcn-core-lineheight-100 * --rcn-core-fontsize-2000r);
--rcn-semantic-typography-icon-rcn_icon-h2-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-icon-rcn_icon-h3-fontfamily: --rcn-core-fontfamily-rcn_icon;
--rcn-semantic-typography-icon-rcn_icon-h3-fontweight: --rcn-core-fontweight-400;
--rcn-semantic-typography-icon-rcn_icon-h3-fontsize: calc(--rcn-semantic-typography-text-component-default-h3-fontsize* 0.875);
--rcn-semantic-typography-icon-rcn_icon-h3-lineheight: calc(--rcn-core-lineheight-100 * --rcn-core-fontsize-1750r);
--rcn-semantic-typography-icon-rcn_icon-h3-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-icon-rcn_icon-h4-fontfamily: --rcn-core-fontfamily-rcn_icon;
--rcn-semantic-typography-icon-rcn_icon-h4-fontweight: --rcn-core-fontweight-400;
--rcn-semantic-typography-icon-rcn_icon-h4-fontsize: calc(--rcn-semantic-typography-text-component-default-h4-fontsize* 0.875);
--rcn-semantic-typography-icon-rcn_icon-h4-lineheight: calc(--rcn-core-lineheight-100 * --rcn-core-fontsize-1500r);
--rcn-semantic-typography-icon-rcn_icon-h4-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-icon-rcn_icon-h5-fontfamily: --rcn-core-fontfamily-rcn_icon;
--rcn-semantic-typography-icon-rcn_icon-h5-fontweight: --rcn-core-fontweight-400;
--rcn-semantic-typography-icon-rcn_icon-h5-fontsize: calc(--rcn-semantic-typography-text-component-default-h5-fontsize* 0.875);
--rcn-semantic-typography-icon-rcn_icon-h5-lineheight: calc(--rcn-core-lineheight-100 * --rcn-core-fontsize-1375r);
--rcn-semantic-typography-icon-rcn_icon-h5-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-icon-rcn_icon-h6-fontfamily: --rcn-core-fontfamily-rcn_icon;
--rcn-semantic-typography-icon-rcn_icon-h6-fontweight: --rcn-core-fontweight-400;
--rcn-semantic-typography-icon-rcn_icon-h6-fontsize: calc(--rcn-semantic-typography-text-component-default-h6-fontsize* 0.875);
--rcn-semantic-typography-icon-rcn_icon-h6-lineheight: calc(--rcn-core-lineheight-100 * --rcn-core-fontsize-1250r);
--rcn-semantic-typography-icon-rcn_icon-h6-textdecoration: --rcn-core-textdecoration-none;
--rcn-semantic-typography-icon-rcn_icon-dailymotion-content:  "\e900";
--rcn-semantic-typography-icon-rcn_icon-favorite-content:  "\e901";
--rcn-semantic-typography-icon-rcn_icon-volume_off-content:  "\e905";
--rcn-semantic-typography-icon-rcn_icon-volume_on-content:  "\e906";
--rcn-semantic-typography-icon-rcn_icon-notifaction_on-content:  "\e907";
--rcn-semantic-typography-icon-rcn_icon-notification-content:  "\e908";
--rcn-semantic-typography-icon-rcn_icon-instagram-content:  "\e909";
--rcn-semantic-typography-icon-rcn_icon-youtube-content:  "\e90a";
--rcn-semantic-typography-icon-rcn_icon-linkedin-content:  "\e90b";
--rcn-semantic-typography-icon-rcn_icon-facebook-content:  "\e90c";
--rcn-semantic-typography-icon-rcn_icon-twitter-content:  "\e90d";
--rcn-semantic-typography-icon-rcn_icon-delete-content:  "\e90e";
--rcn-semantic-typography-icon-rcn_icon-calendar-content:  "\e90f";
--rcn-semantic-typography-icon-rcn_icon-external_link-content:  "\e910";
--rcn-semantic-typography-icon-rcn_icon-settings-content:  "\e911";
--rcn-semantic-typography-icon-rcn_icon-message-content:  "\e912";
--rcn-semantic-typography-icon-rcn_icon-email-content:  "\e913";
--rcn-semantic-typography-icon-rcn_icon-close_chips-content:  "\e915";
--rcn-semantic-typography-icon-rcn_icon-user-content:  "\e916";
--rcn-semantic-typography-icon-rcn_icon-download-content:  "\e918";
--rcn-semantic-typography-icon-rcn_icon-edit-content:  "\e91b";
--rcn-semantic-typography-icon-rcn_icon-reset-content:  "\e91c";
--rcn-semantic-typography-icon-rcn_icon-search-content:  "\e91d";
--rcn-semantic-typography-icon-rcn_icon-close-content:  "\e91e";
--rcn-semantic-typography-icon-rcn_icon-warning-content:  "\e91f";
--rcn-semantic-typography-icon-rcn_icon-success-content:  "\e920";
--rcn-semantic-typography-icon-rcn_icon-alert-content:  "\e921";
--rcn-semantic-typography-icon-rcn_icon-information-content:  "\e922";
--rcn-semantic-typography-icon-rcn_icon-menu-content:  "\e923";
--rcn-semantic-typography-icon-rcn_icon-actions_menu-content:  "\e924";
--rcn-semantic-typography-icon-rcn_icon-minus-content:  "\e926";
--rcn-semantic-typography-icon-rcn_icon-plus-content:  "\e927";
--rcn-semantic-typography-icon-rcn_icon-up-content:  "\e928";
--rcn-semantic-typography-icon-rcn_icon-down-content:  "\e929";
--rcn-semantic-typography-icon-rcn_icon-hide-content:  "\e92a";
--rcn-semantic-typography-icon-rcn_icon-show-content:  "\e92b";
--rcn-semantic-typography-icon-rcn_icon-expand_vertical-content:  "\e92f";
--rcn-semantic-typography-icon-rcn_icon-collapse_vertical-content:  "\e92c";
--rcn-semantic-typography-icon-rcn_icon-expand_horizontal-content:  "\e92d";
--rcn-semantic-typography-icon-rcn_icon-collapse-horizontal-content:  "\e92e";
--rcn-semantic-typography-icon-rcn_icon-breadcrum_divider-content:  "\e92d";
--rcn-semantic-typography-icon-rcn_icon-filter-content:  "\e931";
--rcn-semantic-typography-icon-rcn_icon-filter_remove-content:  "\e930";
--rcn-semantic-typography-icon-rcn_icon-microphone-content:  "\e933";
--rcn-semantic-typography-icon-rcn_icon-sort_descending-content:  "\e935";
--rcn-semantic-typography-icon-rcn_icon-sort_ascending-content:  "\e936";
--rcn-semantic-typography-icon-rcn_icon-sort-content:  "\e937";
--rcn-semantic-typography-icon-rcn_icon-checkbox_checked-content:  "\e938";
--rcn-semantic-typography-icon-rcn_icon-checkbox_blank-content:  "\e939";
--rcn-semantic-typography-icon-rcn_icon-radiobox_checked-content:  "\e93a";
--rcn-semantic-typography-icon-rcn_icon-radiobox_blank-content:  "\e93b";
--rcn-semantic-typography-icon-rcn_icon-expand_collapse_stepper-content:  "\e93c";
--rcn-semantic-typography-icon-rcn_icon-collapse_all-content:  "\e93d";
--rcn-semantic-typography-icon-rcn_icon-expand_all-content:  "\e93e";
 } 