:root{--rcn-semantic-dropshadow-interaction-elevated:--rcn-core-shadow-100;
 --rcn-semantic-dropshadow-interaction-overlayed:--rcn-core-shadow-200;
  --rcn-semantic-dropshadow-interaction-detached:--rcn-core-shadow-300;
 --rcn-semantic-dropshadow-static-elevated:--rcn-core-shadow-100;
 --rcn-semantic-dropshadow-static-overlayed:--rcn-core-shadow-200;
 --rcn-semantic-dropshadow-static-detached:--rcn-core-shadow-300;
}
